{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'profile' %}

{% block title %}{{ 'profile.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <h1>{{ 'profile.title' | trans }}</h1>

        <form
            action="{{ path('update profile') }}"
            method="post"
            class="wrapper wrapper--small wrapper--center flow"
        >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('update profile') }}">

            {% if error %}
                {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
            {% endif %}

            <p class="text--info text--center">
                {{ 'profile.note' | trans }}
            </p>

            <div class="flow flow--small">
                <label for="name">
                    {{ 'users.name' | trans }}
                    <span class="text--secondary">
                        {{ 'forms.optional_max_chars' | trans({ number: 100 }) }}
                    </span>
                </label>

                {% if errors.name is defined %}
                    <p class="form__error" role="alert" id="name-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.name }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="name"
                    name="name"
                    value="{{ name }}"
                    required
                    maxlength="100"
                    autocomplete="name"
                    {% if errors.name is defined %}
                        aria-invalid="true"
                        aria-errormessage="name-error"
                    {% endif %}
                />
            </div>

            <div class="flow flow--small">
                <label for="email">
                    {{ 'users.email' | trans }}
                </label>

                {% if errors.email is defined %}
                    <p class="form__error" role="alert" id="email-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.email }}
                    </p>
                {% endif %}

                <input
                    type="email"
                    id="email"
                    name="email"
                    value="{{ email }}"
                    required
                    autocomplete="email"
                    {% if errors.email is defined %}
                        aria-invalid="true"
                        aria-errormessage="email-error"
                    {% endif %}
                />
            </div>

            <fieldset class="flow">
                <legend>{{ 'users.password' | trans }}</legend>

                <p class="form__caption">
                    {{ 'profile.leave_password' | trans }}
                </p>

                <div class="flow flow--small">
                    <label for="current-password">
                        {{ 'profile.current_password' | trans }}
                    </label>

                    {% if errors.password is defined %}
                        <p class="form__error" role="alert" id="current-password-error">
                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                            {{ errors.password }}
                        </p>
                    {% endif %}

                    <div class="input-container" data-controller="password">
                        <input
                            type="password"
                            id="current-password"
                            name="currentPassword"
                            autocomplete="current-password"
                            data-password-target="input"
                            {% if errors.password is defined %}
                                aria-invalid="true"
                                aria-errormessage="current-password-error"
                            {% endif %}
                        />

                        <button
                            type="button"
                            role="switch"
                            data-action="password#toggle"
                            data-password-target="button"
                        >
                            {{ icon('eye') }}
                            {{ icon('eye-slash') }}
                            <span class="sr-only">
                                {{ 'forms.show_password' | trans }}
                            </span>
                        </button>
                    </div>
                </div>

                <div class="flow flow--small">
                    <label for="new-password">
                        {{ 'profile.new_password' | trans }}
                    </label>

                    <div class="input-container" data-controller="password">
                        <input
                            type="password"
                            id="new-password"
                            name="newPassword"
                            autocomplete="new-password"
                            data-password-target="input"
                        />

                        <button
                            type="button"
                            role="switch"
                            data-action="password#toggle"
                            data-password-target="button"
                        >
                            {{ icon('eye') }}
                            {{ icon('eye-slash') }}
                            <span class="sr-only">
                                {{ 'forms.show_password' | trans }}
                            </span>
                        </button>
                    </div>
                </div>
            </fieldset>

            <div class="form__actions">
                <button id="form-update-profile-submit" class="button--primary" type="submit">
                    {{ 'forms.save_changes' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
