{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{{ form_start(form, { attr: {
    'class': 'form--standard',
}}) }}
    {{ form_errors(form) }}

    <div class="flow flow--small">
        <label for="{{ field_id(form.name) }}">
            {{ 'labels.name' | trans }}

            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 50 }) }}
            </small>
        </label>

        {{ form_errors(form.name) }}

        <input
            type="text"
            id="{{ field_id(form.name) }}"
            name="{{ field_name(form.name) }}"
            value="{{ field_value(form.name) }}"
            required
            maxlength="50"
            {% if field_has_errors(form.name) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form.name, 'error') }}"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="{{ field_id(form.description) }}">
            {{ 'labels.description' | trans }}

            <small class="text--secondary">
                {{ 'forms.optional_max_chars' | trans({ number: 250 }) }}
            </small>
        </label>

        {{ form_errors(form.description) }}

        <input
            type="text"
            id="{{ field_id(form.description) }}"
            name="{{ field_name(form.description) }}"
            value="{{ field_value(form.description) }}"
            maxlength="250"
            {% if field_has_errors(form.description) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form.description, 'error') }}"
            {% endif %}
        />
    </div>

    <fieldset>
        <legend>{{ 'labels.color' | trans }}</legend>

        <div class="flow flow--small">
            {{ form_errors(form.color) }}

            <div class="flow flow--inline flow--smaller">
                {% for color in form.color %}
                    <span>
                        <input
                            type="radio"
                            id="{{ field_id(color) }}"
                            name="{{ field_name(color) }}"
                            value="{{ field_value(color) }}"
                            {{ field_value(color) == field_value(form.color) ? 'checked' }}
                        />

                        <label for="{{ field_id(color) }}" class="badge badge--big badge--{{ field_value(color) }}">
                            {{ ("common.colors." ~ field_value(color)) | trans }}
                        </label>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form__actions">
        <button class="button--primary" type="submit">
            {{ submit_label }}
        </button>
    </div>
{{ form_end(form) }}
