{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.description) }}

    <fieldset>
        <legend>
            {{ field_label(form.color) }}
        </legend>

        <div class="flow flow--small">
            {{ form_errors(form.color) }}

            <div class="flow flow--inline flow--smaller">
                {% for color in form.color %}
                    <span>
                        <input
                            type="radio"
                            id="{{ field_id(color) }}"
                            name="{{ field_name(color) }}"
                            value="{{ field_value(color) }}"
                            {{ field_value(color) == field_value(form.color) ? 'checked' }}
                        />

                        <label for="{{ field_id(color) }}" class="badge badge--big badge--{{ field_value(color) }}">
                            {{ ("common.colors." ~ field_value(color)) | trans }}
                        </label>
                    </span>
                {% endfor %}
            </div>
        </div>
    </fieldset>
{{ form_end(form) }}
