{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'labels' %}

{% block title %}{{ 'labels.index.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'labels.index.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'labels.index.title' | trans }}</h1>

        <div class="flow">
            <div class="cols cols--center flow">
                <div class="col--extend">
                    {% if labels|length > 0 %}
                        <p class="text--secondary">
                            {{ 'labels.index.number' | trans({ count: labels|length }) }}
                        </p>
                    {% endif %}
                </div>

                <a href="{{ path('new label') }}" class="button button--primary button--uppercase">
                    {{ icon('plus') }}
                    {{ 'labels.index.new_label' | trans }}
                </a>
            </div>

            {% if labels|length > 0 %}
                <ul class="list--padded list--border list--nostyle">
                    {% for label in labels %}
                        <li class="cols cols--baseline flow" data-test="label-item">
                            <p class="badge badge--{{ label.color }}">
                                {{ label.name }}
                            </p>

                            <p class="col--extend text--secondary">
                                {{ label.description }}
                            </p>

                            <a href="{{ path('edit label', { uid: label.uid }) }}">
                                {{ 'labels.index.edit' | trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="placeholder flow flow--larger">
                    <img class="placeholder__image" src="{{ asset('illustration-placeholder.svg') }}" alt="" />

                    <p class="placeholder__text">
                        {{ 'labels.index.none' | trans }}
                    </p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
