{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if inputAttrs is not defined %}
    {% set inputAttrs = {} %}
{% endif %}

<div
    class="input-texts"
    data-controller="input-texts"
    data-action="click->input-texts#focusInput"
    data-input-texts-index-value="{{ field|length > 0 ? field|last.vars.name + 1 : 0 }}"
    data-input-texts-name-value="{{ field_name(field) }}"
    data-input-texts-name-template-value="{{ field_name(field.vars.prototype) }}"
>
    <span class="input-texts__list" data-input-texts-target="list">
    </span>

    <input
        class="input-texts__input"
        type="text"
        id="{{ field_id(field) }}"
        value=""
        data-input-texts-target="input"
        data-action="keydown->input-texts#handleInput blur->input-texts#addCurrentValue"
        {% if field_has_errors(field) %}
            aria-invalid="true"
            aria-errormessage="{{ field_id(field, 'error') }}"
        {% endif %}
        {% for attr, value in inputAttrs %}
            {{ attr }}="{{ value }}"
        {% endfor %}
    />

    <template data-input-texts-target="template">
        <button
            type="button"
            class="button--discreet-alt"
            data-action="input-texts#remove keydown->input-texts#removeCurrent"
            data-value=""
            aria-label={{ 'forms.input_texts.remove' | trans }}
        >
            <span data-target="value">
            </span>

            {{ icon('close') }}
        </button>
    </template>

    {% for childField in field %}
        <input
            type="hidden"
            name="{{ field_name(childField) }}"
            value="{{ field_value(childField) }}"
            data-input-texts-target="data"
            {% if field_has_errors(childField) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(childField, 'error') }}"
            {% endif %}
        />
    {% endfor %}
</div>
