{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% use 'form_div_layout.html.twig' %}

{%- block button_row -%}
    <div{% with {attr: row_attr|merge({class: row_attr.class|default('form__actions')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block checkbox_row -%}
    {%- set checkbox_layout = true -%}
    {{- block('form_row') -}}
{%- endblock checkbox_row %}

{%- block checkbox_label -%}
    {%- set no_optional = true -%}
    {{- block('form_label') -}}
{%- endblock checkbox_label -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- set enclosure = attr['data-enclosure']|default('') -%}
        {%- set enclosure_attr = {} -%}
        {%- if enclosure %}
            {%- set enclosure_attr = {class: 'enclosure enclosure--' ~ enclosure} -%}
        {%- endif %}

        {%- for child in form %}
            <div{% with { attr: enclosure_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block radio_label -%}
    {%- set no_optional = true -%}
    {{- block('form_label') -}}
{%- endblock radio_label -%}

{%- block editor_row -%}
    <div class="flow flow--small">
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock editor_row -%}

{%- block editor_widget -%}
    <div class="editor" data-controller="editor">
        {{- form_widget(form, {
            'required': false,
            'attr': {
                'data-controller': 'tinymce',
                'data-tinymce-upload-url-value': path('create message document'),
                'data-tinymce-upload-csrf-value': csrf_token('create message document'),
                'data-editor-target': 'tinymce',
                'data-action': 'new-document->editor#newDocument remove-document->tinymce#removeImage',
            },
        }) -}}

        <div class="editor__documents">
            <turbo-frame
                id="message-documents"
                src="{{ path('message documents', { filter: 'unattached' }) }}"
                data-controller="message-documents"
                data-editor-target="messageDocuments"
                data-action="remove-document->editor#removeDocument new-document->message-documents#reload"
            >
            </turbo-frame>
        </div>
    </div>
{%- endblock editor_widget -%}

{%- block form_errors -%}
    {%- if errors|length == 1 -%}
        <p class="form__error" role="alert" id="{{ field_id(id, 'error') }}">
            <span class="sr-only">{{ 'forms.error' | trans }}</span>

            {{ errors[0].message }}
        </p>
    {%- elseif errors|length > 1 -%}
        <div class="form__error" role="alert" id="{{ field_id(id, 'error') }}">
            <span class="sr-only">{{ 'forms.error' | trans }}</span>

            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' form__caption')|trim}) -%}
        <p id="{{ field_id(id, 'caption') }}"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_help_content') -}}
        </p>
    {%- endif -%}
{%- endblock form_help %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {% if label_attr['data-icon']|default('') -%}
                {{ icon(label_attr['data-icon']) }}&nbsp;
            {%- endif -%}
            {{- block('form_label_content') -}}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_label_content -%}
    {{- parent() -}}

    {%- set required = required|default(false) -%}
    {%- set no_optional = no_optional|default(false) -%}

    {%- if disabled %}
        <small class="text--secondary">
            {{ 'forms.read_only' | trans }}
        </small>
    {%- elseif not no_optional %}
        {%- if not required and attr.maxlength is defined -%}
            <small class="text--secondary">
                {{ 'forms.optional_max_chars' | trans({ number: attr.maxlength }) }}
            </small>
        {%- elseif not required -%}
            <small class="text--secondary">
                {{ 'forms.optional' | trans }}
            </small>
        {%- elseif attr.maxlength is defined -%}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: attr.maxlength }) }}
            </small>
        {%- endif %}
    {%- endif %}
{%- endblock -%}

{%- block form_row -%}
    {%- set row_class = row_class|default(row_attr.class|default('flow flow--small')|trim) -%}
    {%- set row_attr = row_attr|merge({class: row_class}) -%}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': field_id(id, 'caption')}} -%}
    {%- endif -%}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {%- set checkbox_layout = checkbox_layout|default(false) -%}
        {%- if checkbox_layout -%}
            {%- set enclosure = attr['data-enclosure']|default('') -%}
            {%- set enclosure_attr = {} -%}
            {%- if enclosure %}
                {%- set enclosure_attr = {class: 'enclosure enclosure--' ~ enclosure} -%}
            {%- endif %}
            {{- form_errors(form) -}}
            <div{% with { attr: enclosure_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- form_widget(form, widget_attr) -}}
                {{- form_label(form) -}}
            </div>
            {{- form_help(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form, widget_attr) -}}
        {%- endif -%}
    </div>
{%- endblock form_row %}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- block('form_rows') -}}
            {{- form_rest(form) -}}
        </div>
    {%- endif -%}
{%- endblock form_widget_compound -%}

{%- block multiselect_row -%}
    <div class="flow flow--small">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock multiselect_row -%}

{%- block multiselect_widget -%}
    <div class="multiselect" data-controller="multiselect">
        <select
            id="{{ field_id(form, 'data') }}"
            name="{{ field_name(form) }}"
            multiple
            data-multiselect-target="data"
            data-action="multiselect#refresh"
            hidden
        >
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>

        <div class="flow flow--smaller">
            <select
                id="{{ field_id(form) }}"
                class="multiselect__select widget--small"
                data-multiselect-target="select"
                data-action="multiselect#select"
                {% with {attr: attr} %}{{ block('attributes') }}{% endwith %}
            >
            </select>

            <div class="cols cols--always cols--wrap flow flow--smaller" data-multiselect-target="list">
            </div>
        </div>

        <template data-multiselect-target="template">
            <button
                type="button"
                class="button--discreet-alt"
                data-action="multiselect#unselect"
                data-target="unselect"
                data-value=""
                aria-label={{ 'forms.multiselect.unselect' | trans }}
            >
                <span data-target="name">
                </span>

                {{ icon('close') }}
            </button>
        </template>
    </div>
{%- endblock multiselect_widget -%}

{%- block password_widget -%}
    <div class="input-container" data-controller="password">
        {%- set attr = attr|merge({ 'data-password-target': 'input' }) -%}
        {{- parent() -}}

        <button
            class="button--icon"
            type="button"
            role="switch"
            data-action="password#toggle"
            data-password-target="button"
        >
            {{ icon('eye') }}
            {{ icon('eye-slash') }}

            <span class="sr-only">
                {{ 'forms.show_password' | trans }}
            </span>
        </button>
    </div>
{%- endblock password_widget %}

{%- block submit_arrow_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('button--primary') ~ ' button--animated-icon')|trim}) %}
    <button type="submit" {{ block('button_attributes') }}>
        {%- if label_html is same as(false) -%}
            {{ label|trans(label_translation_parameters, translation_domain) -}}
        {%- else -%}
            {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
        {%- endif -%}

        &nbsp;{{ icon('arrow-right') }}
    </button>
{%- endblock submit_arrow_widget %}

{%- block submit_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('button--primary'))|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget %}

{%- block widget_attributes -%}
    {%- if not valid %}
        {% set attr = attr|merge({'aria-invalid': 'true', 'aria-errormessage': field_id(id, 'error')}) %}
    {% endif -%}
    {{ parent() }}
{%- endblock widget_attributes -%}

{%- block labels_row -%}
    {%- set row_class = row_class|default(row_attr.class|default('flow flow--small')|trim) -%}
    {%- set row_attr = row_attr|merge({class: row_class}) -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {% for label in form %}
            <div>
                <input
                    type="checkbox"
                    id="{{ field_id(label) }}"
                    name="{{ field_name(label) }}"
                    value="{{ field_value(label) }}"
                    {{ field_value(label) in field_value(form) ? 'checked' }}
                    {% if label.vars.attr.description %}
                        aria-describedby="{{ field_id(label, 'description') }}"
                    {% endif %}
                />

                <label for="{{ field_id(label) }}" class="badge badge--{{ label.vars.attr.color }}">
                    {{ field_label(label) }}
                </label>

                {% if label.vars.attr.description %}
                    <span id="{{ field_id(label, 'description') }}" class="text--small text--secondary">
                        {{ label.vars.attr.description }}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{%- endblock labels_row -%}

{%- block multitext_widget -%}
    {% for child in form %}
        {{ form_errors(child) }}
    {% endfor %}

    <div
        class="multitext"
        data-controller="multitext"
        data-action="click->multitext#focusInput"
        data-multitext-index-value="{{ form|length > 0 ? form|last.vars.name + 1 : 0 }}"
        data-multitext-name-value="{{ field_name(form) }}"
        data-multitext-name-template-value="{{ field_name(form.vars.prototype) }}"
    >
        <span class="multitext__list" data-multitext-target="list">
        </span>

        <input
            class="multitext__input"
            type="text"
            id="{{ field_id(form) }}"
            value=""
            data-multitext-target="input"
            data-action="keydown->multitext#handleInput blur->multitext#addCurrentValue"
            {% if field_has_errors(form) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form, 'error') }}"
            {% endif %}
        />

        <template data-multitext-target="template">
            <button
                type="button"
                class="button--discreet-alt"
                data-action="multitext#remove keydown->multitext#removeCurrent"
                data-value=""
                aria-label={{ 'forms.multitext.remove' | trans }}
            >
                <span data-target="value">
                </span>

                {{ icon('close') }}
            </button>
        </template>

        {% for child in form %}
            <input
                type="hidden"
                name="{{ field_name(child) }}"
                value="{{ field_value(child) }}"
                data-multitext-target="data"
                {% if field_has_errors(child) %}
                    aria-invalid="true"
                    aria-errormessage="{{ field_id(child, 'error') }}"
                {% endif %}
            />
        {% endfor %}
    </div>
{%- endblock %}
