{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    <div class="cols flow">
        <div class="col--extend">
            {{ form_row(form.startAt) }}
        </div>

        <div class="col--extend">
            {{ form_row(form.endAt) }}
        </div>
    </div>

    {{ form_row(form.maxHours) }}

    {{ form_row(form.timeAccountingUnit) }}

    {{ form_row(form.notes) }}

    {% if form.associateTickets is defined %}
        {{ form_row(form.associateTickets) }}
    {% endif %}

    {% if form.associateUnaccountedTimes is defined %}
        {{ form_row(form.associateUnaccountedTimes) }}
    {% endif %}
{{ form_end(form) }}
