{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'contracts' %}

{% block title %}{{ 'contracts.edit.title' | trans }} – {{ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb wrapper wrapper--large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <a href="{{ path('organization contracts', { uid: organization.uid }) }}">
                {{ 'contracts.index.title' | trans }}
            </a>
            <a href="{{ path('organization contract', { uid: organization.uid, contract_uid: contract.uid }) }}">
                {{ contract.name }}
            </a>
            <h1>{{ 'contracts.edit.title' | trans }}</h1>
        </div>

        {{ include('contracts/_form.html.twig', {
            'form': form,
            'submit_label': 'forms.save_changes' | trans,
        }) }}
    </main>
{% endblock %}
