{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'organization.html.twig' %}

{% set currentMenu = 'contracts' %}

{% block title %}{{ contract.name }} – {{ organization.name }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('organizations') }}">
            {{ 'organizations.index.title' | trans }}
        </a>

        <a href="{{ path('organization', { uid: organization.uid }) }}">
            {{ organization.name }}
        </a>

        <a href="{{ path('organization contracts', { uid: organization.uid }) }}">
            {{ 'contracts.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ contract.name }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow flow--smaller">
            <div class="row row--center row--middle flow flow--small">
                <h1>
                    {{ contract.name }}
                </h1>

                <span class="badge badge--{{ contract.statusBadgeColor }}" title="{{ 'contracts.status' | trans }}">
                    <span class="sr-only">
                        {{ 'contracts.status' | trans }}
                    </span>

                    {{ contract.statusLabel | trans }}
                </span>
            </div>

            {% if is_granted('orga:manage:contracts', organization) %}
                <div class="text--right">
                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                    >
                        <summary class="popup__opener">
                            <span class="button button--discreet">
                                {{ 'common.actions' | trans }}
                                {{ icon('angle-down') }}
                            </span>
                        </summary>

                        <nav class="popup__container popup__container--right">
                            <button
                                class="popup__item"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit contract alerts', { uid: contract.uid }) }}"
                            >
                                {{ 'contracts.show.set_up_alerts' | trans }}
                            </button>

                            <a class="popup__item" href="{{ path('edit contract', { uid: contract.uid }) }}">
                                {{ 'contracts.show.edit' | trans }}
                            </a>

                            <a class="popup__item" href="{{ path('new organization contract', { uid: organization.uid, from: contract.uid }) }}">
                                {{ 'contracts.show.renew' | trans }}
                            </a>
                        </nav>
                    </details>
                </div>
            {% endif %}
        </div>

        <div class="panel">
            <div class="wrapper wrapper--small wrapper--center flow flow--larger">
                {% if contract.timeAccountingUnit %}
                    <p>
                        {{ 'contracts.show.time_accounting_unit' | trans({ count: contract.timeAccountingUnit }) }}
                    </p>
                {% endif %}

                <div class="flow flow--small">
                    <div class="text--small" id="contract-hours-consumed">
                        {% if contract.hoursAlertActivated %}
                            <span>
                                {{ icon('triangle-exclamation-warning') }}
                                <span class="sr-only">
                                    {{ 'contracts.show.warning' | trans }}
                                </span>
                            </span>
                        {% endif %}

                        {{ 'contracts.hours_consumed' | trans({
                            'hours': contract.consumedMinutes | formatMinutes,
                            'maxHours': contract.maxHours,
                            'percentage': contract.consumedPercentage,
                        }) | raw }}
                    </div>

                    <div class="progress-with-marker">
                        <progress
                            value="{{ contract.consumedHours }}"
                            max="{{ contract.maxHours }}"
                            class="{{ contract.hoursAlertActivated ? 'progress--warning' }}"
                            aria-labelledby="contract-hours-consumed"
                        >
                        </progress>

                        {% if contract.hoursAlert > 0 %}
                            <div class="progress__marker" style="--marker-percent: {{ contract.hoursAlert }}%;">
                                <span class="sr-only">
                                    {{ 'contracts.show.alert' | trans }}
                                </span>

                                {{ contract.hoursOfAlert | formatHours }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="flow flow--small">
                    <div class="row row--center row--always flow text--small">
                        <div class="row__item--extend" id="contract-days-consumed">
                            {% if contract.dateAlertActivated %}
                                <span>
                                    {{ icon('triangle-exclamation-warning') }}
                                    <span class="sr-only">
                                        {{ 'contracts.show.warning' | trans }}
                                    </span>
                                </span>
                            {% endif %}

                            {{ 'contracts.days_consumed' | trans({ 'days': contract.daysProgress }) | raw }}
                        </div>

                        <div class="text--secondary">
                            <time datetime="{{ contract.startAt | dateIso }}">
                                {{ contract.startAt | dateTrans('dd MMM yyyy') }}
                            </time>

                            —

                            <time datetime="{{ contract.endAt | dateIso }}">
                                {{ contract.endAt | dateTrans('dd MMM yyyy') }}
                            </time>
                        </div>
                    </div>

                    <div class="progress-with-marker">
                        <progress
                            value="{{ contract.daysProgress }}"
                            max="{{ contract.daysDuration }}"
                            class="{{ contract.dateAlertActivated ? 'progress--warning' }}"
                            aria-labelledby="contract-days-consumed"
                        >
                        </progress>

                        {% if contract.dateAlert > 0 %}
                            <div class="progress__marker" style="--marker-percent: {{ contract.dateAlertPercent }}%;">
                                <span class="sr-only">
                                    {{ 'contracts.show.alert' | trans }}
                                </span>

                                <time datetime="{{ contract.dateOfAlert | dateIso }}" title="{{ contract.dateOfAlert | dateTrans('dd MMM yyyy') }}">
                                    {{ 'contracts.show.alert.before_end' | trans({ days: contract.dateAlert }) | raw }}
                                </time>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if contract.notes and is_granted('orga:see:contracts:notes', organization) %}
                    <article class="message message--confidential">
                        <div class="message__box">
                            <div class="message__top">
                                <h2>
                                    {{ 'contracts.notes' | trans }}
                                </h2>

                                <div class="badge badge--red">
                                    {{ icon('shield-halved') }}
                                    {{ 'contracts.show.notes_confidential' | trans }}
                                </div>
                            </div>

                            <p class="message__content">
                                {{ contract.notes | nl2br }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
