{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'mailboxes' %}

{% block title %}{{ 'mailboxes.edit.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('mailboxes') }}">
            {{ 'mailboxes.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'mailboxes.edit.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'mailboxes.edit.title' | trans }}</h1>

        <div class="panel flow">
            <form method="POST" action="{{ path('test mailbox', { uid: mailbox.uid }) }}" class="text--right">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('test mailbox') }}">
                <button type="submit">
                    {{ 'mailboxes.edit.test_mailbox' | trans }}
                </button>
            </form>

            {% if mailbox.lastError %}
                <div class="wrapper wrapper--small wrapper--center">
                    {{ include('alerts/_error.html.twig', { message: mailbox.lastError }, with_context = false) }}
                </div>
            {% endif %}

            {{ include('mailboxes/_form.html.twig', { form: form }) }}
        </div>

        <div class="panel">
            <form action="{{ path('delete mailbox', { uid: mailbox.uid }) }}" method="post" class="form--standard">
                <h2>{{ 'mailboxes.deletion.title' | trans }}</h2>

                {{ include('alerts/_alert.html.twig', {
                    type: 'warning',
                    title: 'common.caution' | trans,
                    message: 'mailboxes.deletion.going_delete' | trans({ mailbox: mailbox.name }),
                }, with_context = false) }}

                {% if error %}
                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                {% endif %}

                <div class="form__actions">
                    <button
                        class="button--primary"
                        type="submit"
                        data-turbo-confirm="{{ 'mailboxes.deletion.confirm' | trans }}"
                    >
                        {{ 'mailboxes.deletion.submit' | trans }}
                    </button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete mailbox') }}">
            </form>
        </div>
    </main>
{% endblock %}
