{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'mailboxes.index.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'mailboxes' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow roles-index">
        <div class="layout__breadcrumb">
            <h1>{{ 'mailboxes.index.title' | trans }}</h1>
        </div>

        <div class="wrapper wrapper--large flow">
            <div class="row flow">
                <div class="row__item--extend row row--center row--always flow">
                    <a href="{{ path('new mailbox') }}" class="anchor--action">
                        {{ icon('plus') }}
                        {{ 'mailboxes.index.new_mailbox' | trans }}
                    </a>

                    <p class="text--secondary">
                        {{ 'mailboxes.index.number' | trans({ count: mailboxes|length }) }}
                    </p>
                </div>

                <form method="POST" action="{{ path('collect mailboxes') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('collect mailboxes') }}">
                    <button type="submit">
                        {{ 'mailboxes.index.collect' | trans }}
                    </button>
                </form>
            </div>

            <ul class="list--padded list--border list--nostyle">
                {% for mailbox in mailboxes %}
                    <li class="row" data-test="mailbox-item">
                        <span class="row__item--extend">
                            {{ mailbox.name }}
                        </span>

                        <div class="row__item--noshrink row row--always row--center flow flow--small">
                            <form method="POST" action="{{ path('test mailbox', { uid: mailbox.uid }) }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('test mailbox') }}">
                                <button type="submit" class="button--anchor">
                                    {{ 'mailboxes.index.test_mailbox' | trans }}
                                </button>
                            </form>

                            <form method="POST" action="{{ path('delete mailbox', { uid: mailbox.uid }) }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete mailbox') }}">
                                <button
                                    type="submit"
                                    class="button--anchor"
                                    data-turbo-confirm="{{ 'mailboxes.index.delete.confirm' | trans }}"
                                >
                                    {{ 'mailboxes.index.delete' | trans }}
                                </button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
