{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'mailboxes.index.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'mailboxes' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow roles-index">
        <div class="layout__breadcrumb">
            <h1>{{ 'mailboxes.index.title' | trans }}</h1>
        </div>

        <div class="wrapper wrapper--large flow">
            <div class="row flow">
                <div class="row__item--extend row row--center row--always flow">
                    <a href="{{ path('new mailbox') }}" class="anchor--action">
                        {{ icon('plus') }}
                        {{ 'mailboxes.index.new_mailbox' | trans }}
                    </a>

                    <p class="text--secondary">
                        {{ 'mailboxes.index.number' | trans({ count: mailboxes|length }) }}
                    </p>
                </div>

                <form method="POST" action="{{ path('collect mailboxes') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('collect mailboxes') }}">
                    <button type="submit">
                        {{ 'mailboxes.index.collect' | trans }}
                    </button>
                </form>
            </div>

            <ul class="list--padded list--border list--nostyle">
                {% for mailbox in mailboxes %}
                    <li class="flow flow--small" data-test="mailbox-item">
                        <div class="row">
                            <span class="row__item--extend">
                                {{ mailbox.name }}
                            </span>

                            <div class="row__item--noshrink row row--always row--center flow flow--small">
                                <form method="POST" action="{{ path('test mailbox', { uid: mailbox.uid }) }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('test mailbox') }}">
                                    <button type="submit" class="button--anchor">
                                        {{ 'mailboxes.index.test_mailbox' | trans }}
                                    </button>
                                </form>

                                <form method="POST" action="{{ path('delete mailbox', { uid: mailbox.uid }) }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete mailbox') }}">
                                    <button
                                        type="submit"
                                        class="button--anchor"
                                        data-turbo-confirm="{{ 'mailboxes.index.delete.confirm' | trans }}"
                                    >
                                        {{ 'mailboxes.index.delete' | trans }}
                                    </button>
                                </form>
                            </div>
                        </div>

                        {% if mailbox.lastError %}
                            {{ include('alerts/_error.html.twig', { message: mailbox.lastError }, with_context = false) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if errorMailboxEmails %}
                <h2>{{ 'mailboxes.index.emails.title' | trans }}</h2>

                <p class="text--secondary">
                    {{ 'mailboxes.index.emails.desc' | trans }}
                </p>

                <ul class="list--padded list--border list--nostyle">
                    {% for mailboxEmail in errorMailboxEmails %}
                        <li class="flow" data-test="mailbox-email-item">
                            <div class="row flow">
                                <span class="row__item--extend">
                                    {{ mailboxEmail.subject }}
                                </span>

                                <span class="text--secondary text--small">
                                    {{ mailboxEmail.from }}
                                </span>

                                <span class="text--secondary text--small">
                                    <time datetime="{{ mailboxEmail.date | dateIso }}">
                                        {{ mailboxEmail.date | dateTrans }}
                                    </time>
                                </span>
                            </div>

                            <div class="row flow">
                                <p class="row__item--extend text--error">
                                    {{ 'mailboxes.index.emails.error' | trans }}
                                    {{ mailboxEmail.lastError }}
                                </p>

                                <form method="POST" action="{{ path('delete mailbox email', { uid: mailboxEmail.uid }) }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete mailbox email') }}">
                                    <button
                                        type="submit"
                                        class="button--anchor"
                                        data-turbo-confirm="{{ 'mailboxes.index.emails.delete.confirm' | trans }}"
                                    >
                                        {{ 'mailboxes.index.emails.delete' | trans }}
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
