{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'mailboxes' %}

{% block title %}{{ 'mailboxes.index.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'mailboxes.index.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'mailboxes.index.title' | trans }}</h1>

        <div class="flow">
            <div class="cols flow">
                <div class="col--extend cols cols--center flow">
                    {% if mailboxes|length > 0 %}
                        <p class="text--secondary">
                            {{ 'mailboxes.index.number' | trans({ count: mailboxes|length }) }}
                        </p>

                        <form method="POST" action="{{ path('collect mailboxes') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('collect mailboxes') }}">
                            <button type="submit">
                                {{ 'mailboxes.index.collect' | trans }}
                            </button>
                        </form>
                    {% endif %}
                </div>

                <a href="{{ path('new mailbox') }}" class="button button--primary button--uppercase">
                    {{ icon('plus') }}
                    {{ 'mailboxes.index.new_mailbox' | trans }}
                </a>
            </div>

            {% if mailboxes|length > 0 %}
                <ul class="list--padded list--border list--nostyle">
                    {% for mailbox in mailboxes %}
                        <li class="cols flow flow--small" data-test="mailbox-item">
                            <span class="col--extend">
                                {% if mailbox.lastError %}
                                    <span class="text--error">
                                        {{ icon('circle-exclamation-error') }}
                                        {{ mailbox.name }}
                                        {{ 'mailboxes.index.error' | trans }}
                                    </span>
                                {% else %}
                                    {{ mailbox.name }}
                                {% endif %}
                            </span>

                            <a href="{{ path('edit mailbox', { uid: mailbox.uid }) }}">
                                {{ 'mailboxes.index.edit' | trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="placeholder flow flow--larger">
                    <img class="placeholder__image" src="{{ asset('illustration-placeholder.svg') }}" alt="" />

                    <p class="placeholder__text">
                        {{ 'mailboxes.index.none' | trans }}
                    </p>
                </div>
            {% endif %}

            {% if errorMailboxEmails %}
                <h2>{{ 'mailboxes.index.emails.title' | trans }}</h2>

                <p class="text--secondary">
                    {{ 'mailboxes.index.emails.desc' | trans }}
                </p>

                <ul class="list--padded list--border list--nostyle">
                    {% for mailboxEmail in errorMailboxEmails %}
                        <li class="flow" data-test="mailbox-email-item">
                            <div class="cols flow">
                                <span class="col--extend">
                                    {{ mailboxEmail.subject }}
                                </span>

                                <span class="text--secondary text--small">
                                    {{ mailboxEmail.from }}
                                </span>

                                <span class="text--secondary text--small">
                                    <time datetime="{{ mailboxEmail.date | dateIso }}">
                                        {{ mailboxEmail.date | dateTrans }}
                                    </time>
                                </span>
                            </div>

                            <div class="cols flow">
                                <div class="col--extend">
                                    {% if mailboxEmail.lastErrorSummary == mailboxEmail.lastError %}
                                        <p class="text--error text--bold">
                                            {{ 'mailboxes.index.emails.error' | trans }}
                                            {{ mailboxEmail.lastError }}
                                        </p>
                                    {% else %}
                                        <details>
                                            <summary class="text--error text--bold">
                                                {{ 'mailboxes.index.emails.error' | trans }}
                                                {{ mailboxEmail.lastErrorSummary }}
                                            </summary>

                                            <pre class="pre--formatted">{{ mailboxEmail.lastError }}</pre>
                                        </details>
                                    {% endif %}
                                </div>

                                <form method="POST" action="{{ path('delete mailbox email', { uid: mailboxEmail.uid }) }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete mailbox email') }}">
                                    <button
                                        type="submit"
                                        class="button--anchor"
                                        data-turbo-confirm="{{ 'mailboxes.index.emails.delete.confirm' | trans }}"
                                    >
                                        {{ 'mailboxes.index.emails.delete' | trans }}
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
