{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'mailboxes' %}

{% block title %}{{ 'mailboxes.new.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('mailboxes') }}">
            {{ 'mailboxes.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'mailboxes.new.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'mailboxes.new.title' | trans }}</h1>

        <div class="panel">
            {{ include('mailboxes/_form.html.twig', { form: form }) }}
        </div>
    </main>
{% endblock %}
