{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'users.authorizations.index.title' | trans({ name: user.displayName }) }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'users' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow roles-index">
        <div class="layout__breadcrumb">
            <a href="{{ path('users') }}">{{ 'users.index.title' | trans }}</a>
            <h1>{{ 'users.authorizations.index.title' | trans({ name: user.displayName }) }}</h1>
        </div>

        <div class="wrapper wrapper--large flow">
            {% if user.organization and not is_granted_to_user(user, 'orga:create:tickets', user.organization) %}
                <div class="wrapper wrapper--text">
                    {{ include('alerts/_alert.html.twig', {
                        type: 'warning',
                        title: 'common.caution' | trans,
                        message: 'users.no_organization_authorization' | trans({
                            path: path('new user authorization', { uid: user.uid, orga: user.organization.uid }),
                        }),
                        raw: true,
                    }) }}
                </div>
            {% endif %}

            <div class="grid">
                <a class="card card--action" href="{{ path('new user authorization', { uid: user.uid }) }}">
                    <span>
                        {{ icon('plus') }}
                        {{ 'users.authorizations.index.new_authorization' | trans }}
                    </span>
                </a>

                {% for authorization in authorizations %}
                    {{ include('authorizations/_authorization.html.twig', {
                        authorization: authorization,
                        mode: 'user',
                    }, with_context = false) }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
