{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% if currentPage == 'all' %}
    {% set title = 'All tickets' | trans %}
{% elseif currentPage == 'to assign' %}
    {% set title = 'Tickets to assign' | trans %}
{% elseif currentPage == 'owned' %}
    {% set title = 'My tickets' | trans %}
{% endif %}

{% block title %}{{ title ~ ' – ' ~ organization.name }}{% endblock %}

{% block back %}
    <a href="{{ path('organizations') }}">
        {{ 'Back (organizations)' | trans }}
    </a>
{% endblock %}

{% block body %}
    <main class="layout__body tickets-index">
        <div class="row">
            <nav class="tickets__nav row__item--noshrink card flow">
                <div class="text--center">
                    <a class="anchor--action" href="{{ path('new organization ticket', {'uid': organization.uid}) }}">
                        {{ icon('plus') }}
                        {{ 'New ticket' | trans }}
                    </a>
                </div>

                <ul>
                    <li>
                        <a
                            href="{{ path('organization tickets', { uid: organization.uid }) }}"
                            {{ currentPage == 'all' ? 'aria-current="page"' }}
                        >
                            {{ 'All tickets' | trans }}
                        </a>
                    </li>

                    <li>
                        <a
                            href="{{ path('organization tickets', { uid: organization.uid, assignee: 'none' }) }}"
                            {{ currentPage == 'to assign' ? 'aria-current="page"' }}
                        >
                            {{ 'Tickets to assign' | trans }}

                            {% if countToAssign > 0 %}
                                <span class="tickets__list-count">
                                    {{ countToAssign }}
                                </span>
                            {% endif %}
                        </a>
                    </li>

                    <li>
                        <a
                            href="{{ path('organization tickets', { uid: organization.uid, assignee: app.user.uid }) }}"
                            {{ currentPage == 'owned' ? 'aria-current="page"' }}
                        >
                            {{ 'My tickets' | trans }}

                            {% if countOwned > 0 %}
                                <span class="tickets__list-count">
                                    {{ countOwned }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="flow row__item--extend">
                <h1>{{ title }}</h1>

                <div class="text--center">
                    {{ organization.name }}
                </div>

                {% if tickets %}
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th class="col--size4">
                                        {{ 'Opened on' | trans }}
                                    </th>

                                    <th>
                                        {{ 'Title' | trans }}
                                    </th>

                                    <th class="col--size2">
                                        {{ 'Type' | trans }}
                                    </th>

                                    <th class="col--size5">
                                        {{ icon('user') }}
                                        {{ 'Requester' | trans }}
                                    </th>

                                    <th class="col--size5">
                                        {{ icon('headset') }}
                                        {{ 'Assignee' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('status') }}
                                        {{ 'Status' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('priority') }}
                                        {{ 'Priority' | trans }}
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for ticket in tickets|sort((a, b) => b.createdAt <=> a.createdAt) %}
                                    <tr data-test="ticket-item">
                                        <td>
                                            <time datetime="{{ ticket.createdAt | dateIso }}" class="text--small">
                                                {{ ticket.createdAt | dateTrans }}
                                            </time>
                                        </td>

                                        <td class="td--anchor">
                                            <a href="{{ path('ticket', {'uid': ticket.uid}) }}">
                                                <span class="ticket__title">{{ ticket.title }}</span>
                                                <span class="ticket__id">#{{ ticket.id }}</span>
                                            </a>
                                        </td>

                                        <td>
                                            {% if ticket.type == 'incident' %}
                                                {{ 'Incident' | trans }}
                                            {% else %}
                                                {{ 'Request' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {{ ticket.requester.email }}
                                        </td>

                                        <td>
                                            {% if ticket.assignee %}
                                                {{ ticket.assignee.email }}
                                            {% else %}
                                                {{ 'Unassigned' | trans }}
                                            {% endif %}
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.statusBadgeColor }}">
                                                {{ ticket.statusLabel | trans }}
                                            </span>
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.priorityBadgeColor }}">
                                                {{ ticket.priorityLabel | trans }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="placeholder">
                        {{ icon('ticket') }}
                        {{ 'No ticket' | trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
