{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% if currentPage == 'all' %}
    {% set title = 'tickets.index.title.all' | trans %}
{% elseif currentPage == 'to assign' %}
    {% set title = 'tickets.index.title.to_assign' | trans %}
{% elseif currentPage == 'owned' %}
    {% set title = 'tickets.index.title.my' | trans %}
{% endif %}

{% block title %}{{ title ~ ' – ' ~ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body tickets-index flow">
        <div class="layout__breadcrumb wrapper-large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <h1>{{ title }}</h1>
        </div>

        <div class="row">
            {% if is_granted('orga:see:tickets:all', organization) %}
                <nav class="tickets__nav row__item--noshrink card flow">
                    <ul>
                        <li>
                            <a
                                href="{{ path('organization tickets', { uid: organization.uid }) }}"
                                {{ currentPage == 'all' ? 'aria-current="page"' }}
                            >
                                {{ 'tickets.index.title.all' | trans }}
                            </a>
                        </li>

                        <li>
                            <a
                                href="{{ path('organization tickets', { uid: organization.uid, assignee: 'none' }) }}"
                                {{ currentPage == 'to assign' ? 'aria-current="page"' }}
                            >
                                {{ 'tickets.index.title.to_assign' | trans }}

                                {% if countToAssign > 0 %}
                                    <span class="tickets__list-count">
                                        {{ countToAssign }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>

                        <li>
                            <a
                                href="{{ path('organization tickets', { uid: organization.uid, assignee: app.user.uid }) }}"
                                {{ currentPage == 'owned' ? 'aria-current="page"' }}
                            >
                                {{ 'tickets.index.title.my' | trans }}

                                {% if countOwned > 0 %}
                                    <span class="tickets__list-count">
                                        {{ countOwned }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

            <div class="flow row__item--extend">
                {% if tickets %}
                    {% if is_granted('orga:create:tickets', organization) %}
                        <a class="anchor--action" href="{{ path('new organization ticket', {'uid': organization.uid}) }}">
                            {{ icon('plus') }}
                            {{ 'tickets.index.new_ticket' | trans }}
                        </a>
                    {% endif %}

                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th class="col--size4">
                                        {{ 'tickets.opened_on' | trans }}
                                    </th>

                                    <th>
                                        {{ 'tickets.title' | trans }}
                                    </th>

                                    <th class="col--size2">
                                        {{ 'tickets.type' | trans }}
                                    </th>

                                    <th class="col--size5">
                                        {{ icon('user') }}
                                        {{ 'tickets.requester' | trans }}
                                    </th>

                                    <th class="col--size5">
                                        {{ icon('headset') }}
                                        {{ 'tickets.assignee' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('status') }}
                                        {{ 'tickets.status' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('priority') }}
                                        {{ 'tickets.priority' | trans }}
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for ticket in tickets %}
                                    <tr data-test="ticket-item">
                                        <td>
                                            <time datetime="{{ ticket.createdAt | dateIso }}" class="text--small">
                                                {{ ticket.createdAt | dateTrans }}
                                            </time>
                                        </td>

                                        <td class="td--anchor">
                                            <a href="{{ path('ticket', {'uid': ticket.uid}) }}">
                                                <span class="ticket__title">{{ ticket.title }}</span>
                                                <span class="ticket__id">#{{ ticket.id }}</span>
                                            </a>
                                        </td>

                                        <td>
                                            {% if ticket.type == 'incident' %}
                                                {{ 'tickets.incident' | trans }}
                                            {% else %}
                                                {{ 'tickets.request' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {{ ticket.requester.displayName }}
                                        </td>

                                        <td>
                                            {% if ticket.assignee %}
                                                {{ ticket.assignee.displayName }}
                                            {% else %}
                                                {{ 'tickets.unassigned' | trans }}
                                            {% endif %}
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.statusBadgeColor }}">
                                                {{ ticket.statusLabel | trans }}
                                            </span>
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.priorityBadgeColor }}">
                                                {{ ticket.priorityLabel | trans }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="text--center flow-large">
                        <p class="placeholder">
                            {{ icon('ticket') }}
                            {{ 'tickets.index.no_tickets' | trans }}
                        </p>

                        {% if is_granted('orga:create:tickets', organization) %}
                            <p class="text--big">
                                <a class="anchor--action" href="{{ path('new organization ticket', {'uid': organization.uid}) }}">
                                    {{ icon('plus') }}
                                    {{ 'tickets.index.new_ticket' | trans }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
