{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% if view == 'all' %}
    {% set title = 'tickets.index.title.all' | trans %}
{% elseif view == 'unassigned' %}
    {% set title = 'tickets.index.title.to_assign' | trans %}
{% elseif view == 'owned' %}
    {% set title = 'tickets.index.title.your_tickets' | trans %}
{% endif %}

{% block title %}{{ title ~ ' – ' ~ organization.name }}{% endblock %}

{% block sidebar %}
    {% if is_granted('orga:see:tickets:all', 'any') %}
        {{ include('tickets/_sidebar.html.twig', {
            current: view,
            countOwned: countOwned,
            countToAssign: countToAssign,
        }, with_context = false) }}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow wrapper-large {{ not is_granted('orga:see:tickets:all', 'any') ? 'wrapper--center' }}">
            <div class="layout__breadcrumb">
                <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
                <h1>{{ title }}</h1>
            </div>

            <div class="flow">
                <div class="row row--center row--always flow">
                    {% if is_granted('orga:create:tickets', organization) %}
                        <a class="anchor--action" href="{{ path('new organization ticket', {'uid': organization.uid}) }}">
                            {{ icon('plus') }}
                            {{ 'tickets.index.new_ticket' | trans }}
                        </a>
                    {% endif %}

                    {% if tickets %}
                        <p class="text--secondary">
                            {{ 'tickets.index.number' | trans({ count: tickets|length }) }}
                        </p>
                    {% endif %}
                </div>

                <div class="flow-smaller">
                    <form method="get" action="" class="list__filters flow-small">
                        {% if errors.search is defined %}
                            <p class="form__error" role="alert" id="search-error">
                                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                {{ errors.search }}
                            </p>
                        {% endif %}

                        <div class="input-container">
                            <input
                                type="text"
                                name="q"
                                value="{{ query }}"
                                required
                                autocomplete="off"
                                aria-label="{{ 'tickets.index.search.label' | trans }}"
                                {% if errors.search is defined %}
                                    aria-invalid="true"
                                    aria-errormessage="search-error"
                                {% endif %}
                            />

                            <button type="submit">
                                {{ icon('search') }}
                                <span class="sr-only">
                                    {{ 'tickets.index.search.submit' | trans }}
                                </span>
                            </button>
                        </div>

                        <p class="text--right text--small">
                            <button
                                class="button--anchor"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('advanced search syntax') }}"
                            >
                                {{ 'tickets.index.search.help' | trans }}
                            </button>
                        </p>
                    </form>

                    {% if tickets %}
                        {{ include(
                            'tickets/_list.html.twig',
                            { tickets: tickets },
                            with_context = false
                        ) }}
                    {% else %}
                        <p class="placeholder">
                            {{ icon('ticket') }}
                            {{ 'tickets.index.no_tickets' | trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
