{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'tickets.new.title' | trans }} – {{ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb wrapper-large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <h1>{{ 'tickets.new.title' | trans }}</h1>
        </div>

        <form
            action="{{ path('create organization ticket', {'uid': organization.uid}) }}"
            method="post"
            class="wrapper wrapper--center flow"
            data-controller="new-ticket"
        >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create organization ticket') }}">

            {% if error %}
                {{ include('alerts/_error.html.twig', { message: error | trans }, with_context = false) }}
            {% endif %}

            <div class="flow-small">
                <label for="title">
                    {{ 'tickets.title' | trans }}
                    <small class="text--secondary">
                        {{ 'forms.max_chars' | trans({ number: 255 }) }}
                    </small>
                </label>

                {% if errors.title is defined %}
                    <p class="form__error" role="alert" id="title-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.title }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title }}"
                    required
                    autofocus
                    maxlength="255"
                    {% if errors.title is defined %}
                        aria-invalid="true"
                        aria-errormessage="title-error"
                    {% endif %}
                />
            </div>

            <div class="flow-small">
                {% if errors.content is defined %}
                    <p class="form__error" role="alert" id="message-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.content }}
                    </p>
                {% endif %}

                <textarea
                    id="message"
                    name="message"
                    data-controller="tinymce"
                    {% if errors.content is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="message-error"
                    {% endif %}
                >{{ message }}</textarea>
            </div>

            <div class="row">
                <div class="row__item--extend flow-small">
                    <label for="requester">
                        {{ icon('user') }}
                        {{ 'tickets.requester' | trans }}
                    </label>

                    {% if errors.requester is defined %}
                        <p class="form__error" role="alert" id="requester-error">
                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                            {{ errors.requester }}
                        </p>
                    {% endif %}

                    <select
                        id="requester"
                        name="requesterId"
                        required
                        {% if errors.requester is defined %}
                            autofocus
                            aria-invalid="true"
                            aria-errormessage="requester-error"
                        {% endif %}
                    >
                        {% for user in users %}
                            <option value="{{ user.id }}" {{ user.id == requesterId ? 'selected' }}>
                                {{ user.displayName }}

                                {% if user.id == app.user.id %}
                                    ({{ 'users.yourself' | trans }})
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="row__item--extend flow-small">
                    <label for="assignee">
                        {{ icon('headset') }}
                        {{ 'tickets.assignee' | trans }}
                        <small class="text--secondary">
                            {{ 'forms.optional' | trans }}
                        </small>
                    </label>

                    {% if errors.assignee is defined %}
                        <p class="form__error" role="alert" id="assignee-error">
                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                            {{ errors.assignee }}
                        </p>
                    {% endif %}

                    <select
                        id="assignee"
                        name="assigneeId"
                        {% if errors.assignee is defined %}
                            autofocus
                            aria-invalid="true"
                            aria-errormessage="assignee-error"
                        {% endif %}
                        data-action="new-ticket#updateStatus"
                        data-new-ticket-target="assigneeSelect"
                    >
                        <option value="">
                            {{ 'tickets.unassigned' | trans }}
                        </option>

                        {% for user in users %}
                            <option value="{{ user.id }}" {{ user.id == assigneeId ? 'selected' }}>
                                {{ user.displayName }}

                                {% if user.id == app.user.id %}
                                    ({{ 'users.yourself' | trans }})
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="flow-small">
                <label for="status">
                    {{ icon('status') }}
                    {{ 'tickets.status' | trans }}
                </label>

                {% if errors.status is defined %}
                    <p class="form__error" role="alert" id="status-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.status }}
                    </p>
                {% endif %}

                <select
                    id="status"
                    name="status"
                    required
                    {% if errors.status is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="status-error"
                    {% endif %}
                    data-new-ticket-target="statusSelect"
                >
                    {% for value, label in statuses %}
                        <option value="{{ value }}" {{ value == status ? 'selected' }}>
                            {{ label | trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form__actions">
                <button id="form-create-ticket-submit" class="button--primary" type="submit">
                    {{ 'tickets.new.submit' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
