{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% block title %}{{ 'tickets.new.title' | trans }} – {{ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb wrapper-large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <h1>{{ 'tickets.new.title' | trans }}</h1>
        </div>

        <form
            action="{{ path('create organization ticket', {'uid': organization.uid}) }}"
            method="post"
            class="wrapper wrapper--center flow"
            data-controller="form-priority"
        >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create organization ticket') }}">

            {% if error %}
                {{ include('alerts/_error.html.twig', { message: error | trans }, with_context = false) }}
            {% endif %}

            {% if is_granted('orga:update:tickets:type', organization) %}
                <div>
                    <label class="sr-only">
                        {{ 'tickets.type' | trans }}
                    </label>

                    <div class="row row--always flow">
                        <div>
                            <input
                                type="radio"
                                id="type-request"
                                name="type"
                                value="request"
                                {{ type == 'request' ? 'checked' }}
                            />

                            <label for="type-request">
                                {{ 'tickets.request' | trans }}
                            </label>
                        </div>

                        <div>
                            <input
                                type="radio"
                                id="type-incident"
                                name="type"
                                value="incident"
                                {{ type == 'incident' ? 'checked' }}
                            />

                            <label for="type-incident">
                                {{ 'tickets.incident' | trans }}
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="flow-small">
                <label for="title">
                    {{ 'tickets.title' | trans }}
                    <small class="text--secondary">
                        {{ 'forms.max_chars' | trans({ number: 255 }) }}
                    </small>
                </label>

                {% if errors.title is defined %}
                    <p class="form__error" role="alert" id="title-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.title }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title }}"
                    required
                    autofocus
                    maxlength="255"
                    {% if errors.title is defined %}
                        aria-invalid="true"
                        aria-errormessage="title-error"
                    {% endif %}
                />
            </div>

            <div class="flow-small">
                {% if errors.content is defined %}
                    <p class="form__error" role="alert" id="message-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.content }}
                    </p>
                {% endif %}

                <textarea
                    id="message"
                    name="message"
                    data-controller="tinymce"
                    {% if errors.content is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="message-error"
                    {% endif %}
                >{{ message }}</textarea>
            </div>

            {% if is_granted('orga:update:tickets:status', organization) %}
                <div>
                    <input
                        type="checkbox"
                        id="is-resolved"
                        name="isResolved"
                        {{ isResolved ? 'checked' }}
                    />

                    <label for="is-resolved">
                        {{ 'tickets.new.mark_as_resolved' | trans }}
                    </label>
                </div>
            {% endif %}

            {% if is_granted('orga:update:tickets:actors', organization) %}
                <div class="row flow">
                    <div class="row__item--extend flow-small">
                        <label for="requester">
                            {{ icon('user') }}
                            {{ 'tickets.requester' | trans }}
                        </label>

                        {% if errors.requester is defined %}
                            <p class="form__error" role="alert" id="requester-error">
                                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                {{ errors.requester }}
                            </p>
                        {% endif %}

                        <select
                            id="requester"
                            name="requesterId"
                            required
                            {% if errors.requester is defined %}
                                autofocus
                                aria-invalid="true"
                                aria-errormessage="requester-error"
                            {% endif %}
                        >
                            {% for user in users %}
                                <option value="{{ user.id }}" {{ user.id == requesterId ? 'selected' }}>
                                    {{ user.displayName }}

                                    {% if user.id == app.user.id %}
                                        ({{ 'users.yourself' | trans }})
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="row__item--extend flow-small">
                        <label for="assignee">
                            {{ icon('headset') }}
                            {{ 'tickets.assignee' | trans }}
                            <small class="text--secondary">
                                {{ 'forms.optional' | trans }}
                            </small>
                        </label>

                        {% if errors.assignee is defined %}
                            <p class="form__error" role="alert" id="assignee-error">
                                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                {{ errors.assignee }}
                            </p>
                        {% endif %}

                        <select
                            id="assignee"
                            name="assigneeId"
                            {% if errors.assignee is defined %}
                                autofocus
                                aria-invalid="true"
                                aria-errormessage="assignee-error"
                            {% endif %}
                        >
                            <option value="">
                                {{ 'tickets.unassigned' | trans }}
                            </option>

                            {% for user in users %}
                                <option value="{{ user.id }}" {{ user.id == assigneeId ? 'selected' }}>
                                    {{ user.displayName }}

                                    {% if user.id == app.user.id %}
                                        ({{ 'users.yourself' | trans }})
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('orga:update:tickets:priority', organization) %}
                <details
                    class="flow"
                    {{ not (urgency == impact == priority == 'medium') ? 'open' }}
                >
                    <summary>
                        {{ icon('priority') }}
                        {{ 'tickets.priority' | trans }}
                    </summary>

                    <div class="row flow">
                        <div class="row__item--extend flow-small">
                            <label for="urgency">
                                {{ 'tickets.urgency' | trans }}
                            </label>

                            {% if errors.urgency is defined %}
                                <p class="form__error" role="alert" id="urgency-error">
                                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                    {{ errors.urgency }}
                                </p>
                            {% endif %}

                            <select
                                id="urgency"
                                name="urgency"
                                required
                                {% if errors.urgency is defined %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-errormessage="urgency-error"
                                {% endif %}
                                data-form-priority-target="urgency"
                                data-action="form-priority#updatePriority"
                            >
                                <option value="low" {{ "low" == urgency ? 'selected' }}>
                                    {{ 'tickets.urgency.low' | trans }}
                                </option>
                                <option value="medium" {{ "medium" == urgency ? 'selected' }}>
                                    {{ 'tickets.urgency.medium' | trans }}
                                </option>
                                <option value="high" {{ "high" == urgency ? 'selected' }}>
                                    {{ 'tickets.urgency.high' | trans }}
                                </option>
                            </select>
                        </div>

                        <div class="row__item--extend flow-small">
                            <label for="impact">
                                {{ 'tickets.impact' | trans }}
                            </label>

                            {% if errors.impact is defined %}
                                <p class="form__error" role="alert" id="impact-error">
                                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                    {{ errors.impact }}
                                </p>
                            {% endif %}

                            <select
                                id="impact"
                                name="impact"
                                required
                                {% if errors.impact is defined %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-errormessage="impact-error"
                                {% endif %}
                                data-form-priority-target="impact"
                                data-action="form-priority#updatePriority"
                            >
                                <option value="low" {{ "low" == impact ? 'selected' }}>
                                    {{ 'tickets.impact.low' | trans }}
                                </option>
                                <option value="medium" {{ "medium" == impact ? 'selected' }}>
                                    {{ 'tickets.impact.medium' | trans }}
                                </option>
                                <option value="high" {{ "high" == impact ? 'selected' }}>
                                    {{ 'tickets.impact.high' | trans }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="flow-small">
                        <label for="priority">
                            {{ 'tickets.priority' | trans }}
                        </label>

                        {% if errors.priority is defined %}
                            <p class="form__error" role="alert" id="priority-error">
                                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                {{ errors.priority }}
                            </p>
                        {% endif %}

                        <select
                            id="priority"
                            name="priority"
                            required
                            {% if errors.priority is defined %}
                                autofocus
                                aria-invalid="true"
                                aria-errormessage="priority-error"
                            {% endif %}
                            data-form-priority-target="priority"
                        >
                            <option value="low" {{ "low" == priority ? 'selected' }}>
                                {{ 'tickets.priority.low' | trans }}
                            </option>
                            <option value="medium" {{ "medium" == priority ? 'selected' }}>
                                {{ 'tickets.priority.medium' | trans }}
                            </option>
                            <option value="high" {{ "high" == priority ? 'selected' }}>
                                {{ 'tickets.priority.high' | trans }}
                            </option>
                        </select>
                    </div>
                </details>
            {% endif %}

            <div class="form__actions">
                <button id="form-create-ticket-submit" class="button--primary" type="submit">
                    {{ 'tickets.new.submit' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
