{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'organization.html.twig' %}

{% set currentMenu = 'tickets' %}

{% block title %}{{ 'tickets.new.title' | trans }} – {{ organization.name }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('organizations') }}">
            {{ 'organizations.index.title' | trans }}
        </a>

        <a href="{{ path('organization', { uid: organization.uid }) }}">
            {{ organization.name }}
        </a>

        <a href="{{ path('organization tickets', { uid: organization.uid }) }}">
            {{ 'tickets.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'tickets.new.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    {% set canUpdateActors = form.requester is defined %}
    {% set canUpdatePriority = form.priority is defined %}
    {% set canUpdateLabels = form.labels is defined and form.labels.vars.choices is not empty %}
    {% set extendedLayout = canUpdateActors or canUpdatePriority or canUpdateLabels %}

    <main class="layout__body {{ extendedLayout ? 'layout__body--extend' }}">
        <h1>{{ 'tickets.new.title' | trans }}</h1>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="{{ extendedLayout ? 'cols flow flow--larger' }}">
                {% if extendedLayout %}
                    <div class="ticket__info col--size3">
                        <div class="panel">
                            {% if canUpdateActors %}
                                <details class="accordion" open>
                                    <summary class="accordion__title">
                                        {{ 'tickets.actors' | trans }}
                                    </summary>

                                    <div class="accordion__body flow">
                                        {{ form_row(form.requester) }}

                                        {% if form.team.vars.choices is not empty %}
                                            {{ form_row(form.team) }}
                                        {% else %}
                                            <!-- {{ field_name(form.team) }} -->
                                        {% endif %}

                                        {{ form_row(form.assignee) }}

                                        {{ form_row(form.observers) }}
                                    </div>
                                </details>
                            {% endif %}

                            {% if canUpdatePriority %}
                                {% set mustOpenAccordion = field_value(form.urgency) != 'medium' or field_value(form.impact) != 'medium' or field_value(form.priority) != 'medium' %}

                                <details class="accordion" {{ mustOpenAccordion ? 'open' }}>
                                    <summary class="accordion__title">
                                        {{ 'tickets.priority' | trans }}
                                    </summary>

                                    <div class="accordion__body flow">
                                        <div class="cols flow">
                                            <div class="col--extend">
                                                {{ form_row(form.urgency) }}
                                            </div>

                                            <div class="col--extend">
                                                {{ form_row(form.impact) }}
                                            </div>
                                        </div>

                                        {{ form_row(form.priority) }}
                                    </div>
                                </details>
                            {% endif %}

                            {% if canUpdateLabels %}
                                {% set mustOpenAccordion = field_value(form.labels) is not empty %}

                                <details class="accordion" {{ mustOpenAccordion ? 'open' }}>
                                    <summary class="accordion__title">
                                        {{ 'tickets.labels' | trans }}
                                    </summary>

                                    <div class="accordion__body">
                                        {{ form_row(form.labels) }}
                                    </div>
                                </details>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="panel col--size9">
                    <div class="wrapper {{ not extendedLayout ? 'wrapper--center' }} flow flow--larger">
                        {% if form.type is defined %}
                            {{ form_row(form.type) }}
                        {% endif %}

                        {{ form_row(form.title) }}

                        {{ form_row(form.content) }}

                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
