{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'New ticket – %name%' | trans({ '%name%': organization.name }) }}{% endblock %}

{% block back %}
    <a href="{{ path('organization tickets', {'uid': organization.uid}) }}">
        {{ 'Back (tickets)' | trans }}
    </a>
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <h1>{{ 'New ticket' | trans }}</h1>

        <div class="text--center">
            {{ organization.name }}
        </div>

        <form
            action="{{ path('create organization ticket', {'uid': organization.uid}) }}"
            method="post"
            class="wrapper wrapper--center flow"
        >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create organization ticket') }}">

            {% if error %}
                <div class="alert alert--error" role="alert" data-turbo-cache="false" data-test="alert-error">
                    <div class="alert__title">{{ 'Error' | trans }}</div>

                    <p class="alert__message">
                        {{ error }}
                    </p>
                </div>
            {% endif %}

            <div class="flow-small">
                <label for="title">
                    {{ 'Title' | trans }}
                    <small class="text--secondary">
                        {{ '(max. 255 characters)' | trans }}
                    </small>
                </label>

                {% if errors.title is defined %}
                    <p class="form__error" role="alert" id="title-error">
                        <span class="sr-only">{{ 'Error' | trans }}</span>
                        {{ errors.title }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title }}"
                    required
                    maxlength="255"
                    {% if errors.title is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="title-error"
                    {% endif %}
                />
            </div>

            <div class="flow-small">
                {% if errors.content is defined %}
                    <p class="form__error" role="alert" id="message-error">
                        <span class="sr-only">{{ 'Error' | trans }}</span>
                        {{ errors.content }}
                    </p>
                {% endif %}

                <textarea
                    id="message"
                    name="message"
                    data-controller="tinymce"
                    {% if errors.content is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="message-error"
                    {% endif %}
                >{{ message }}</textarea>
            </div>

            <div class="grid grid--cols2">
                <div class="flow-small">
                    <label for="requester">
                        {{ icon('user') }}
                        {{ 'Requester' | trans }}
                    </label>

                    {% if errors.requester is defined %}
                        <p class="form__error" role="alert" id="requester-error">
                            <span class="sr-only">{{ 'Error' | trans }}</span>
                            {{ errors.requester }}
                        </p>
                    {% endif %}

                    <select
                        id="requester"
                        name="requesterId"
                        required
                        {% if errors.requester is defined %}
                            autofocus
                            aria-invalid="true"
                            aria-errormessage="requester-error"
                        {% endif %}
                    >
                        {% for user in users %}
                            <option value="{{ user.id }}" {{ user.id == requesterId ? 'selected' }}>
                                {{ user.email }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flow-small">
                    <label for="assignee">
                        {{ icon('headset') }}
                        {{ 'Assignee' | trans }}
                        <small class="text--secondary">
                            {{ '(optional)' | trans }}
                        </small>
                    </label>

                    {% if errors.assignee is defined %}
                        <p class="form__error" role="alert" id="assignee-error">
                            <span class="sr-only">{{ 'Error' | trans }}</span>
                            {{ errors.assignee }}
                        </p>
                    {% endif %}

                    <select
                        id="assignee"
                        name="assigneeId"
                        {% if errors.assignee is defined %}
                            autofocus
                            aria-invalid="true"
                            aria-errormessage="assignee-error"
                        {% endif %}
                    >
                        <option value="">
                            {{ 'Unassigned' | trans }}
                        </option>

                        {% for user in users %}
                            <option value="{{ user.id }}" {{ user.id == assigneeId ? 'selected' }}>
                                {{ user.email }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="flow-small">
                <label for="status">
                    {{ icon('status') }}
                    {{ 'Status' | trans }}
                </label>

                {% if errors.status is defined %}
                    <p class="form__error" role="alert" id="status-error">
                        <span class="sr-only">{{ 'Error' | trans }}</span>
                        {{ errors.status }}
                    </p>
                {% endif %}

                <select
                    id="status"
                    name="status"
                    required
                    {% if errors.status is defined %}
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="status-error"
                    {% endif %}
                >
                    {% for value, label in statuses %}
                        <option value="{{ value }}" {{ value == status ? 'selected' }}>
                            {{ label | trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form__actions">
                <button id="form-create-ticket-submit" class="button--primary" type="submit">
                    {{ 'Create the ticket' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
