{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<div class="multiselect-actors" data-controller="multiselect-actors">
    <select
        id="{{ id }}-data"
        name="{{ name }}"
        multiple
        data-multiselect-actors-target="data"
        data-action="multiselect-actors#refresh"
        hidden
    >
        {% for user in users %}
            {% set isCurrentUser = user.id == app.user.id %}
            {% set userId = isCurrentUser ? '@me' : user.id %}

            <option value="{{ isCurrentUser ? userId : '#' ~ userId }}" {{ userId in selected ? 'selected' }}>
                {{ user.displayName }}

                {% if user.id == app.user.id %}
                    ({{ 'users.yourself' | trans }})
                {% endif %}
            </option>
        {% endfor %}
    </select>

    <div class="flow flow--smaller">
        <select
            id="{{ id }}"
            class="multiselect-actors__select widget--small"
            data-multiselect-actors-target="select"
            data-action="multiselect-actors#select"
        >
            <option disabled value="">
                {{ 'tickets.filters.actors.select' | trans }}
            </option>
        </select>

        <div class="cols cols--always cols--wrap flow flow--smaller" data-multiselect-actors-target="list">
        </div>
    </div>

    <template data-multiselect-actors-target="template">
        <button
            type="button"
            class="button--discreet-alt"
            data-action="multiselect-actors#unselect"
            data-target="unselect"
            data-value=""
            aria-label={{ 'tickets.filters.actors.unselect' | trans }}
        >
            <span data-target="name">
            </span>

            {{ icon('close') }}
        </button>
    </template>
</div>
