{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'tickets.filters.type.title' | trans }}{% endblock %}

{% block body %}
    <form
        action="{{ path('combine filters') }}"
        method="post"
        class="wrapper wrapper--small wrapper--center flow flow--large"
    >
        <div class="flow flow--small">
            <label for="type">
                {{ 'tickets.filters.type.label' | trans }}
            </label>

            <select
                id="type"
                name="filters[type][]"
            >
                <option value="" {{ ticketFilter.filter('type') is empty ? 'checked' }}>
                    {{ 'tickets.filters.type.no_filter' | trans }}
                </option>

                <option value="incident" {{ 'incident' in ticketFilter.filter('type') ? 'selected' }}>
                    {{ 'tickets.filters.type.only_incidents' | trans }}
                </option>

                <option value="request" {{ 'request' in ticketFilter.filter('type') ? 'selected' }}>
                    {{ 'tickets.filters.type.only_requests' | trans }}
                </option>
            </select>
        </div>

        <div class="form__actions">
            <button class="button--primary" type="submit">
                {{ 'tickets.filters.apply_filter' | trans }}
            </button>
        </div>

        <input type="hidden" name="from" value="{{ from }}">
        <input type="hidden" name="query" value="{{ query }}">
    </form>
{% endblock %}
