{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'contracts' %}

{% block title %}{{ 'contracts.index.title' | trans }} – {{ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow wrapper wrapper--large wrapper--center">
            <div class="layout__breadcrumb">
                <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
                <h1>{{ 'contracts.index.title' | trans }}</h1>
            </div>

            <div class="flow">
                <div class="row row--center row--always flow">
                    {% if is_granted('orga:manage:contracts', organization) %}
                        <a class="anchor--action" href="{{ path('new organization contract', { uid: organization.uid }) }}">
                            {{ icon('plus') }}
                            {{ 'contracts.index.new_contract' | trans }}
                        </a>
                    {% endif %}

                    {% if contracts %}
                        <p class="text--secondary">
                            {{ 'contracts.index.number' | trans({ count: contracts|length }) }}
                        </p>
                    {% endif %}
                </div>

                {% if contracts %}
                    <ul class="list--padded list--border list--nostyle">
                        {% for contract in contracts %}
                            <li class="flow flow--smaller" data-test="contract-item">
                                <div class="row row--always flow flow--smaller">
                                    <div class="row__item--extend">
                                        <h2 class="text--normal">
                                            <a href="{{ path('organization contract', {'uid': organization.uid, 'contract_uid': contract.uid }) }}">
                                                {{ contract.name }}
                                            </a>
                                        </h2>
                                    </div>

                                    <div>
                                        <span class="badge badge--small badge--{{ contract.statusBadgeColor }}" title="{{ 'contracts.status' | trans }}">
                                            <span class="sr-only">
                                                {{ 'contracts.status' | trans }}
                                            </span>

                                            {{ contract.statusLabel | trans }}
                                        </span>
                                    </div>
                                </div>

                                <div class="row row--baseline flow flow--smaller text--small">
                                    <div class="row__item--extend">
                                        {{ 'contracts.hours_consumed' | trans({ 'hours': contract.consumedMinutes | formatMinutes, 'maxHours': contract.maxHours }) | raw }}

                                        ⋅

                                        <a href="{{ path('organization tickets', { uid: contract.organization.uid, q: 'contract:#' ~ contract.id }) }}">
                                            {{ 'contracts.index.tickets' | trans({ count: contract.tickets.count }) }}
                                        </a>
                                    </div>

                                    <div>
                                        <time datetime="{{ contract.startAt | dateIso }}">
                                            {{ contract.startAt | dateTrans('dd MMM yyyy') }}
                                        </time>

                                        —

                                        <time datetime="{{ contract.endAt | dateIso }}">
                                            {{ contract.endAt | dateTrans('dd MMM yyyy') }}
                                        </time>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="placeholder">
                        {{ icon('contract') }}
                        {{ 'contracts.index.no_contracts' | trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
