{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'contracts' %}

{% block title %}{{ contract.name }} – {{ organization.name }}{% endblock %}

{% block body %}
    <main class="layout__body flow wrapper wrapper--large wrapper--center">
        <div class="layout__breadcrumb">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>

            <a href="{{ path('organization contracts', { uid: organization.uid }) }}">
                {{ 'contracts.index.title' | trans }}
            </a>

            <h1>{{ contract.name }}</h1>
        </div>

        <div class="wrapper wrapper--small flow flow--larger">
            <div class="row row--always row--center flow flow--small">
                <div class="row__item--extend">
                    <span class="badge badge--bold badge--{{ contract.statusBadgeColor }}" title="{{ 'contracts.status' | trans }}">
                        <span class="sr-only">
                            {{ 'contracts.status' | trans }}
                        </span>

                        {{ contract.statusLabel | trans }}
                    </span>
                </div>

                {% if is_granted('orga:manage:contracts', organization) %}
                    <button
                        class="button--icon"
                        data-controller="modal-opener"
                        data-action="modal-opener#fetch"
                        data-modal-opener-href-value="{{ path('edit contract alerts', { uid: contract.uid }) }}"
                    >
                        {{ icon('bell') }}

                        <span class="sr-only">
                            {{ 'contracts.show.set_up_alerts' | trans }}
                        </span>
                    </button>

                    <a class="button" href="{{ path('new organization contract', { uid: organization.uid, from: contract.uid }) }}">
                        {{ icon('repeat') }}
                        {{ 'contracts.show.renew' | trans }}
                    </a>
                {% endif %}
            </div>

            {% if contract.billingInterval %}
                <p>
                    {{ 'contracts.show.billing_interval' | trans({ count: contract.billingInterval }) }}
                </p>
            {% endif %}

            <div class="flow flow--small">
                <div class="row row--center row--always flow text--small">
                    <div class="row__item--extend" id="contract-hours-consumed">
                        {% if contract.hoursAlertActivated %}
                            <span>
                                {{ icon('triangle-exclamation-warning') }}
                                <span class="sr-only">
                                    {{ 'contracts.show.warning' | trans }}
                                </span>
                            </span>
                        {% endif %}

                        {{ 'contracts.hours_consumed' | trans({ 'hours': contract.consumedMinutes | formatMinutes, 'maxHours': contract.maxHours }) | raw }}
                    </div>

                    <button
                        class="button--discreet"
                        data-controller="modal-opener"
                        data-action="modal-opener#fetch"
                        data-modal-opener-href-value="{{ path('edit contract max hours', { uid: contract.uid }) }}"
                    >
                        {{ 'contracts.show.extend' | trans }}
                    </button>
                </div>

                <div class="progress-with-marker">
                    <progress
                        value="{{ contract.consumedHours }}"
                        max="{{ contract.maxHours }}"
                        class="{{ contract.hoursAlertActivated ? 'progress--warning' }}"
                        aria-labelledby="contract-hours-consumed"
                    >
                    </progress>

                    {% if contract.hoursAlert > 0 %}
                        <div class="progress__marker" style="--marker-percent: {{ contract.hoursAlert }}%;">
                            <span class="sr-only">
                                {{ 'contracts.show.alert' | trans }}
                            </span>

                            {{ contract.hoursOfAlert | formatHours }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="flow flow--small">
                <div class="row row--center row--always flow text--small">
                    <div class="row__item--extend" id="contract-days-consumed">
                        {% if contract.dateAlertActivated %}
                            <span>
                                {{ icon('triangle-exclamation-warning') }}
                                <span class="sr-only">
                                    {{ 'contracts.show.warning' | trans }}
                                </span>
                            </span>
                        {% endif %}

                        {{ 'contracts.days_consumed' | trans({ 'days': contract.daysProgress }) | raw }}
                    </div>

                    <div class="text--secondary">
                        <time datetime="{{ contract.startAt | dateIso }}">
                            {{ contract.startAt | dateTrans('dd MMM yyyy') }}
                        </time>

                        —

                        <time datetime="{{ contract.endAt | dateIso }}">
                            {{ contract.endAt | dateTrans('dd MMM yyyy') }}
                        </time>
                    </div>
                </div>

                <div class="progress-with-marker">
                    <progress
                        value="{{ contract.daysProgress }}"
                        max="{{ contract.daysDuration }}"
                        class="{{ contract.dateAlertActivated ? 'progress--warning' }}"
                        aria-labelledby="contract-days-consumed"
                    >
                    </progress>

                    {% if contract.dateAlert > 0 %}
                        <div class="progress__marker" style="--marker-percent: {{ contract.dateAlertPercent }}%;">
                            <span class="sr-only">
                                {{ 'contracts.show.alert' | trans }}
                            </span>

                            <time datetime="{{ contract.dateOfAlert | dateIso }}">
                                {{ contract.dateOfAlert | dateTrans('dd MMM') }}
                            </time>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if contract.notes and is_granted('orga:see:contracts:notes', organization) %}
                <article class="message message--confidential">
                    <div class="message__box">
                        <div class="message__top">
                            <h2 class="text--small">
                                {{ 'contracts.notes' | trans }}
                            </h2>

                            <div class="message__badge">
                                {{ icon('user-secret') }}
                                {{ 'contracts.show.notes_confidential' | trans }}
                            </div>
                        </div>

                        <p class="message__content">
                            {{ contract.notes | nl2br }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
