{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'edit password' %}

{% block title %}{{ 'passwords.edit.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <span aria-current="page">
            {{ 'passwords.edit.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow flow--large text--center">
            <h1>{{ 'passwords.edit.title' | trans }}</h1>

            <p class="wrapper wrapper--text wrapper--center">
                {{ 'passwords.edit.short' | trans({ email: user.email }) | raw }}
            </p>
        </div>

        <div class="panel">
            <div class="wrapper wrapper--text wrapper--center flow flow--large">
                {{ form(form) }}
            </div>
        </div>
    </main>
{% endblock %}
