{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'reset password' %}

{% block title %}{{ 'passwords.reset.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <span aria-current="page">
            {{ 'passwords.reset.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow flow--large text--center">
            <h1>{{ 'passwords.reset.title' | trans }}</h1>

            <p class="wrapper wrapper--text wrapper--center">
                {{ 'passwords.reset.short' | trans }}
            </p>
        </div>

        <div class="panel">
            <div class="wrapper wrapper--text wrapper--center flow flow--large">
                {% if emailSent %}
                    {{ include('alerts/_alert.html.twig', {
                        type: 'info',
                        title: 'passwords.reset.sent.title' | trans,
                        message: 'passwords.reset.sent.message' | trans,
                    }, with_context = false) }}
                {% else %}
                    {{ form(form) }}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
