{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'teams' %}

{% block title %}{{ 'teams.index.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ 'teams.index.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body teams-index">
        <h1>{{ 'teams.index.title' | trans }}</h1>

        <div class="flow">
            <div class="cols cols--center flow">
                <a href="{{ path('new team') }}" class="button button--primary button--uppercase">
                    {{ icon('plus') }}
                    {{ 'teams.index.new_team' | trans }}
                </a>

                {% if teams|length > 0 %}
                    <p class="text--secondary">
                        {{ 'teams.index.number' | trans({ count: teams|length }) }}
                    </p>
                {% endif %}
            </div>

            {% if teams|length > 0 %}
                <ul class="list--padded list--border list--nostyle">
                    {% for team in teams %}
                        <li class="cols cols--center flow flow--small" data-test="team-item">
                            <span class="col--extend list__item-title">
                                <a href="{{ path('team', { uid: team.uid }) }}">
                                    {{ team.name }}
                                </a>
                            </span>

                            <span class="col--noshrink">
                                <span class="badge badge--grey">
                                    {{ 'teams.index.agents' | trans({ count: team.agents|length }) }}
                                </span>

                                <span class="badge badge--grey">
                                    {{ 'teams.index.authorizations' | trans({ count: team.teamAuthorizations|length }) }}
                                </span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="placeholder">
                    {{ 'teams.index.none' | trans }}
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}
