{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'teams' %}

{% block title %}{{ team.name }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('teams') }}">
            {{ 'teams.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ team.name }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow flow--smaller">
            <h1>{{ team.name }}</h1>

            <div class="text--right">
                <details
                    class="popup"
                    data-controller="popup"
                    data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                >
                    <summary class="popup__opener">
                        <span class="button button--discreet">
                            {{ 'common.actions' | trans }}
                            {{ icon('angle-down') }}
                        </span>
                    </summary>

                    <nav class="popup__container popup__container--right">
                        <a class="popup__item" href="{{ path('edit team', { uid: team.uid }) }}">
                            {{ 'teams.show.edit' | trans }}
                        </a>
                    </nav>
                </details>
            </div>
        </div>

        <div class="flow">
            <h2 class="sr-only">{{ 'teams.show.agents.title' | trans }}</h2>

            <div class="cols cols--center flow">
                <a href="{{ path('new team agent', { uid: team.uid }) }}" class="button button--primary button--uppercase">
                    {{ icon('plus') }}
                    {{ 'teams.show.agents.new' | trans }}
                </a>

                {% if agents|length > 0 %}
                    <p class="text--secondary">
                        {{ 'teams.show.agents.number' | trans({ count: agents|length }) }}
                    </p>
                {% endif %}
            </div>

            {% if agents|length > 0 %}
                <ul class="list--padded list--border list--nostyle">
                    {% for user in agents %}
                        <li class="cols cols--center flow flow--small" data-test="user-item">
                            <span class="col--extend">
                                <span class="list__item-title">
                                    {{ user.displayName }}

                                    {% if user == app.user %}
                                        ({{ 'users.yourself' | trans }})
                                    {% endif %}
                                </span>

                                {% if user.name %}
                                    <span class="text--secondary text--small">
                                        {{ user.email }}
                                    </span>
                                {% endif %}
                            </span>

                            <div class="col--noshrink cols cols--always cols--center flow flow--small">
                                <form method="post" action="{{ path('remove team agent', { uid: team.uid }) }}">
                                    <input type="hidden" name="agentUid" value="{{ user.uid }}" />
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('remove team agent') }}">

                                    <button
                                        class="button--discreet"
                                        type="submit"
                                        data-turbo-confirm="{{ 'teams.show.agents.remove.confirm' | trans }}"
                                    >
                                        {{ 'teams.show.agents.remove' | trans }}
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="placeholder">
                    {{ 'teams.show.agents.none' | trans }}
                </p>
            {% endif %}
        </div>

        <div class="panel flow">
            <div class="cols cols--center flow">
                <h2 class="col--extend">{{ 'teams.show.authorizations.title' | trans }}</h2>

                <a class="button button--primary button--uppercase" href="{{ path('new team authorization', { uid: team.uid }) }}">
                    {{ icon('plus') }}
                    {{ 'teams.show.authorizations.new' | trans }}
                </a>
            </div>

            {% if teamAuthorizations %}
                <div class="grid">
                    {% for authorization in teamAuthorizations %}
                        {{ include('authorizations/_authorization.html.twig', {
                            authorization: authorization,
                            mode: 'team',
                        }, with_context = false) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
