{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{{ form_start(form, { attr: {
    'class': 'form--standard',
}}) }}
    {{ form_errors(form) }}

    <div class="flow flow--small">
        <label for="{{ field_id(form.name) }}">
            {{ 'roles.name' | trans }}

            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 50 }) }}
            </small>
        </label>

        {{ form_errors(form.name) }}

        <input
            type="text"
            id="{{ field_id(form.name) }}"
            name="{{ field_name(form.name) }}"
            value="{{ field_value(form.name) }}"
            required
            maxlength="50"
            {% if field_has_errors(form.name) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form.name, 'error') }}"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="{{ field_id(form.description) }}">
            {{ 'roles.description' | trans }}

            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 255 }) }}
            </small>
        </label>

        {{ form_errors(form.description) }}

        <input
            type="text"
            id="{{ field_id(form.description) }}"
            name="{{ field_name(form.description) }}"
            value="{{ field_value(form.description) }}"
            required
            maxlength="255"
            {% if field_has_errors(form.description) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form.description, 'error') }}"
            {% endif %}
        />
    </div>

    {% if form.isDefault is defined %}
        <div>
            {{ form_errors(form.isDefault) }}
            <input
                type="checkbox"
                id="{{ field_id(form.isDefault) }}"
                name="{{ field_name(form.isDefault) }}"
                {{ form.isDefault.vars.checked ? 'checked' }}
            />

            <label for="{{ field_id(form.isDefault) }}">
                {{ 'roles.is_default' | trans }}
            </label>
        </div>
    {% endif %}

    <fieldset class="flow flow--large" data-controller="checkboxes">
        <legend>{{ 'roles.permissions' | trans }}</legend>

        {{ form_errors(form.permissions) }}

        <div>
            <button
                class="button--discreet"
                type="button"
                data-checkboxes-target="control"
                data-checkboxes-control="input[type='checkbox']#check"
                data-action="checkboxes#execute"
            >
                {{ 'roles.permissions.check_all' | trans }}
            </button>

            <button
                class="button--discreet"
                type="button"
                data-checkboxes-target="control"
                data-checkboxes-control="input[type='checkbox']#uncheck"
                data-action="checkboxes#execute"
            >
                {{ 'roles.permissions.uncheck_all' | trans }}
            </button>
        </div>

        <div class="flow">
            {% for permission in form.permissions %}
                {% if field_value(permission) != 'admin:see' and field_value(permission) != 'orga:see' %}
                    <div>
                        <input
                            type="checkbox"
                            id="{{ field_id(permission) }}"
                            name="{{ field_name(permission) }}"
                            value="{{ field_value(permission) }}"
                            {{ field_value(permission) in field_value(form.permissions) ? 'checked' }}
                        />

                        <label for="{{ field_id(permission) }}">
                            {{ field_value(permission) | rolePermissionToLabel | trans }}
                        </label>
                    </div>
                {% else %}
                    {# Don't display admin:see and orga:see checkboxes as they
                     # are inherent in the orga/admin roles and are added manually
                     # when sanitizing the permissions in the form. #}
                    <!-- {{ field_name(permission) }} -->
                {% endif %}
            {% endfor %}

            {% if field_value(form.type) == 'agent' %}
                {# This permission is inherent in the agent roles and cannot
                 # be unset. In fact, it doesn't even exist as a permission in the
                 # code, it is only implied by the type of the role.
                 # This checkbox exists only to make it clear that agent
                 # roles implies that these users can be assigned to tickets.
                 #}

                <div>
                    <input
                        type="checkbox"
                        id="fake:orga:update:tickets:assignee"
                        disabled
                        checked
                    />

                    <label for="fake:orga:update:tickets:assignee">
                        {{ 'roles.permissions.be_assigned_to_tickets' | trans }}
                    </label>
                </div>
            {% endif %}
        </div>
    </fieldset>

    <div class="form__actions">
        <button id="form-save-role-submit" class="button--primary" type="submit">
            {{ submit_label }}
        </button>
    </div>
{{ form_end(form) }}
