{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<div>
    <input
        type="checkbox"
        id="{{ permission }}"
        name="permissions[]"
        value="{{ permission }}"
        {{ permission in permissions ? 'checked' }}
    />

    <label for="{{ permission }}">
        {{ label }}
    </label>
</div>
