{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if mode == 'new' %}
    {% set formAction = path('create role', { type: type }) %}
    {% set csrfToken = csrf_token('create role') %}
    {% set label = 'roles.new.submit' | trans %}
{% elseif mode == 'edit' %}
    {% set formAction = path('update role', { uid: role.uid }) %}
    {% set csrfToken = csrf_token('update role') %}
    {% set label = 'forms.save_changes' | trans %}
{% endif %}

<form action="{{ formAction }}" method="post" class="form--standard">
    {% if error %}
        {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
    {% endif %}

    <div class="flow flow--small">
        <label for="name">
            {{ 'roles.name' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 50 }) }}
            </small>
        </label>

        {% if errors.name is defined %}
            <p class="form__error" role="alert" id="name-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.name }}
            </p>
        {% endif %}

        <input
            type="text"
            id="name"
            name="name"
            value="{{ name }}"
            required
            autofocus
            maxlength="50"
            {% if errors.name is defined %}
                aria-invalid="true"
                aria-errormessage="name-error"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="description">
            {{ 'roles.description' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 255 }) }}
            </small>
        </label>

        {% if errors.description is defined %}
            <p class="form__error" role="alert" id="description-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.description }}
            </p>
        {% endif %}

        <input
            type="text"
            id="description"
            name="description"
            value="{{ description }}"
            required
            maxlength="255"
            {% if errors.description is defined %}
                aria-invalid="true"
                aria-errormessage="description-error"
            {% endif %}
        />
    </div>

    {% if type == 'user' %}
        <div>
            <input
                type="checkbox"
                id="is-default"
                name="isDefault"
                {{ isDefault ? 'checked' }}
            />

            <label for="is-default">
                {{ 'roles.is_default' | trans }}
            </label>
        </div>
    {% endif %}

    <fieldset class="flow flow--large" data-controller="checkboxes">
        <legend>{{ 'roles.permissions' | trans }}</legend>

        <div>
            <button
                class="button--discreet"
                type="button"
                data-checkboxes-target="control"
                data-checkboxes-control="input[type='checkbox']#check"
                data-action="checkboxes#execute"
            >
                {{ 'roles.permissions.check_all' | trans }}
            </button>

            <button
                class="button--discreet"
                type="button"
                data-checkboxes-target="control"
                data-checkboxes-control="input[type='checkbox']#uncheck"
                data-action="checkboxes#execute"
            >
                {{ 'roles.permissions.uncheck_all' | trans }}
            </button>
        </div>

        <div class="flow">
            {% for permission in assignablePermissions %}
                <div>
                    <input
                        type="checkbox"
                        id="{{ permission }}"
                        name="permissions[]"
                        value="{{ permission }}"
                        {{ permission in permissions ? 'checked' }}
                    />

                    <label for="{{ permission }}">
                        {{ permission | rolePermissionToLabel | trans }}
                    </label>
                </div>
            {% endfor %}

            {% if type == 'agent' %}
                {# This permission is inherent in the agent roles and cannot
                 # be unset. In fact, it doesn't even exist as a permission in the
                 # code, it is only implied by the type of the role.
                 # This checkbox exists only to make it clear that agent
                 # roles implies that these users can be assigned to tickets.
                 #}

                <div>
                    <input
                        type="checkbox"
                        id="fake:orga:update:tickets:assignee"
                        disabled
                        checked
                    />

                    <label for="fake:orga:update:tickets:assignee">
                        {{ 'roles.permissions.be_assigned_to_tickets' | trans }}
                    </label>
                </div>
            {% endif %}
        </div>
    </fieldset>

    <div class="form__actions">
        <button id="form-save-role-submit" class="button--primary" type="submit">
            {{ label }}
        </button>
    </div>

    <input type="hidden" name="type" value="{{ type }}">
    <input type="hidden" name="_csrf_token" value="{{ csrfToken }}">
</form>
