{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if mode == 'new' %}
    {% set formAction = path('create role', { type: type }) %}
    {% set csrfToken = csrf_token('create role') %}
    {% set label = 'roles.new.submit' | trans %}
{% elseif mode == 'edit' %}
    {% set formAction = path('update role', { uid: role.uid }) %}
    {% set csrfToken = csrf_token('update role') %}
    {% set label = 'forms.save_changes' | trans %}
{% endif %}

<form action="{{ formAction }}" method="post" class="wrapper wrapper--small flow">
    <input type="hidden" name="_csrf_token" value="{{ csrfToken }}">

    {% if error %}
        {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
    {% endif %}

    <div class="flow flow--small">
        <label for="name">
            {{ 'roles.name' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 50 }) }}
            </small>
        </label>

        {% if errors.name is defined %}
            <p class="form__error" role="alert" id="name-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.name }}
            </p>
        {% endif %}

        <input
            type="text"
            id="name"
            name="name"
            value="{{ name }}"
            required
            autofocus
            maxlength="50"
            {% if errors.name is defined %}
                aria-invalid="true"
                aria-errormessage="name-error"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="description">
            {{ 'roles.description' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 255 }) }}
            </small>
        </label>

        {% if errors.description is defined %}
            <p class="form__error" role="alert" id="description-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.description }}
            </p>
        {% endif %}

        <input
            type="text"
            id="description"
            name="description"
            value="{{ description }}"
            required
            maxlength="255"
            {% if errors.description is defined %}
                aria-invalid="true"
                aria-errormessage="description-error"
            {% endif %}
        />
    </div>

    <fieldset class="flow" data-controller="checkboxes">
        <legend>{{ 'roles.permissions' | trans }}</legend>

        <div class="text--center">
            <button class="text--small" type="button" data-action="checkboxes#checkAll">
                {{ 'roles.permissions.check_all' | trans }}
            </button>

            <button class="text--small" type="button" data-action="checkboxes#uncheckAll">
                {{ 'roles.permissions.uncheck_all' | trans }}
            </button>
        </div>

        {% for permission in assignablePermissions %}
            <div>
                <input
                    type="checkbox"
                    id="{{ permission }}"
                    name="permissions[]"
                    value="{{ permission }}"
                    {{ permission in permissions ? 'checked' }}
                />

                <label for="{{ permission }}">
                    {{ permission | rolePermissionToLabel | trans }}
                </label>
            </div>
        {% endfor %}
    </fieldset>

    <div class="form__actions">
        <button id="form-save-role-submit" class="button--primary" type="submit">
            {{ label }}
        </button>
    </div>

    <input type="hidden" name="type" value="{{ type }}">
</form>
