{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if mode == 'new' %}
    {% set formAction = path('create role', { type: type }) %}
    {% set csrfToken = csrf_token('create role') %}
    {% set label = 'roles.new.submit' | trans %}
{% elseif mode == 'edit' %}
    {% set formAction = path('update role', { uid: role.uid }) %}
    {% set csrfToken = csrf_token('update role') %}
    {% set label = 'forms.save_changes' | trans %}
{% endif %}

<form action="{{ formAction }}" method="post" class="wrapper wrapper--small flow">
    <input type="hidden" name="_csrf_token" value="{{ csrfToken }}">

    {% if error %}
        {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
    {% endif %}

    <div class="flow flow--small">
        <label for="name">
            {{ 'roles.name' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 50 }) }}
            </small>
        </label>

        {% if errors.name is defined %}
            <p class="form__error" role="alert" id="name-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.name }}
            </p>
        {% endif %}

        <input
            type="text"
            id="name"
            name="name"
            value="{{ name }}"
            required
            autofocus
            maxlength="50"
            {% if errors.name is defined %}
                aria-invalid="true"
                aria-errormessage="name-error"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="description">
            {{ 'roles.description' | trans }}
            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 255 }) }}
            </small>
        </label>

        {% if errors.description is defined %}
            <p class="form__error" role="alert" id="description-error">
                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                {{ errors.description }}
            </p>
        {% endif %}

        <input
            type="text"
            id="description"
            name="description"
            value="{{ description }}"
            required
            maxlength="255"
            {% if errors.description is defined %}
                aria-invalid="true"
                aria-errormessage="description-error"
            {% endif %}
        />
    </div>

    {% if type == 'admin' %}
        <input type="hidden" name="type" value="admin">
    {% else %}
        <div class="row row--always flow">
            <div>
                <input
                    type="radio"
                    id="type-orga-user"
                    name="type"
                    value="orga:user"
                    {{ type == 'orga:user' ? 'checked' }}
                />

                <label for="type-orga-user">
                    {{ 'roles.type.orga.user' | trans }}
                </label>
            </div>

            <div>
                <input
                    type="radio"
                    id="type-orga-tech"
                    name="type"
                    value="orga:tech"
                    {{ type == 'orga:tech' ? 'checked' }}
                />

                <label for="type-orga-tech">
                    {{ 'roles.type.orga.tech' | trans }}
                </label>
            </div>
        </div>
    {% endif %}

    <fieldset class="flow" data-controller="checkboxes">
        <legend>{{ 'roles.permissions' | trans }}</legend>

        <div class="text--center">
            <button class="text--small" type="button" data-action="checkboxes#checkAll">
                {{ 'roles.permissions.check_all' | trans }}
            </button>

            <button class="text--small" type="button" data-action="checkboxes#uncheckAll">
                {{ 'roles.permissions.uncheck_all' | trans }}
            </button>
        </div>

        {% if type == 'admin' %}
            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'admin:manage:mailboxes',
                label: 'roles.permissions.admin.manage.mailboxes' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'admin:manage:organizations',
                label: 'roles.permissions.admin.manage.organizations' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'admin:manage:roles',
                label: 'roles.permissions.admin.manage.roles' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'admin:manage:users',
                label: 'roles.permissions.admin.manage.users' | trans,
            }) }}
        {% else %}
            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:create:tickets',
                label: 'roles.permissions.orga.create.tickets' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:see:tickets:all',
                label: 'roles.permissions.orga.see.tickets.all' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:create:tickets:messages',
                label: 'roles.permissions.orga.create.tickets.messages' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:create:tickets:messages:confidential',
                label: 'roles.permissions.orga.create.tickets.messages.confidential' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:see:tickets:messages:confidential',
                label: 'roles.permissions.orga.see.tickets.messages.confidential' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:see:tickets:contracts',
                label: 'roles.permissions.orga.see.tickets.contracts' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:actors',
                label: 'roles.permissions.orga.update.tickets.actors' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:contracts',
                label: 'roles.permissions.orga.update.tickets.contracts' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:priority',
                label: 'roles.permissions.orga.update.tickets.priority' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:status',
                label: 'roles.permissions.orga.update.tickets.status' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:title',
                label: 'roles.permissions.orga.update.tickets.title' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:update:tickets:type',
                label: 'roles.permissions.orga.update.tickets.type' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:see:contracts',
                label: 'roles.permissions.orga.see.contracts' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:see:contracts:notes',
                label: 'roles.permissions.orga.see.contracts.notes' | trans,
            }) }}

            {{ include('roles/_permission_checkbox.html.twig', {
                permission: 'orga:manage:contracts',
                label: 'roles.permissions.orga.manage.contracts' | trans,
            }) }}
        {% endif %}
    </fieldset>

    <div class="form__actions">
        <button id="form-save-role-submit" class="button--primary" type="submit">
            {{ label }}
        </button>
    </div>
</form>
