{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'roles' %}

{% set type = role.type %}

{% if field_value(form.type) == 'admin' %}
    {% set pageTitle = 'roles.edit.title.admin' | trans %}
{% elseif field_value(form.type) == 'agent' %}
    {% set pageTitle = 'roles.edit.title.agent' | trans %}
{% elseif field_value(form.type) == 'user' %}
    {% set pageTitle = 'roles.edit.title.user' | trans %}
{% endif %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('roles') }}">
            {{ 'roles.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ pageTitle }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ pageTitle }}</h1>

        <div class="panel">
            {{ include('roles/_form.html.twig', {
                form: form,
                submit_label: 'forms.save_changes' | trans,
             }, with_context = false) }}
        </div>

        <div class="panel">
            <form action="{{ path('delete role', { uid: role.uid }) }}" method="post" class="form--standard">
                <h2>{{ 'roles.deletion.title' | trans }}</h2>

                {{ include('alerts/_alert.html.twig', {
                    type: 'warning',
                    title: 'common.caution' | trans,
                    message: 'roles.deletion.going_delete' | trans({ role: role.name }),
                }, with_context = false) }}

                {% if error %}
                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                {% endif %}

                <div class="form__actions">
                    <button
                        class="button--primary"
                        type="submit"
                        data-turbo-confirm="{{ 'roles.deletion.confirm' | trans }}"
                    >
                        {{ 'roles.deletion.submit' | trans }}
                    </button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete role') }}">
            </form>
        </div>
    </main>
{% endblock %}
