{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit role' | trans }}{% endblock %}

{% block back %}
    <a href="{{ path('roles') }}">
        {{ 'Back (roles)' | trans }}
    </a>
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <h1>{{ 'Edit role' | trans }}</h1>

        {{ include('roles/_role_form.html.twig', { mode: 'edit' }) }}
    </main>
{% endblock %}
