{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'roles.index.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('_sidebar_settings.html.twig', { current: 'roles' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow roles-index">
        <div class="layout__breadcrumb">
            <h1>{{ 'roles.index.title' | trans }}</h1>
        </div>

        <div class="wrapper-large flow-larger">
            <div class="flow">
                <h2>{{ 'roles.index.admin_roles.title' | trans }}</h2>

                <div class="grid">
                    <a class="card card--action" href="{{ path('new role', { type: 'admin' }) }}">
                        <span>
                            {{ icon('plus') }}
                            {{ 'roles.index.admin_roles.new' | trans }}
                        </span>
                    </a>

                    {% for role in adminRoles %}
                        <div class="card" data-test="role-{{ role.type }}-item">
                            {% if role.type == 'super' %}
                                <div class="card__title">
                                    {{ icon('crown') }}
                                    {{ 'roles.super_admin' | trans }}
                                </div>
                            {% else %}
                                <a class="card__title" href="{{ path('edit role', { uid: role.uid }) }}">
                                    {{ role.name }}
                                </a>
                            {% endif %}

                            <p class="card__body text--secondary text--small text--center">
                                {% if role.type == 'super' %}
                                    {{ 'roles.super_admin.description' | trans }}
                                {% else %}
                                    {{ role.description }}
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="flow">
                <h2>{{ 'roles.index.orga_roles.title' | trans }}</h2>

                <div class="grid">
                    <a class="card card--action" href="{{ path('new role', { type: 'orga' }) }}">
                        <span>
                            {{ icon('plus') }}
                            {{ 'roles.index.orga_roles.new' | trans }}
                        </span>
                    </a>

                    {% for role in orgaRoles %}
                        <div class="card" data-test="role-orga-item">
                            <a class="card__title" href="{{ path('edit role', { uid: role.uid }) }}">
                                {{ role.name }}
                            </a>

                            <p class="card__body text--secondary text--small text--center">
                                {{ role.description }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
