{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'roles.index.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'roles' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow roles-index">
        <div class="layout__breadcrumb">
            <h1>{{ 'roles.index.title' | trans }}</h1>
        </div>

        <div class="wrapper wrapper--large flow flow--larger">
            <div class="flow">
                <h2>{{ 'roles.index.admin_roles.title' | trans }}</h2>

                <p class="text--secondary">{{ 'roles.index.admin_roles.desc' | trans }}</p>

                <div class="grid">
                    <a class="card card--action" href="{{ path('new role', { type: 'admin' }) }}">
                        <span>
                            {{ icon('plus') }}
                            {{ 'roles.index.admin_roles.new' | trans }}
                        </span>
                    </a>

                    <div class="card" data-test="role-super-item">
                        <div class="card__title">
                            {{ icon('crown') }}
                            {{ 'roles.super_admin' | trans }}
                        </div>

                        <p class="card__body text--secondary text--small text--center">
                            {{ 'roles.super_admin.description' | trans }}
                        </p>
                    </div>

                    {% for role in rolesByTypes['admin'] %}
                        {{ include('roles/_role.html.twig', { role: role }, with_context = false) }}
                    {% endfor %}
                </div>
            </div>

            <div class="flow">
                <h2>{{ 'roles.index.operational_roles.title' | trans }}</h2>

                <p class="text--secondary">{{ 'roles.index.operational_roles.desc' | trans }}</p>

                <div class="grid">
                    <a class="card card--action" href="{{ path('new role', { type: 'operational' }) }}">
                        <span>
                            {{ icon('plus') }}
                            {{ 'roles.index.operational_roles.new' | trans }}
                        </span>
                    </a>

                    {% for role in rolesByTypes['operational'] %}
                        {{ include('roles/_role.html.twig', { role: role }, with_context = false) }}
                    {% endfor %}
                </div>
            </div>

            <div class="flow">
                <h2>{{ 'roles.index.user_roles.title' | trans }}</h2>

                <p class="text--secondary">{{ 'roles.index.user_roles.desc' | trans }}</p>

                <div class="grid">
                    <a class="card card--action" href="{{ path('new role', { type: 'user' }) }}">
                        <span>
                            {{ icon('plus') }}
                            {{ 'roles.index.user_roles.new' | trans }}
                        </span>
                    </a>

                    {% for role in rolesByTypes['user'] %}
                        {{ include('roles/_role.html.twig', { role: role }, with_context = false) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
