{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% if type == 'admin' %}
    {% set pageTitle = 'roles.new.title.admin' | trans %}
{% else %}
    {% set pageTitle = 'roles.new.title.orga' | trans %}
{% endif %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'roles' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb">
            <a href="{{ path('roles') }}">{{ 'roles.index.title' | trans }}</a>
            <h1>{{ pageTitle }}</h1>
        </div>

        {{ include('roles/_role_form.html.twig', { mode: 'new' }) }}
    </main>
{% endblock %}
