{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'roles' %}

{% if type == 'admin' %}
    {% set pageTitle = 'roles.new.title.admin' | trans %}
{% elseif type == 'agent' %}
    {% set pageTitle = 'roles.new.title.agent' | trans %}
{% elseif type == 'user' %}
    {% set pageTitle = 'roles.new.title.user' | trans %}
{% endif %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('roles') }}">
            {{ 'roles.index.title' | trans }}
        </a>

        <span aria-current="page">
            {{ pageTitle }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ pageTitle }}</h1>

        <div class="panel">
            {{ include('roles/_role_form.html.twig', { mode: 'new' }) }}
        </div>
    </main>
{% endblock %}
