{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'about' %}

{% block title %}{{ 'about.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body wrapper wrapper--small wrapper--center flow flow--large">
        <h1>{{ 'about.title' | trans }}</h1>

        <p class="text--center">
            {{ 'about.short' | trans }}
        </p>

        <p class="text--center">
            <a href="https://bileto.fr">
                bileto.fr
            </a>
        </p>

        <img src="{{ asset('logo.svg') }}" alt="Bileto" />

        <h2>{{ 'about.version' | trans }}</h2>

        <p>
            {{ version }}
        </p>

        <h2>{{ 'about.license' | trans }}</h2>

        <p>
            <a href="https://github.com/Probesys/bileto/blob/main/LICENSE.txt">
                GNU Affero General Public License v3.0 or later
            </a>
            (<a href="https://github.com/Probesys/bileto">{{ 'about.source_code' | trans }}</a>)
        </p>

        <h2>{{ 'about.authors' | trans }}</h2>

        <p>
            {{ 'about.authors_description' | trans | raw }}
        </p>
    </main>
{% endblock %}
