{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'advanced_search_syntax.title' | trans }}{% endblock %}

{% block body %}
    <div class="wrapper-text wrapper--center flow-larger">
        <div class="flow">
            <p>
                {{ 'advanced_search_syntax.intro1' | trans }}
            </p>

            <p>
                {{ 'advanced_search_syntax.intro2' | trans }}
            </p>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.keywords.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>emails spam</code></td>
                        <td>{{ 'advanced_search_syntax.keywords.example1' | trans | raw }}</td>
                    </tr>

                    <tr>
                        <td><code>emails OR spam</code></td>
                        <td>{{ 'advanced_search_syntax.keywords.example2' | trans | raw }}</td>
                    </tr>

                    <tr>
                        <td><code>"emails spam"</code></td>
                        <td>{{ 'advanced_search_syntax.keywords.example3' | trans }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.identifier.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>#42</code></td>
                        <td>{{ 'advanced_search_syntax.identifier.example1' | trans }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flow-large">
            <h2>{{ 'advanced_search_syntax.qualifiers.title' | trans }}</h2>

            <p>
                {{ 'advanced_search_syntax.qualifiers.description' | trans | raw }}
            </p>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.status.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>status:new</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.status.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>status:new,in_progress</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.status.example2' | trans }}</td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    {{ 'advanced_search_syntax.qualifiers.status.values' | trans | raw }}
                </p>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.type.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>type:incident</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.type.example1' | trans }}</td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    {{ 'advanced_search_syntax.qualifiers.type.values' | trans | raw }}
                </p>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.priority.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>urgency:low</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.priority.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>impact:low,medium</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.priority.example2' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>priority:high</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.priority.example3' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.solution.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>no:solution</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.solution.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>has:solution</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.solution.example2' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.actors.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>assignee:alix</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.actors.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>requester:@me</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.actors.example2' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>involves:alix</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.actors.example3' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>no:assignee</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.actors.example4' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>has:assignee</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.actors.example5' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.qualifiers.organization.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>org:probesys</code></td>
                            <td>{{ 'advanced_search_syntax.qualifiers.organization.example1' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.not.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>emails NOT spam</code></td>
                        <td>{{ 'advanced_search_syntax.not.example1' | trans }}</td>
                    </tr>

                    <tr>
                        <td><code>-status:open</code></td>
                        <td>{{ 'advanced_search_syntax.not.example2' | trans | raw}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.complex.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>emails priority:high</code></td>
                        <td>{{ 'advanced_search_syntax.complex.example1' | trans }}</td>
                    </tr>

                    <tr>
                        <td><code>status:new OR assignee:@me</code></td>
                        <td>{{ 'advanced_search_syntax.complex.example2' | trans }}</td>
                    </tr>

                    <tr>
                        <td><code>emails (priority:high OR assignee:@me)</code></td>
                        <td>{{ 'advanced_search_syntax.complex.example3' | trans }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
