{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow organizations-index">
        <h1>{{ 'home.title' | trans }}</h1>

        <div class="wrapper-large wrapper--center flow-larger">
            {% if tickets %}
                <div class="flow">
                    <h2>{{ 'home.your_tickets' | trans }}</h2>

                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th class="col--size4">
                                        {{ 'tickets.opened_on' | trans }}
                                    </th>

                                    <th>
                                        {{ 'tickets.title' | trans }}
                                    </th>

                                    <th class="col--size2">
                                        {{ 'tickets.type' | trans }}
                                    </th>

                                    <th class="col--size5">
                                        {{ icon('user') }}
                                        {{ 'tickets.requester' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('status') }}
                                        {{ 'tickets.status' | trans }}
                                    </th>

                                    <th class="col--size3 text--center">
                                        {{ icon('priority') }}
                                        {{ 'tickets.priority' | trans }}
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for ticket in tickets %}
                                    <tr data-test="ticket-item">
                                        <td>
                                            <time datetime="{{ ticket.createdAt | dateIso }}" class="text--small">
                                                {{ ticket.createdAt | dateTrans }}
                                            </time>
                                        </td>

                                        <td class="td--anchor">
                                            <a href="{{ path('ticket', {'uid': ticket.uid}) }}">
                                                <span class="ticket__title">{{ ticket.title }}</span>
                                                <span class="ticket__id">#{{ ticket.id }}</span>
                                            </a>
                                        </td>

                                        <td>
                                            {% if ticket.type == 'incident' %}
                                                {{ 'tickets.incident' | trans }}
                                            {% else %}
                                                {{ 'tickets.request' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {{ ticket.requester.displayName }}
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.statusBadgeColor }}">
                                                {{ ticket.statusLabel | trans }}
                                            </span>
                                        </td>

                                        <td class="text--center">
                                            <span class="badge badge--{{ ticket.priorityBadgeColor }}">
                                                {{ ticket.priorityLabel | trans }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if organizations %}
                <div class="flow">
                    <h2>{{ 'home.your_organizations' | trans }}</h2>

                    <div class="grid">
                        {% for organization in organizations %}
                            <div class="card flow" data-test="organization-item">
                                <a class="card__title" href="{{ path('organization', { uid: organization.uid }) }}">
                                    {{ organization.name }}
                                </a>

                                {% if organization.subOrganizations %}
                                    <div class="card__body">
                                        {{ include(
                                            'organizations/_organizations_as_list.html.twig',
                                            { organizations: organization.subOrganizations },
                                            with_context = false
                                        ) }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
