{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'home' %}

{% block title %}{{ 'home.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow flow--larger">
        <h1>{{ 'home.title' | trans }}</h1>

        <div class="wrapper wrapper--large wrapper--center flow flow--larger">
            <div class="flow">
                <div class="row row--center row--always flow">
                    <h2 class="row__item--extend">{{ 'home.your_tickets' | trans }}</h2>

                    {% if is_granted('orga:create:tickets', 'any') %}
                        <a class="anchor--action" href="{{ path('new ticket') }}">
                            {{ icon('plus') }}
                            {{ 'home.new_ticket' | trans }}
                        </a>
                    {% endif %}
                </div>

                {% if ticketsPagination.count > 0 %}
                    <div class="flow flow--small">
                        {{ include(
                            'tickets/_list.html.twig',
                            { tickets: ticketsPagination.items },
                            with_context = false
                        ) }}

                        {% if ticketsPagination.mustPaginate %}
                            <div>
                                <a href="{{ path('tickets', { 'view': 'owned' }) }}">
                                    {{ 'home.all_your_tickets' | trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="placeholder">
                        {{ icon('ticket') }}
                        {{ 'home.no_tickets' | trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
