{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'home' %}

{% block title %}{{ 'home.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'home.title' | trans }}</h1>

        <div class="flow">
            <div class="cols cols--center flow">
                <h2 class="col--extend">
                    {% if view == 'owned' %}
                        {{ 'home.your_tickets' | trans }}
                    {% elseif view == 'assigned-me' %}
                        {{ 'home.your_assigned_tickets' | trans }}
                    {% endif %}
                </h2>

                {% if defaultOrganization %}
                    <a
                        class="button button--primary button--uppercase"
                        href="{{ path('new organization ticket', { uid: defaultOrganization.uid }) }}"
                    >
                        {{ icon('plus') }}
                        {{ 'home.new_ticket' | trans }}
                    </a>
                {% endif %}
            </div>

            {% if ticketsPagination.count > 0 %}
                <div class="flow">
                    {{ include(
                        'tickets/_list.html.twig',
                        { tickets: ticketsPagination.items },
                        with_context = false
                    ) }}

                    {% if ticketsPagination.mustPaginate %}
                        <div class="text--center">
                            <a class="button" href="{{ path('tickets', { 'view': view }) }}">
                                {{ 'home.all_your_tickets' | trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="placeholder flow flow--larger">
                    <img class="placeholder__image" src="{{ asset('illustration-placeholder.svg') }}" alt="" />

                    <p class="placeholder__text">
                        {{ 'home.no_tickets' | trans }}
                    </p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
