{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'tickets.title.edit.title' | trans }}{% endblock %}

{% block body %}
    <form
        action="{{ path('update ticket title', {'uid': ticket.uid}) }}"
        method="post"
        class="wrapper wrapper--center flow"
    >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket title') }}">

        {% if error %}
            {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
        {% endif %}

        <div class="flow flow--small">
            <label for="title">
                {{ 'tickets.title' | trans }}
                <small class="text--secondary">
                    {{ 'forms.max_chars' | trans({ number: 255 }) }}
                </small>
            </label>

            {% if errors.title is defined %}
                <p class="form__error" role="alert" id="title-error">
                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                    {{ errors.title }}
                </p>
            {% endif %}

            <input
                type="text"
                id="title"
                name="title"
                value="{{ title }}"
                required
                maxlength="255"
                {% if errors.title is defined %}
                    aria-invalid="true"
                    aria-errormessage="title-error"
                {% endif %}
            />
        </div>

        <div class="form__actions">
            <button id="form-update-title-submit" class="button--primary" type="submit">
                {{ 'forms.save_changes' | trans }}
            </button>
        </div>
    </form>
{% endblock %}
