{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if displayRemove is not defined %}
    {% set displayRemove = true %}
{% endif %}

<li
    class="documents__item row row--always row--center"
    data-type="{{ messageDocument.type }}"
    data-target="document-item"
>
    <a
        class="documents__link row__item--extend"
        target="_blank"
        href="{{ path('message document', { uid: messageDocument.uid, extension: messageDocument.extension }) }}"
    >
        <span class="documents__name" data-target="document-name">
            {{ messageDocument.name }}
        </span>
    </a>

    {% if displayRemove %}
        <div class="documents__delete">
            <button
                class="button--icon"
                type="button"
                data-action="message-documents#removeDocument"
                data-url="{{ path('delete message document', { uid: messageDocument.uid }) }}"
                data-csrf="{{ csrf_token('delete message document') }}"
            >
                {{ icon('close') }}

                <span class="sr-only">
                    {{ 'message_documents.remove' | trans }}
                </span>
            </button>
        </div>
    {% endif %}
</li>
