{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if displayRemove is not defined %}
    {% set displayRemove = true %}
{% endif %}

<li
    class="documents__item cols cols--always cols--center flow flow--smaller text--small"
    data-type="{{ messageDocument.type }}"
    data-target="document-item"
>
    <a
        class="documents__link col--extend cols cols--always cols--center flow flow--smaller"
        target="_blank"
        href="{{ path('message document', { uid: messageDocument.uid, extension: messageDocument.extension }) }}"
    >
        <span class="documents__icon">
            {% if messageDocument.type == 'archive' %}
                {{ icon('file-zipper') }}
            {% elseif messageDocument.type == 'doc' %}
                {{ icon('file-word') }}
            {% elseif messageDocument.type == 'pdf' %}
                {{ icon('file-pdf') }}
            {% elseif messageDocument.type == 'spreadsheet' %}
                {{ icon('file-excel') }}
            {% elseif messageDocument.type == 'image' %}
                {{ icon('file-image') }}
            {% else %}
                {{ icon('file') }}
            {% endif %}
        </span>

        <span class="documents__name" data-target="document-name">
            {{ messageDocument.name }}
        </span>
    </a>

    {% if displayRemove %}
        <div class="documents__delete">
            <button
                class="button--icon button--discreet"
                type="button"
                data-action="message-documents#removeDocument"
                data-url="{{ path('delete message document', { uid: messageDocument.uid }) }}"
                data-csrf="{{ csrf_token('delete message document') }}"
            >
                {{ icon('close') }}

                <span class="sr-only">
                    {{ 'message_documents.remove' | trans }}
                </span>
            </button>
        </div>
    {% endif %}
</li>
