{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<turbo-frame id="message-documents" data-controller="message-documents">
    <div class="flow flow--small">
        <div class="cols cols--always cols--center flow">
            <p class="text--primary-dark text--small">
                {{ 'message_documents.attachments' | trans }}
            </p>

            <div>
                <button
                    type="button"
                    class="button--icon button--discreet text--small"
                    data-action="message-documents#openFilesSelector"
                    data-message-documents-target="uploadButton"
                >
                    {{ icon('plus') }}
                    <span class="sr-only">
                        {{ 'message_documents.attachments.attach' | trans }}
                    </span>
                </button>

                <input
                    name="document"
                    type="file"
                    hidden
                    data-message-documents-target="filesSelector"
                    data-action="message-documents#uploadFiles"
                    data-upload-url="{{ path('create message document') }}"
                    data-upload-csrf="{{ csrf_token('create message document') }}"
                />
            </div>
        </div>

        <ul class="documents list--nostyle grid">
            {% for messageDocument in messageDocuments %}
                {{ include(
                    'message_documents/_message_document.html.twig',
                    { messageDocument: messageDocument },
                    with_context = false
                ) }}
            {% endfor %}
        </ul>
    </div>
</turbo-frame>
