{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'tickets.organization.edit.title' | trans }}{% endblock %}

{% block body %}
    {{ form_start(form, {
        action: path('update ticket organization', { uid: ticket.uid }),
        attr: {
            'class': 'form--standard',
            'data-turbo-preserve-scroll': true,
        },
    }) }}
        {{ include('alerts/_alert.html.twig', {
            type: 'warning',
            title: 'common.caution' | trans,
            message: 'tickets.organization.edit.information' | trans,
            raw: true,
        }, with_context = false) }}

        {{ form_errors(form) }}

        <div class="flow flow--small">
            <label for="{{ field_id(form.organization) }}">
                {{ 'tickets.organization' | trans }}
            </label>

            {{ form_errors(form.organization) }}

            <select
                id="{{ field_id(form.organization) }}"
                name="{{ field_name(form.organization) }}"
                required
                {% if field_has_errors(form.organization) %}
                    aria-invalid="true"
                    aria-errormessage="{{ field_id(form.organization, 'error') }}"
                {% endif %}
            >
                {% for choice in form.organization.vars.choices %}
                    <option
                        value="{{ choice.value }}"
                        {{ choice.value == field_value(form.organization) ? 'selected' }}
                    >
                        {{ choice.label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form__actions">
            <button class="button--primary" type="submit">
                {{ 'tickets.organization.edit.transfer' | trans }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
