{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'advanced_search_syntax.contracts.title' | trans }}{% endblock %}

{% block body %}
    <div class="flow flow--larger">
        <div class="wrapper wrapper--text wrapper--center flow">
            <p>
                {{ 'advanced_search_syntax.contracts.intro1' | trans }}
            </p>

            <p>
                {{ 'advanced_search_syntax.contracts.intro2' | trans }}
            </p>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.contracts.keywords.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>contract 2024</code></td>
                        <td>{{ 'advanced_search_syntax.contracts.keywords.example1' | trans | raw }}</td>
                    </tr>

                    <tr>
                        <td><code>contract OR 2024</code></td>
                        <td>{{ 'advanced_search_syntax.contracts.keywords.example2' | trans | raw }}</td>
                    </tr>

                    <tr>
                        <td><code>"contract 2024"</code></td>
                        <td>{{ 'advanced_search_syntax.contracts.keywords.example3' | trans }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flow flow--large">
            <h2>{{ 'advanced_search_syntax.contracts.qualifiers.title' | trans }}</h2>

            <p class="wrapper wrapper--text">
                {{ 'advanced_search_syntax.contracts.qualifiers.description' | trans | raw }}
            </p>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.contracts.qualifiers.status.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>status:ongoing</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.status.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>status:coming,ongoing</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.status.example2' | trans }}</td>
                        </tr>
                    </tbody>
                </table>

                <p class="wrapper wrapper--text">
                    {{ 'advanced_search_syntax.contracts.qualifiers.status.values' | trans | raw }}
                </p>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.contracts.qualifiers.alert.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>alert:time</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.alert.example1' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>alert:date</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.alert.example2' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>has:alert</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.alert.example3' | trans }}</td>
                        </tr>

                        <tr>
                            <td><code>no:alert</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.alert.example4' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flow">
                <h3>{{ 'advanced_search_syntax.contracts.qualifiers.renewal.title' | trans }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                            <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><code>is:renewed</code></td>
                            <td>{{ 'advanced_search_syntax.contracts.qualifiers.renewal.example1' | trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flow">
            <h2>{{ 'advanced_search_syntax.contracts.not.title' | trans }}</h2>

            <table>
                <thead>
                    <tr>
                        <th class="col--size30">{{ 'advanced_search_syntax.example' | trans }}</th>
                        <th>{{ 'advanced_search_syntax.description' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><code>contract NOT 2024</code></td>
                        <td>{{ 'advanced_search_syntax.contracts.not.example1' | trans }}</td>
                    </tr>

                    <tr>
                        <td><code>-status:finished</code></td>
                        <td>{{ 'advanced_search_syntax.contracts.not.example2' | trans | raw}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
