{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'modal.html.twig' %}

{% block title %}{{ 'tickets.actors.edit.title' | trans }}{% endblock %}

{% block body %}
    <form
        action="{{ path('update ticket actors', {'uid': ticket.uid}) }}"
        method="post"
        class="wrapper wrapper--center flow"
        data-turbo-preserve-scroll
    >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket actors') }}">

        {% if error %}
            {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
        {% endif %}

        <div class="flow-small">
            <label for="requester">
                {{ icon('user') }}
                {{ 'tickets.requester' | trans }}
            </label>

            {% if errors.requester is defined %}
                <p class="form__error" role="alert" id="requester-error">
                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                    {{ errors.requester }}
                </p>
            {% endif %}

            <select
                id="requester"
                name="requesterUid"
                required
                {% if errors.requester is defined %}
                    autofocus
                    aria-invalid="true"
                    aria-errormessage="requester-error"
                {% endif %}
            >
                {% for user in users %}
                    <option value="{{ user.uid }}" {{ user.uid == requesterUid ? 'selected' }}>
                        {{ user.displayName }}

                        {% if user.id == app.user.id %}
                            ({{ 'users.yourself' | trans }})
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="flow-small">
            <label for="assignee">
                {{ icon('headset') }}
                {{ 'tickets.assignee' | trans }}
                <small class="text--secondary">
                    {{ 'forms.optional' | trans }}
                </small>
            </label>

            {% if errors.assignee is defined %}
                <p class="form__error" role="alert" id="assignee-error">
                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                    {{ errors.assignee }}
                </p>
            {% endif %}

            <select
                id="assignee"
                name="assigneeUid"
                {% if errors.assignee is defined %}
                    autofocus
                    aria-invalid="true"
                    aria-errormessage="assignee-error"
                {% endif %}
            >
                <option value="">
                    {{ 'tickets.unassigned' | trans }}
                </option>

                {% for user in users %}
                    <option value="{{ user.uid }}" {{ user.uid == assigneeUid ? 'selected' }}>
                        {{ user.displayName }}

                        {% if user.id == app.user.id %}
                            ({{ 'users.yourself' | trans }})
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form__actions">
            <button id="form-update-actors-submit" class="button--primary" type="submit">
                {{ 'forms.save_changes' | trans }}
            </button>
        </div>
    </form>
{% endblock %}
