{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <p role="alert" data-test="alert-error">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </p>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <label for="username">
                {{ 'login.index.email' | trans }}
            </label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required/>
        </div>

        <div>
            <label for="password">
                {{ 'login.index.password' | trans }}
            </label>
            <input type="password" id="password" name="_password" required />
        </div>

        <button id="form-login-submit" type="submit">
            {{ 'login.index.login' | trans }}
        </button>
    </form>
{% endblock %}
