{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body layout__body--small flow login-new">
        <img class="logo" src="{{ asset('logo.svg') }}" alt="Bileto" />

        <h1>{{ 'login.title' | trans }}</h1>

        <form action="{{ path('login') }}" method="post" class="flow" data-turbo="false">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                {{ include(
                    'alerts/_error.html.twig',
                    { message: error.messageKey | trans(error.messageData, 'security') },
                    with_context = false
                ) }}
            {% endif %}

            <div class="flow flow--small">
                <label for="username">
                    {{ 'users.email' | trans }}
                </label>

                <input
                    type="email"
                    id="username"
                    name="_username"
                    value="{{ last_username }}"
                    required
                    autocomplete="email"
                />
            </div>

            <div class="flow flow--small">
                <label for="password">
                    {{ 'users.password' | trans }}
                </label>

                <div class="input-container" data-controller="password">
                    <input
                        type="password"
                        id="password"
                        name="_password"
                        required
                        autocomplete="current-password"
                        data-password-target="input"
                    />

                    <button
                        type="button"
                        role="switch"
                        data-action="password#toggle"
                        data-password-target="button"
                    >
                        {{ icon('eye') }}
                        {{ icon('eye-slash') }}
                        <span class="sr-only">
                            {{ 'forms.show_password' | trans }}
                        </span>
                    </button>
                </div>
            </div>

            <div>
                <input
                    type="checkbox"
                    id="remember-me"
                    name="_remember_me"
                />

                <label for="remember-me">
                    {{ 'login.remember_me' | trans }}
                </label>
            </div>

            <div class="form__actions">
                <button id="form-login-submit" class="button--primary" type="submit">
                    {{ 'login.submit' | trans }}
                </button>
            </div>
        </form>

        <p class="text--small text--center">
            <a href="{{ path('about') }}">
                {{ 'about.title' | trans }}
            </a>
        </p>
    </main>
{% endblock %}
