{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<nav class="layout__sidebar flow flow--smaller" aria-labelledby="sidebar-settings-title">
    <div id="sidebar-settings-title" class="sidebar__title">
        {{ 'settings.index.title' | trans }}
    </div>

    <ul class="sidebar flow flow--smaller">
        {% if is_granted('admin:manage:roles') %}
            <li class="sidebar__item">
                <a
                    class="sidebar__anchor"
                    href="{{ path('roles') }}"
                    {{ current == 'roles' ? 'aria-current="page"' }}
                >
                    {{ icon('role') }}
                    {{ 'roles.index.title' | trans }}
                </a>
            </li>
        {% endif %}

        {% if is_granted('admin:manage:users') %}
            <li class="sidebar__item">
                <a
                    class="sidebar__anchor"
                    href="{{ path('users') }}"
                    {{ current == 'users' ? 'aria-current="page"' }}
                >
                    {{ icon('user') }}
                    {{ 'users.index.title' | trans }}
                </a>
            </li>
        {% endif %}

        {% if is_granted('admin:manage:mailboxes') %}
            <li class="sidebar__item">
                <a
                    class="sidebar__anchor"
                    href="{{ path('mailboxes') }}"
                    {{ current == 'mailboxes' ? 'aria-current="page"' }}
                >
                    {{ icon('inbox') }}
                    {{ 'mailboxes.index.title' | trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
