{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'settings.index.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <h1>{{ 'settings.index.title' | trans }}</h1>

        <div class="wrapper-small wrapper--center grid">
            {% if is_granted('admin:manage:organizations') %}
                <a class="card card--action" href="{{ path('organizations') }}">
                    {{ icon('organization') }}
                    {{ 'organizations.index.title' | trans }}
                </a>
            {% endif %}

            {% if is_granted('admin:manage:roles') %}
                <a class="card card--action" href="{{ path('roles') }}">
                    {{ icon('role') }}
                    {{ 'roles.index.title' | trans }}
                </a>
            {% endif %}

            {% if is_granted('admin:manage:users') %}
                <a class="card card--action" href="{{ path('users') }}">
                    {{ icon('user') }}
                    {{ 'users.index.title' | trans }}
                </a>
            {% endif %}
        </div>
    </main>
{% endblock %}
