{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if raw is not defined %}
    {% set raw = false %}
{% endif %}

<div
    class="alert alert--{{ type }}"
    role="alert"
    data-turbo-temporary
    data-test="alert-{{ type }}"
>
    <div class="alert__title">{{ title }}</div>

    <p class="alert__message">
        {% if raw %}
            {{ message | raw }}
        {% else %}
            {{ message }}
        {% endif %}
    </p>
</div>
