{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% apply inline_css(source('@styles/email.css')) %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>{{ subject }}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        </head>

        <body class="email">
            <div>
                {{ content | raw }}
            </div>

            <p class="email__footer">
                &mdash;<br />
                {% if linkToBileto %}
                    {{ 'emails.message.reply' | trans({ url: url('ticket', { uid: ticket.uid }) }) | raw }}<br />
                {% else %}
                    {{ 'emails.message.reply_nolink' | trans }}<br />
                {% endif %}
                {{ 'emails.message.receiving' | trans({ ticketType: ticket.type }) }}
            </p>
        </body>
    </html>
{% endapply %}
