{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'emails/transactional.html.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block body %}
    <p>
        {{ 'emails.politeness.hello' | trans }}
    </p>

    <p>
        {{ 'emails.reset_password.intro' | trans }}
    </p>

    <p class="text--center">
        <a class="call-to-action" href="{{ url('edit password', { token: token.value }) }}">
            {{ 'emails.reset_password.reset' | trans }}
        </a>
    </p>

    <p>
        {{ 'emails.reset_password.expiration' | trans }}
    </p>

    <p>
        {{ 'emails.politeness.regards' | trans }}<br />
        {{ 'emails.politeness.support_team' | trans }}<br />
    </p>
{% endblock %}
