{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<h1>{{ 'emails.reset_password.subject' | trans }}</h1>

<p>
    {{ 'emails.reset_password.intro' | trans }}
</p>

<p>
    <a href="{{ url('edit password', { token: token.value }) }}">
        {{ 'emails.reset_password.reset' | trans }}
    </a>
</p>

<p>
    {{ 'emails.reset_password.expiration' | trans }}
</p>
