{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}
<!DOCTYPE html>
<html
    lang="{{ app.request.locale|locale_to_bcp47 }}"
    data-locale="{{ app.request.locale }}"
    data-color-scheme="{{ app.user ? app.user.colorScheme : 'auto' }}"
    data-controller="color-scheme"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Bileto{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🤝</text></svg>">

        {% block javascripts %}
            <script src="{{ asset('tinymce/tinymce.min.js') }}" defer data-turbo-track="reload"></script>
            {{ vite_javascript_tag('assets/javascripts/application.js') }}
        {% endblock %}

        {% block stylesheets %}
            {{ vite_stylesheet_tag('assets/stylesheets/application.css') }}
        {% endblock %}
    </head>

    <body>
        <a
            class="no-mobile accessibility-nav anchor--action"
            href="#main-content"
            tabindex="0"
            data-turbo="false"
        >
            {{ 'Skip to main content' | trans }}
        </a>

        <div
            id="notifications"
            class="notifications wrapper-small wrapper--center flow"
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            data-controller="notifications"
        >
            {% for label, messages in app.flashes(['success', 'error']) %}
                {% for key, message in messages %}
                    <div
                        class="notifications__item notifications__item--{{ label }} row row--center"
                        {% if label == "error" %}
                            role="alert"
                            aria-live="assertive"
                        {% else %}
                            role="status"
                            aria-live="polite"
                        {% endif %}
                        data-notifications-target="item"
                    >
                        <span class="row__item--extend">
                            <span class="sr-only">
                                {{ 'Error' | trans }}
                            </span>

                            {{ message | trans }}
                        </span>

                        <button
                            type="button"
                            class="button--icon"
                            data-action="notifications#closeItem"
                            data-notifications-item-param="{{ key }}"
                        >
                            {{ icon('close') }}
                            <span class="sr-only">
                                {{ 'Close the notification' | trans }}
                            </span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="layout" id="layout">
            <noscript>
                <div class="layout__banner layout__banner--alert">
                    <p class="banner__container">
                        {{ 'You need to activate the JavaScript in order to use Bileto.' | trans }}
                    </p>
                </div>
            </noscript>

            <nav class="layout__header">
                <div class="layout__header-container">
                    <a class="layout__header-home" href="{{ path('home') }}">
                        🤝 Bileto
                    </a>

                    {% if app.user %}
                        <div class="layout__header-extend"></div>

                        <details
                            class="popup"
                            data-controller="popup"
                            data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                        >
                            <summary class="popup__opener" title="{{ 'Menu of %name%' | trans({'%name%': app.user.displayName}) }}">
                                <span class="layout__header-avatar">{{ icon('circle-user') }}</span>
                                <span class="sr-only">
                                    {{ 'Menu of %name%' | trans({'%name%': app.user.displayName}) }}
                                </span>
                            </summary>

                            <nav class="popup__container popup__container--large popup__container--left">
                                <div class="popup__title">{{ app.user.displayName }}</div>

                                <a class="popup__item" href="{{ path('profile') }}">
                                    {{ icon('user') }}
                                    {{ 'Profile' | trans }}
                                </a>

                                <a class="popup__item" href="{{ path('preferences') }}">
                                    {{ icon('palette') }}
                                    {{ 'Preferences' | trans }}
                                </a>

                                <div class="popup__separator"></div>

                                <a class="popup__item" href="{{ path('about') }}">
                                    {{ icon('circle-question') }}
                                    {{ 'About Bileto' | trans }}
                                </a>

                                <div class="popup__separator"></div>

                                <form action="{{ path('logout') }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                    <button class="popup__item" id="form-logout-submit" type="submit">
                                        {{ icon('logout') }}
                                        {{ 'Logout' | trans }}
                                    </button>
                                </form>
                            </nav>
                        </details>
                    {% else %}
                        <div class="layout__header-extend"></div>

                        <details
                            class="popup"
                            data-controller="popup"
                            data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                        >
                            <summary class="popup__opener">
                                <span class="button">
                                    {{ icon('language') }}
                                    {{ 'Language' | trans }}
                                    {{ icon('caret-down') }}
                                </span>
                            </summary>

                            <nav class="popup__container popup__container--left">
                                <form action="{{ path('update session locale') }}" method="post">
                                    {% for locale, language in availableLanguages %}
                                        <button
                                            id="form-update-session-locale-{{ locale }}-submit"
                                            class="popup__item"
                                            type="submit"
                                            name="locale"
                                            value="{{ locale }}"
                                        >
                                            {{ language }}
                                        </button>
                                    {% endfor %}

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update session locale') }}">
                                    <input type="hidden" name="from" value="{{ app.request.get('_route') }}">
                                </form>
                            </nav>
                        </details>
                    {% endif %}
                </div>
            </nav>

            {% if block("back") is defined %}
                <div class="layout__back">
                    {{ block("back") }}
                </div>
            {% endif %}

            <div id="main-content">
                {% block body %}{% endblock %}
            </div>
        </div>

        {{ include('_modal_dialog.html.twig') }}
    </body>
</html>
