{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}
<!DOCTYPE html>
<html
    lang="{{ app.request.locale|locale_to_bcp47 }}"
    data-color-scheme="{{ app.user ? app.user.colorScheme : 'auto' }}"
    data-controller="color-scheme"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Bileto{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🤝</text></svg>">

        {% block javascripts %}
            {{ vite_javascript_tag('assets/javascripts/application.js') }}
        {% endblock %}

        {% block stylesheets %}
            {{ vite_stylesheet_tag('assets/stylesheets/application.css') }}
        {% endblock %}
    </head>

    <body>
        <nav class="layout__header">
            <div class="layout__header-container">
                <a class="layout__header-home" href="{{ path('home') }}">
                    🤝 Bileto
                </a>

                {% if app.user %}
                    <div class="layout__header-extend"></div>

                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside keydown->popup#closeOnEscape"
                    >
                        <summary class="popup__opener" title="{{ 'Menu of %email%' | trans({'%email%': app.user.email}) }}">
                            <span class="layout__header-avatar">{{ icon('circle-user') }}</span>
                            <span class="sr-only">
                                {{ 'Menu of %email%' | trans({'%email%': app.user.email}) }}
                            </span>
                        </summary>

                        <nav
                            class="popup__container popup__container--large popup__container--left flow-small"
                            role="menu"
                            data-turbo-cache="false"
                        >
                            <div class="popup__title">{{ app.user.email }}</div>

                            <a class="popup__item" href="{{ path('preferences') }}" role="menuitem">
                                {{ icon('palette') }}
                                {{ 'Preferences' | trans }}
                            </a>

                            <div class="popup__separator"></div>

                            <form action="{{ path('logout') }}" method="post" role="menuitem">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                <button class="popup__item" id="form-logout-submit" type="submit">
                                    {{ icon('logout') }}
                                    {{ 'Logout' | trans }}
                                </button>
                            </form>
                        </nav>
                    </details>
                {% endif %}
            </div>
        </nav>

        {% if block("back") is defined %}
            <div class="layout__back">
                {{ block("back") }}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
