{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if currentPage is not defined %}
    {% set currentPage = '' %}
{% endif %}

<!DOCTYPE html>
<html
    lang="{{ app.locale|locale_to_bcp47 }}"
    data-locale="{{ app.locale }}"
    data-color-scheme="{{ app.user ? app.user.colorScheme : 'auto' }}"
    data-controller="color-scheme"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Bileto{% endblock %}</title>

        <meta name="application-name" content="Bileto">
        <meta name="theme-color" content="#12a594">
        <link rel="manifest" href="{{ path('webmanifest') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/icon-32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/icon-16.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/icon-180.png') }}">
        <meta name="apple-mobile-web-app-title" content="Bileto">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="{{ asset('icons/icon-144.png') }}">
        <meta name="msapplication-TileColor" content="#12a594">

        {% block javascripts %}
            <script src="{{ asset('tinymce/tinymce.min.js') }}" defer data-turbo-track="reload"></script>
            <script src="{{ esbuild_asset('javascripts/application.js') }}" defer data-turbo-track="reload"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ esbuild_asset('stylesheets/application.css') }}" data-turbo-track="reload">
        {% endblock %}
    </head>

    <body>
        <a
            class="accessibility-nav button button--primary button--uppercase"
            href="#main-content"
            tabindex="0"
            data-turbo="false"
        >
            {{ 'layout.skip_to_main_content' | trans }}
        </a>

        <div
            id="notifications"
            class="notifications flow"
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            data-controller="notifications"
        >
            {% for label, messages in app.flashes(['success', 'error']) %}
                {% for key, message in messages %}
                    <div
                        class="notifications__item notifications__item--{{ label }}"
                        {% if label == "error" %}
                            role="alert"
                            aria-live="assertive"
                        {% else %}
                            role="status"
                            aria-live="polite"
                        {% endif %}
                        data-notifications-target="item"
                    >
                        <span class="col--extend">
                            <span class="sr-only">
                                {% if label == "error" %}
                                    {{ 'layout.notifications.error' | trans }}
                                {% else %}
                                    {{ 'layout.notifications.success' | trans }}
                                {% endif %}
                            </span>

                            {{ message | trans }}
                        </span>

                        <button
                            type="button"
                            class="button--icon button--discreet"
                            data-action="notifications#closeItem"
                            data-notifications-item-param="{{ key }}"
                        >
                            {{ icon('close') }}
                            <span class="sr-only">
                                {{ 'layout.notifications.close' | trans }}
                            </span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="layout" id="layout">
            <noscript>
                <div class="layout__banner layout__banner--alert">
                    <p class="banner__container">
                        {{ 'layout.activate_javascript' | trans }}
                    </p>
                </div>
            </noscript>

            {% block header %}
                <header class="layout__header">
                    <div class="cols cols--always cols--center">
                        <nav data-controller="navigation" aria-label="{{ 'layout.main_navigation' | trans }}">
                            {% if app.user %}
                                <button
                                    class="layout__header-burger button--icon only-mobile"
                                    data-action="navigation#switch"
                                    data-navigation-target="button"
                                    aria-expanded="false"
                                >
                                    {{ icon('bars') }}
                                    {{ icon('close') }}

                                    <span class="sr-only">
                                        {{ 'layout.main_navigation.open' | trans }}
                                    </span>
                                </button>
                            {% endif %}

                            <ul class="layout__header-navigation list--nostyle {{ not app.user ? 'no-mobile' }}">
                                <li class="no-mobile">
                                    <a
                                        class="layout__header-home"
                                        href="{{ path('home') }}"
                                        {{ currentPage == 'home' ? 'aria-current="page"' }}
                                    >
                                        <img id="layout-logo" src="{{ asset('logo-white.svg') }}" alt="{{ 'layout.home' | trans }}" />
                                    </a>
                                </li>

                                {% if app.user %}
                                    <li class="layout__header-item">
                                        <a
                                            class="layout__header-anchor"
                                            href="{{ path('tickets') }}"
                                            {{ currentPage == 'tickets' ? 'aria-current="page"' }}
                                        >
                                            {{ 'layout.tickets' | trans }}
                                        </a>
                                    </li>

                                    {% if is_granted('orga:see:contracts', 'any') %}
                                        <li class="layout__header-item">
                                            <a
                                                class="layout__header-anchor"
                                                href="{{ path('contracts') }}"
                                                {{ currentPage == 'contracts' ? 'aria-current="page"' }}
                                            >
                                                {{ 'layout.contracts' | trans }}
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="layout__header-item">
                                        <a
                                            class="layout__header-anchor"
                                            href="{{ path('organizations') }}"
                                            {{ currentPage == 'organizations' ? 'aria-current="page"' }}
                                        >
                                            {{ 'layout.organizations' | trans }}
                                        </a>
                                    </li>

                                    {% if is_granted('admin:see') %}
                                        <li class="layout__header-item">
                                            <a
                                                class="layout__header-anchor"
                                                href="{{ path('admin') }}"
                                                {{ currentPage == 'admin' ? 'aria-current="page"' }}
                                            >
                                                {{ 'admin.index.title' | trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>

                        <div class="col--extend text--center">
                            <a
                                class="layout__header-home only-mobile"
                                href="{{ path('home') }}"
                                {{ currentPage == 'home' ? 'aria-current="page"' }}
                            >
                                <img id="layout-logo" src="{{ asset('icons/icon-white.svg') }}" alt="{{ 'layout.home' | trans }}" />
                            </a>
                        </div>

                        {% if app.user %}
                            <details
                                class="col--noshrink popup"
                                data-controller="popup"
                                data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                            >
                                <summary class="popup__opener">
                                    <div class="layout__header-account cols cols--center cols--always">
                                        {{ icon('circle-user') }}

                                        <span class="sr-mobile">
                                            {{ 'layout.my_account' | trans }}
                                        </span>
                                    </div>
                                </summary>

                                <nav class="popup__container popup__container--right">
                                    <div class="popup__title">{{ app.user.displayName }}</div>

                                    <a
                                        class="popup__item"
                                        href="{{ path('profile') }}"
                                        {{ currentPage == 'profile' ? 'aria-current="page"' }}
                                    >
                                        {{ 'profile.title' | trans }}
                                    </a>

                                    <a
                                        class="popup__item"
                                        href="{{ path('preferences') }}"
                                        {{ currentPage == 'preferences' ? 'aria-current="page"' }}
                                    >
                                        {{ 'preferences.title' | trans }}
                                    </a>

                                    <div class="popup__separator"></div>

                                    <a
                                        class="popup__item"
                                        href="{{ path('about') }}"
                                        {{ currentPage == 'about' ? 'aria-current="page"' }}
                                    >
                                        {{ 'about.title' | trans }}
                                    </a>

                                    <div class="popup__separator"></div>

                                    <form action="{{ path('logout') }}" method="post" data-turbo="false">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                        <button class="popup__item" id="form-logout-submit" type="submit">
                                            {{ 'layout.logout' | trans }}
                                        </button>
                                    </form>
                                </nav>
                            </details>
                        {% endif %}
                    </div>
                </header>
            {% endblock %}

            {% block submenu %}
            {% endblock %}

            {% block breadcrumb %}
            {% endblock %}

            <div id="main-content" tabindex="-1">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <div
            class="scroll-to-top"
            data-controller="scroll-to"
            data-scroll-to-target-value="#layout"
            data-visible="false"
        >
            <button class="scroll-to-top__button" data-action="scroll-to#scroll">
                {{ 'layout.scroll_to_top' | trans }}
            </button>
        </div>

        {{ include('_modal_dialog.html.twig') }}
    </body>
</html>
