{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}
<!DOCTYPE html>
<html
    lang="{{ app.request.locale|locale_to_bcp47 }}"
    data-locale="{{ app.request.locale }}"
    data-color-scheme="{{ app.user ? app.user.colorScheme : 'auto' }}"
    data-controller="color-scheme"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Bileto{% endblock %}</title>

        <meta name="application-name" content="Bileto">
        <meta name="theme-color" content="#12a594">
        <link rel="manifest" href="{{ path('webmanifest') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/icon-32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/icon-16.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/icon-180.png') }}">
        <meta name="apple-mobile-web-app-title" content="Bileto">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="{{ asset('icons/icon-144.png') }}">
        <meta name="msapplication-TileColor" content="#12a594">

        {% block javascripts %}
            <script src="{{ asset('tinymce/tinymce.min.js') }}" defer data-turbo-track="reload"></script>
            {{ vite_javascript_tag('assets/javascripts/application.js') }}
        {% endblock %}

        {% block stylesheets %}
            {{ vite_stylesheet_tag('assets/stylesheets/application.css') }}
        {% endblock %}
    </head>

    <body>
        <a
            class="no-mobile accessibility-nav anchor--action"
            href="#main-content"
            tabindex="0"
            data-turbo="false"
        >
            {{ 'layout.skip_to_main_content' | trans }}
        </a>

        <div
            id="notifications"
            class="notifications wrapper-small wrapper--center flow"
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            data-controller="notifications"
        >
            {% for label, messages in app.flashes(['success', 'error']) %}
                {% for key, message in messages %}
                    <div
                        class="notifications__item notifications__item--{{ label }} row row--center"
                        {% if label == "error" %}
                            role="alert"
                            aria-live="assertive"
                        {% else %}
                            role="status"
                            aria-live="polite"
                        {% endif %}
                        data-notifications-target="item"
                    >
                        <span class="row__item--extend">
                            <span class="sr-only">
                                {% if label == "error" %}
                                    {{ 'layout.notifications.error' | trans }}
                                {% else %}
                                    {{ 'layout.notifications.success' | trans }}
                                {% endif %}
                            </span>

                            {{ message | trans }}
                        </span>

                        <button
                            type="button"
                            class="button--icon"
                            data-action="notifications#closeItem"
                            data-notifications-item-param="{{ key }}"
                        >
                            {{ icon('close') }}
                            <span class="sr-only">
                                {{ 'layout.notifications.close' | trans }}
                            </span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="layout" id="layout">
            <noscript>
                <div class="layout__banner layout__banner--alert">
                    <p class="banner__container">
                        {{ 'layout.activate_javascript' | trans }}
                    </p>
                </div>
            </noscript>

            <nav class="layout__header">
                <div class="layout__header-container">
                    {% block layout_header %}
                        <a class="layout__header-home" href="{{ path('home') }}">
                            <img src="{{ asset('icons/icon.svg') }}" alt="Bileto" />
                        </a>

                        {% if app.user %}
                            <div class="layout__header-extend"></div>

                            {% if is_granted('admin:see') %}
                                <a class="layout__header-anchor" href="{{ path('settings') }}">
                                    {{ 'settings.index.title' | trans }}
                                </a>
                            {% endif %}

                            <details
                                class="popup"
                                data-controller="popup"
                                data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                            >
                                <summary class="popup__opener" title="{{ 'layout.user_menu_title' | trans({'name': app.user.displayName}) }}">
                                    <span class="layout__header-avatar">{{ icon('circle-user') }}</span>
                                    <span class="sr-only">
                                        {{ 'layout.user_menu_title' | trans({'name': app.user.displayName}) }}
                                    </span>
                                </summary>

                                <nav class="popup__container popup__container--large popup__container--left">
                                    <div class="popup__title">{{ app.user.displayName }}</div>

                                    <a class="popup__item" href="{{ path('profile') }}">
                                        {{ icon('id-card') }}
                                        {{ 'profile.title' | trans }}
                                    </a>

                                    <a class="popup__item" href="{{ path('preferences') }}">
                                        {{ icon('palette') }}
                                        {{ 'preferences.title' | trans }}
                                    </a>

                                    <div class="popup__separator"></div>

                                    <a class="popup__item" href="{{ path('about') }}">
                                        {{ icon('circle-question') }}
                                        {{ 'about.title' | trans }}
                                    </a>

                                    <div class="popup__separator"></div>

                                    <form action="{{ path('logout') }}" method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                        <button class="popup__item" id="form-logout-submit" type="submit">
                                            {{ icon('logout') }}
                                            {{ 'layout.logout' | trans }}
                                        </button>
                                    </form>
                                </nav>
                            </details>
                        {% endif %}
                    {% endblock %}
                </div>
            </nav>

            {% if block("back") is defined %}
                <div class="layout__back">
                    {{ block("back") }}
                </div>
            {% endif %}

            <div class="row">
                {% block sidebar %}{% endblock %}

                <div id="main-content" class="row__item--extend">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {{ include('_modal_dialog.html.twig') }}
    </body>
</html>
