{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<ul class="list-tickets list--padded list--border list--nostyle">
    {% for ticket in tickets %}
        <li class="list-tickets__item flow flow--smaller" data-test="ticket-item">
            <div class="row flow flow--smaller">
                <div class="row__item--extend">
                    <h2 class="text--small">
                        <a class="list-tickets__anchor" href="{{ path('ticket', {'uid': ticket.uid}) }}">
                            {{ ticket.title }}

                            <span class="ticket__id">#{{ ticket.id }}</span>
                        </a>
                    </h2>
                </div>

                <div>
                    <span class="badge badge--smaller badge--{{ ticket.statusBadgeColor }}" title="{{ 'tickets.status' | trans }}">
                        {{ icon('status') }}

                        <span class="sr-only">
                            {{ 'tickets.status' | trans }}
                        </span>

                        {{ ticket.statusLabel | trans }}
                    </span>

                    <span class="badge badge--smaller badge--{{ ticket.priorityBadgeColor }}" title="{{ 'tickets.priority' | trans }}">
                        {{ icon('priority') }}

                        <span class="sr-only">
                            {{ 'tickets.priority' | trans }}
                        </span>

                        {{ ticket.priorityLabel | trans }}
                    </span>
                </div>
            </div>

            <div class="row row--baseline flow flow--smaller text--smaller">
                <div class="row__item--extend">
                    {% if ticket.createdAt == ticket.updatedAt %}
                        {% if ticket.type == 'request' %}
                            {{ 'tickets.list.request_opened_on' | trans({
                                'date': ticket.createdAt | dateFull,
                                'dateIso': ticket.createdAt | dateIso,
                            }) | raw }}
                        {% else %}
                            {{ 'tickets.list.incident_opened_on' | trans({
                                'date': ticket.createdAt | dateFull,
                                'dateIso': ticket.createdAt | dateIso,
                            }) | raw }}
                        {% endif %}
                    {% else %}
                        {% if ticket.type == 'request' %}
                            {{ 'tickets.list.request_updated_on' | trans({
                                'date': ticket.updatedAt | dateFull,
                                'dateIso': ticket.updatedAt | dateIso,
                            }) | raw }}
                        {% else %}
                            {{ 'tickets.list.incident_updated_on' | trans({
                                'date': ticket.updatedAt | dateFull,
                                'dateIso': ticket.updatedAt | dateIso,
                            }) | raw }}
                        {% endif %}
                    {% endif %}

                    ⋅

                    <a class="list-tickets__organization" href="{{ path('organization tickets', { uid: ticket.organization.uid }) }}">
                        {{ ticket.organization.name }}
                    </a>
                </div>

                <div class="row row--always flow flow--small">
                    <span class="list-tickets__requester" title="{{ 'tickets.requester' | trans }}">
                        {{ icon('user') }}

                        <span class="sr-only">
                            {{ 'tickets.requester' | trans }}
                        </span>

                        {{ ticket.requester.displayName }}
                    </span>

                    <span class="list-tickets__assignee" title="{{ 'tickets.assignee' | trans }}">
                        {{ icon('headset') }}

                        {% if ticket.assignee %}
                            <span class="sr-only">
                                {{ 'tickets.assignee' | trans }}
                            </span>

                            {{ ticket.assignee.displayName }}
                        {% else %}
                            <strong>
                                {{ 'tickets.unassigned' | trans }}
                            </strong>
                        {% endif %}
                    </span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
