{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<nav
    class="layout__extramenu extramenu"
    data-controller="navigation"
    aria-labelledby="extramenu-tickets-title"
>
    <button
        class="extramenu__button only-mobile"
        data-action="navigation#switch"
        data-navigation-target="button"
        aria-expanded="false"
    >
        <span class="extramenu__title" id="extramenu-tickets-title">
            {{ 'tickets.index.views.title' | trans }}

        </span>

        {{ icon('angle-down') }}
    </button>

    <ul class="extramenu__menu list--nostyle">
        <li class="extramenu__item">
            <a
                class="extramenu__anchor"
                href="?"
                {{ current == 'all' ? 'aria-current="page"' }}
            >
                {{ 'tickets.index.title.all' | trans }}
            </a>
        </li>

        <li class="extramenu__item">
            <a
                class="extramenu__anchor"
                href="?view=unassigned"
                {{ current == 'unassigned' ? 'aria-current="page"' }}
            >
                <span class="col--extend">
                    {{ 'tickets.index.title.to_assign' | trans }}
                </span>

                {% if countToAssign > 0 %}
                    <span class="badge badge--small badge--border">
                        {{ countToAssign }}
                    </span>
                {% endif %}
            </a>
        </li>

        <li class="extramenu__item">
            <a
                class="extramenu__anchor"
                href="?view=assigned-me"
                {{ current == 'assigned-me' ? 'aria-current="page"' }}
            >
                <span class="col--extend">
                    {{ 'tickets.index.title.your_assigned_tickets' | trans }}
                </span>

                {% if countAssignedMe > 0 %}
                    <span class="badge badge--small badge--border">
                        {{ countAssignedMe }}
                    </span>
                {% endif %}
            </a>
        </li>

        <li class="extramenu__item">
            <a
                class="extramenu__anchor"
                href="?view=owned"
                {{ current == 'owned' ? 'aria-current="page"' }}
            >
                <span class="col--extend">
                    {{ 'tickets.index.title.your_tickets' | trans }}
                </span>

                {% if countOwned > 0 %}
                    <span class="badge badge--small badge--border">
                        {{ countOwned }}
                    </span>
                {% endif %}
            </a>
        </li>
    </ul>
</nav>
