{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<form method="get" action="" class="list__filters flow-small">
    {% if error %}
        <p class="form__error" role="alert" id="search-error">
            <span class="sr-only">{{ 'forms.error' | trans }}</span>
            {{ error }}
        </p>
    {% endif %}

    <div class="input-container">
        <input
            type="text"
            name="q"
            value="{{ query }}"
            required
            autocomplete="off"
            aria-label="{{ 'tickets.search.label' | trans }}"
            {% if error %}
                aria-invalid="true"
                aria-errormessage="search-error"
            {% endif %}
        />

        <button type="submit">
            {{ icon('search') }}
            <span class="sr-only">
                {{ 'tickets.search.submit' | trans }}
            </span>
        </button>
    </div>

    <p class="text--right text--small">
        <button
            class="button--anchor"
            data-controller="modal-opener"
            data-action="modal-opener#fetch"
            data-modal-opener-href-value="{{ path('advanced search syntax') }}"
        >
            {{ 'tickets.search.help' | trans }}
        </button>
    </p>
</form>
