{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<div data-controller="switch" class="panel">
    <div
        data-switch-target="panel"
        id="search-quick-panel"
        {{ searchMode != 'quick' ? 'hidden' }}
        class="flow flow--large"
    >
        <div class="cols cols--always cols--center">
            <h2 class="col--extend">
                {{ 'tickets.search.quick_search' | trans }}
            </h2>

            <button
                class="button--discreet button--icon"
                data-action="switch#change"
                data-switch-for-param="search-advanced-panel"
                title="{{ 'tickets.search.advanced_search' | trans }}"
            >
                {{ icon('dna') }}

                <span class="sr-only">
                    {{ 'tickets.search.advanced_search' | trans }}
                </span>
            </button>
        </div>

        {{ form_start(quickSearchForm, {
            action: path('search tickets'),
        }) }}
            {{ form_widget(quickSearchForm.text) }}

            <div>
                {% set groupStatusesIsSet = field_value(quickSearchForm.groupStatuses) is not empty %}
                {% set statusesIsSet = field_value(quickSearchForm.statuses) is not empty %}

                <details class="accordion" {{ groupStatusesIsSet or statusesIsSet ? 'open' }}>
                    <summary class="accordion__title">
                        {{ 'tickets.filters.status.title' | trans }}
                    </summary>

                    <div class="accordion__body flow flow--small" data-controller="checkboxes">
                        {{ form_row(quickSearchForm.groupStatuses) }}

                        {{ form_row(quickSearchForm.statuses) }}
                    </div>
                </details>

                {% if quickSearchForm.involves is defined %}
                    {% set involvesIsSet = field_value(quickSearchForm.involves) is not empty %}
                    {% set assigneesIsSet = field_value(quickSearchForm.assignees) is not empty %}
                    {% set unassignedOnlyIsSet = quickSearchForm.unassignedOnly.vars.checked %}
                    {% set requestersIsSet = field_value(quickSearchForm.requesters) is not empty %}

                    <details class="accordion" {{ involvesIsSet or assigneesIsSet or unassignedOnlyIsSet or requestersIsSet ? 'open' }}>
                        <summary class="accordion__title">
                            {{ 'tickets.filters.actors.title' | trans }}
                        </summary>

                        <div class="accordion__body flow flow--large">
                            {{ include(
                                'tickets/filters/_multiselect_actors.html.twig',
                                {
                                    form: quickSearchForm.involves,
                                },
                                with_context = false
                            ) }}

                            <div class="flow flow--small" data-controller="checkboxes">
                                {{ include(
                                    'tickets/filters/_multiselect_actors.html.twig',
                                    {
                                        form: quickSearchForm.assignees,
                                    },
                                    with_context = false
                                ) }}

                                {{ form_row(quickSearchForm.unassignedOnly) }}
                            </div>

                            {{ include(
                                'tickets/filters/_multiselect_actors.html.twig',
                                {
                                    form: quickSearchForm.requesters,
                                },
                                with_context = false
                            ) }}
                        </div>
                    </details>
                {% endif %}

                {% set labelsIsSet = field_value(quickSearchForm.labels) is not empty %}

                <details class="accordion" {{ labelsIsSet ? 'open' }}>
                    <summary class="accordion__title">
                        {{ 'tickets.filters.labels.title' | trans }}
                    </summary>

                    <div class="accordion__body">
                        {{ form_row(quickSearchForm.labels) }}
                    </div>
                </details>

                {% set prioritiesIsSet = field_value(quickSearchForm.priorities) is not empty %}
                {% set urgenciesIsSet = field_value(quickSearchForm.urgencies) is not empty %}
                {% set impactsIsSet = field_value(quickSearchForm.impacts) is not empty %}

                <details class="accordion" {{ prioritiesIsSet or urgenciesIsSet or impactsIsSet ? 'open' }}>
                    <summary class="accordion__title">
                        {{ 'tickets.filters.priority.title' | trans }}
                    </summary>

                    <div class="accordion__body flow">
                        <fieldset>
                            <legend>
                                {{ 'tickets.priority' | trans }}
                            </legend>

                            {{ form_row(quickSearchForm.priorities) }}
                        </fieldset>

                        <fieldset>
                            <legend>
                                {{ 'tickets.urgency' | trans }}
                            </legend>

                            {{ form_row(quickSearchForm.urgencies) }}
                        </fieldset>

                        <fieldset>
                            <legend>
                                {{ 'tickets.impact' | trans }}
                            </legend>

                            {{ form_row(quickSearchForm.impacts) }}
                        </fieldset>
                    </div>
                </details>

                {% set typeIsSet = field_value(quickSearchForm.type) is not empty %}

                <details class="accordion" {{ typeIsSet ? 'open' }}>
                    <summary class="accordion__title">
                        {{ 'tickets.filters.type.title' | trans }}
                    </summary>

                    <div class="accordion__body flow flow--small">
                        {{ form_row(quickSearchForm.type) }}
                    </div>
                </details>
            </div>

            {{ form_row(quickSearchForm.submit) }}
        {{ form_end(quickSearchForm) }}
    </div>

    <div
        data-switch-target="panel"
        id="search-advanced-panel"
        {{ searchMode != 'advanced' ? 'hidden' }}
        class="flow flow--large"
    >
        <div class="cols cols--always cols--center">
            <h2 class="col--extend">
                {{ 'tickets.search.advanced_search' | trans }}
            </h2>

            <button
                class="button--discreet button--icon"
                data-action="switch#change"
                data-switch-for-param="search-quick-panel"
                title="{{ 'tickets.search.quick_search' | trans }}"
            >
                {{ icon('search') }}

                <span class="sr-only">
                    {{ 'tickets.search.quick_search' | trans }}"
                </span>
            </button>
        </div>

        {{ form_start(advancedSearchForm) }}
            {{ form_errors(advancedSearchForm) }}

            {{ form_row(advancedSearchForm.q) }}

            <button
                class="button--anchor text--small"
                data-controller="modal-opener"
                data-action="modal-opener#fetch"
                data-modal-opener-href-value="{{ path('advanced search syntax') }}"
            >
                {{ 'tickets.search.help' | trans }}
            </button>

            <div class="text--right">
                <button class="button--animated-icon" type="submit">
                    {{ 'tickets.search.submit' | trans }}
                    {{ icon('arrow-right') }}
                </button>
            </div>
        {{ form_end(advancedSearchForm) }}
    </div>
</div>
