{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<article
    class="message {{ ticket.solution == message ? 'message--solution' }} {{ message.isConfidential ? 'message--confidential' }}"
    data-test="message-item"
>
    <div class="message__avatar">
        {{ icon('circle-user') }}
    </div>

    <div class="message__box">
        <div class="message__top">
            <p>
                {% if message.createdBy == ticket.requester %}
                    <span class="message__role" title="{{ 'tickets.requester' | trans }}">
                        {{ icon('user') }}
                        <span class="sr-only">
                            {{ 'tickets.requester' | trans }}
                        </span>
                    </span>
                {% elseif message.createdBy == ticket.assignee %}
                    <span class="message__role" title="{{ 'tickets.assignee' | trans }}">
                        {{ icon('headset') }}
                        <span class="sr-only">
                            {{ 'tickets.assignee' | trans }}
                        </span>
                    </span>
                {% endif %}

                <span class="message__author">
                    {{ message.createdBy.displayName }}
                </span>

                {% if message.via == 'email' %}
                    <span title="{{ 'tickets.show.message.via_email' | trans }}">
                        {{ icon('envelope') }}
                    </span>
                {% endif %}
            </p>

            {% if ticket.solution == message %}
                <div class="badge badge--primary">
                    {{ icon('check') }}
                    {{ 'tickets.show.message.solution' | trans }}
                </div>
            {% endif %}

            {% if message.isConfidential %}
                <div class="badge badge--red">
                    {{ icon('shield-halved') }}
                    {{ 'tickets.show.message.confidential' | trans }}
                </div>
            {% endif %}

            <div class="message__top-separator"></div>

            <time datetime="{{ message.createdAt | dateIso }}" class="message__date">
                {{ message.createdAt | dateTrans('HH:mm') }}
            </time>
        </div>

        <div class="message__content">
            {{ message.content | raw }}
        </div>

        {% if message.messageDocuments is not empty %}
            <div class="message__bottom flow flow--small">
                <p class="text--primary-dark text--small">
                    {{ 'message_documents.attachments' | trans }}
                </p>

                <ul class="documents list--nostyle grid">
                    {% for messageDocument in message.messageDocuments %}
                        {{ include(
                            'message_documents/_message_document.html.twig',
                            { messageDocument: messageDocument, displayRemove: false },
                            with_context = false
                        ) }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</article>
