{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% set bodyBlock = block('body') | trim %}

{% if bodyBlock is not empty %}
    <div
        id="time-{{ timeSpent.uid }}"
        class="timeline__time-spent"
        data-test="time-spent-item"
    >
        <p class="timeline__time-spent-message">
            {{ bodyBlock|raw }}
        </p>

        {% if is_granted('orga:create:tickets:time_spent', ticket.organization) and not ticket.isClosed %}
            <button
                class="button--icon button--ghost"
                data-controller="modal-opener"
                data-action="modal-opener#fetch"
                data-modal-opener-href-value="{{ path('edit time spent', { uid: timeSpent.uid }) }}"
            >
                {{ icon('pen-to-square') }}
                <span class="sr-only">
                    {{ 'tickets.show.time_spent.edit' | trans }}
                </span>
            </button>
        {% endif %}

        <a class="timeline__time-spent-date" href="#time-{{ timeSpent.uid }}">
            <time datetime="{{ timeSpent.createdAt | dateIso }}">
                {{ timeSpent.createdAt | dateTrans }}
            </time>
        </a>
    </div>
{% endif %}
