{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

<div class="timeline__time-spent" data-test="time-spent-item">
    <div class="timeline__time-spent-message">
        {{ 'tickets.show.time_spent' | trans({ count: timeSpent.realTime | formatMinutes('long') }) }}

        {% if timeSpent.contract is null %}
            <span class="text--secondary text--small">
                {{ 'tickets.show.time_spent.unaccounted' | trans }}
            </span>
        {% elseif timeSpent.realTime != timeSpent.time %}
            <span class="text--secondary text--small">
                {{ 'tickets.show.time_spent.accounted' | trans({ count: timeSpent.time | formatMinutes('long')  }) }}
            </span>
        {% endif %}
    </div>

    <time class="timeline__time-spent-date" datetime="{{ timeSpent.createdAt | dateIso }}">
        {{ timeSpent.createdAt | dateTrans('HH:mm') }}
    </time>
</div>
