{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if task.isFinished %}
    {% set taskStatus = 'finished' %}
{% elseif task.startAt > date() %}
    {% set taskStatus = 'planned' %}
{% else %}
    {% set taskStatus = 'ongoing' %}
{% endif %}

<article
    id="task-{{ task.uid }}"
    class="message {{ taskStatus == 'finished' ? 'message--solution' }}"
    data-test="task-item"
>
    <div class="message__avatar">
        {% if taskStatus == 'finished' %}
            {{ icon('circle-check-success') }}
        {% elseif taskStatus == 'ongoing' %}
            {{ icon('clock-white') }}
        {% else %}
            {{ icon('clock') }}
        {% endif %}
    </div>

    <div class="message__box">
        <div class="message__top">
            <span class="message__author">{{ task.label }}</span>

            {% if taskStatus == 'finished' %}
                <div class="badge badge--primary">
                    {{ icon('check') }}
                    {{ 'tickets.tasks.finished' | trans }}
                </div>
            {% elseif taskStatus == 'ongoing' %}
                <div class="badge badge--orange">
                    {{ 'tickets.tasks.ongoing' | trans }}
                </div>
            {% else %}
                <div class="badge badge--blue">
                    {{ 'tickets.tasks.planned' | trans }}
                </div>
            {% endif %}

            <div class="message__top-separator"></div>

            <a class="message__date" href="#task-{{ task.uid }}">
                <time datetime="{{ task.createdAt | dateIso }}">
                    {{ task.createdAt | dateTrans }}
                </time>
            </a>
        </div>

        <div class="message__content">
            <p class="text--small">
                <time datetime="{{ task.startAt | dateIso }}">{{ task.startAt | dateTrans }}</time>
                →
                <time datetime="{{ task.endAt | dateIso }}">{{ task.endAt | dateTrans }}</time>
            </p>

            {% if task.isFinished %}
                <p class="text--small text--success">
                    {{ 'tickets.tasks.finished_at' | trans({ date: task.finishedAt | dateTrans }) }}
                </p>
            {% endif %}
        </div>

        <div class="message__bottom cols cols--center">
            <a
                class="button button--discreet button--small"
                href="{{ path('download task ics', { uid: task.uid }) }}"
            >
                {{ icon('file') }}
                {{ 'tickets.tasks.download_ics' | trans }}
            </a>

            <div class="col--extend"></div>

            {% if is_granted('orga:create:tickets:tasks', ticket.organization) and not ticket.isClosed %}
                <div class="cols cols--center flow flow--small">
                    <a
                        class="button button--discreet button--small"
                        href="{{ path('edit task', { uid: task.uid }) }}"
                        data-controller="modal-opener"
                        data-action="modal-opener#fetch"
                        data-modal-opener-selector-value="{{ path('edit task', { uid: task.uid }) }}"
                    >
                        {{ icon('pen-to-square') }}
                        {{ 'tickets.tasks.edit' | trans }}
                    </a>

                    {% if not task.isFinished %}
                        <form action="{{ path('finish task', { uid: task.uid }) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('finish task') }}" />
                            <button type="submit" class="button--primary button--small">
                                {{ icon('check') }}
                                {{ 'tickets.tasks.finish' | trans }}
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</article>
