{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% for field in event.changes | keys %}
    {% set eventMessage = event | formatTicketChanges(field) %}

    {% if eventMessage %}
        <div
            id="event-{{ event.uid }}-{{ loop.index }}"
            class="timeline__event"
            data-test="event-item"
        >
            <div class="timeline__event-message">
                {{ eventMessage | raw }}
            </div>

            <a class="timeline__event-date" href="#event-{{ event.uid }}-{{ loop.index }}">
                <time datetime="{{ event.createdAt | dateIso }}">
                    {{ event.createdAt | dateTrans }}
                </time>
            </a>
        </div>
    {% endif %}
{% endfor %}
