{#
 # This file is part of Bileto.
 # Copyright 2022-2026 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'tickets/_time_spent.html.twig' %}

{% block body %}
    {% if is_granted('orga:see:tickets:time_spent:real', ticket.organization) and is_granted('orga:see:tickets:time_spent:accounted', ticket.organization) %}
        {{ 'tickets.show.time_spent' | trans({ count: timeSpent.realTime | formatMinutes('long') }) }}

        {% if timeSpent.contract is null %}
            <span class="text--secondary text--small">
                ({{ 'tickets.show.time_spent.unaccounted' | trans }})
            </span>
        {% else %}
            <span class="text--secondary text--small">
                ({{ 'tickets.show.time_spent.accounted' | trans({ count: timeSpent.time | formatMinutes('long')  }) }})
            </span>
        {% endif %}
    {% elseif is_granted('orga:see:tickets:time_spent:real', ticket.organization) %}
        {{ 'tickets.show.time_spent' | trans({ count: timeSpent.realTime | formatMinutes('long') }) }}
    {% elseif is_granted('orga:see:tickets:time_spent:accounted', ticket.organization) and timeSpent.contract is not null %}
        {{ 'tickets.show.time_spent' | trans({ count: timeSpent.time | formatMinutes('long')  }) }}
    {% endif %}
{% endblock %}
