{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% if currentView == 'all' %}
    {% set title = 'tickets.index.title.all' | trans %}
{% elseif currentView == 'to assign' %}
    {% set title = 'tickets.index.title.to_assign' | trans %}
{% elseif currentView == 'owned' %}
    {% set title = 'tickets.index.title.my' | trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
    {% if is_granted('orga:see:tickets:all', 'any') %}
        {{ include('tickets/_sidebar.html.twig', {
            current: currentView,
            countOwned: countOwned,
            countToAssign: countToAssign,
        }, with_context = false) }}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb">
            <h1>{{ title }}</h1>
        </div>

        <div class="flow row__item--extend">
            {% if tickets %}
                <p class="text--secondary">
                    {{ 'tickets.index.number' | trans({ count: tickets|length }) }}
                </p>

                {{ include(
                    'tickets/_list.html.twig',
                    { tickets: tickets },
                    with_context = false
                ) }}
            {% else %}
                <div class="text--center flow-large">
                    <p class="placeholder">
                        {{ icon('ticket') }}
                        {{ 'tickets.index.no_tickets' | trans }}
                    </p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
