{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% if view == 'all' %}
    {% set title = 'tickets.index.title.all' | trans %}
{% elseif view == 'unassigned' %}
    {% set title = 'tickets.index.title.to_assign' | trans %}
{% elseif view == 'owned' %}
    {% set title = 'tickets.index.title.your_tickets' | trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
    {% if is_granted('orga:see:tickets:all', 'any') %}
        {{ include('tickets/_sidebar.html.twig', {
            current: view,
            countOwned: countOwned,
            countToAssign: countToAssign,
        }, with_context = false) }}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="layout__body">
        <div class="flow wrapper-large {{ not is_granted('orga:see:tickets:all', 'any') ? 'wrapper--center' }}">
            <div class="layout__breadcrumb">
                <h1>{{ title }}</h1>
            </div>

            <div class="flow">
                <div class="row row--center row--always flow">
                    {% if is_granted('orga:create:tickets', 'any') %}
                        <a class="anchor--action" href="{{ path('new ticket') }}">
                            {{ icon('plus') }}
                            {{ 'tickets.index.new_ticket' | trans }}
                        </a>
                    {% endif %}

                    {% if tickets %}
                        <p class="text--secondary">
                            {{ 'tickets.index.number' | trans({ count: tickets|length }) }}
                        </p>
                    {% endif %}
                </div>

                <div class="flow-smaller">
                    {{ include(
                        'tickets/_search_form.html.twig',
                        {
                            query: query,
                            ticketFilter: ticketFilter,
                            from: path('tickets'),
                            error: errors.search ?? ''
                        },
                        with_context = false
                    ) }}

                    {% if tickets %}
                        {{ include(
                            'tickets/_list.html.twig',
                            { tickets: tickets },
                            with_context = false
                        ) }}
                    {% else %}
                        <p class="placeholder">
                            {{ icon('ticket') }}
                            {{ 'tickets.index.no_tickets' | trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
