{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% block title %}{{ "#{ticket.title} (##{ticket.id}) – #{organization.name}" }}{% endblock %}

{% block body %}
    <main class="layout__body flow flow--larger tickets-show">
        <div class="layout__breadcrumb wrapper wrapper--large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <h1>
                {{ ticket.title }}
                <span class="ticket__id">#{{ ticket.id }}</span>
            </h1>
        </div>

        <div class="wrapper wrapper--large wrapper--center flow text--small">
            <div class="row row--center row--middle flow">
                <span class="ticket__status badge badge--bold badge--{{ ticket.statusBadgeColor }}" title="{{ 'tickets.status' | trans }}">{{ icon('status') }} {{ ticket.statusLabel | trans }}</span>

                <span class="text--secondary text--small row__item--extend">
                    <strong>{{ ticket.createdBy.displayName }}</strong>

                    {% if ticket.type == 'request' %}
                        {{ 'tickets.show.opened_request' | trans | raw }}
                    {% else %}
                        {{ 'tickets.show.opened_incident' | trans | raw }}
                    {% endif %}

                    <time datetime="{{ ticket.createdAt | dateIso }}">
                        {{ 'tickets.show.opened_on' | trans({ 'date': ticket.createdAt | dateTrans }) }}
                    </time>

                    · {{ 'tickets.show.number_messages' | trans({ 'count': timeline.countItems('message') }) }}
                </span>

                {% set canUpdateType = is_granted('orga:update:tickets:type', organization) %}
                {% set canUpdateTitle = is_granted('orga:update:tickets:title', organization) %}
                {% set canUpdateStatus = is_granted('orga:update:tickets:status', organization) %}
                {% set menuHasItem = canUpdateType or canUpdateTitle or canUpdateStatus %}

                {% if menuHasItem %}
                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                    >
                        <summary class="popup__opener">
                            <span class="button button--caret">
                                {{ 'tickets.show.actions' | trans }}
                            </span>
                        </summary>

                        <nav class="popup__container popup__container--right">
                            {% if canUpdateType %}
                                <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                    {% if ticket.type == 'request' %}
                                        <input type="hidden" name="type" value="incident">
                                        <button id="form-update-type-submit" class="popup__item" type="submit">
                                            {{ 'tickets.show.actions.turn_into_incident' | trans }}
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="type" value="request">
                                        <button id="form-update-type-submit" class="popup__item" type="submit">
                                            {{ 'tickets.show.actions.turn_into_request' | trans }}
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}

                            {% if canUpdateTitle %}
                                <button
                                    class="popup__item"
                                    type="button"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket title', { uid: ticket.uid }) }}"
                                >
                                    {{ 'tickets.show.actions.rename' | trans }}
                                </button>
                            {% endif %}

                            {% if canUpdateStatus %}
                                <button
                                    class="popup__item"
                                    type="button"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket status', { uid: ticket.uid }) }}"
                                >
                                    {{ 'tickets.show.actions.update_status' | trans }}
                                </button>
                            {% endif %}
                        </nav>
                    </details>
                {% endif %}
            </div>

            <div class="row row--always row--center flow flow--small text--small">
                <form
                    method="post"
                    action="{{ path('update hide events') }}"
                    data-turbo-preserve-scroll
                >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update hide events') }}">
                    <input type="hidden" name="from" value="{{ path('ticket', { uid: ticket.uid }) }}">

                    {% if app.user.areEventsHidden %}
                        <button class="button--discreet" name="hideEvents" value="false">
                            {{ icon('eye') }}
                            {{ 'tickets.show.show_history' | trans }}
                        </button>
                    {% else %}
                        <button class="button--discreet" name="hideEvents" value="true">
                            {{ icon('eye-slash') }}
                            {{ 'tickets.show.hide_history' | trans }}
                        </button>
                    {% endif %}
                </form>

                <button
                    class="button--discreet"
                    data-controller="scroll-to"
                    data-scroll-to-target-value="#bottom"
                    data-action="scroll-to#scroll"
                >
                    {{ 'tickets.show.scroll_to_bottom' | trans }}
                </button>
            </div>
        </div>

        <div class="wrapper wrapper--larger wrapper--center row flow flow--larger">
            <div class="ticket__timeline row__item--extend flow flow--larger">
                <div class="flow flow--larger timeline">
                    {% set timelineDate = null %}
                    {% for timelineItem in timeline.sortedItems %}
                        {% if timelineDate == null or timelineDate.format('Y-m-d') != timelineItem.createdAt.format('Y-m-d') %}
                            {% set diff = timelineDate ? timelineDate.diff(timelineItem.createdAt).d : 0 %}
                            {% set timelineDate = timelineItem.createdAt %}

                            <h2 class="timeline__date">
                                {% if diff >= 7 %}
                                    <small class="timeline__date-diff">
                                        {{ 'tickets.timeline.diff_days' | trans({ days: diff }) }}&nbsp;—
                                    </small>
                                {% endif %}

                                <time datetime="{{ timelineDate | date('Y-m-d') }}">
                                    {{ timelineDate | dateShort(true) }}
                                </time>

                                {% if today.format('Y-m-d') == timelineItem.createdAt.format('Y-m-d') %}
                                    <small class="text--secondary">{{ 'tickets.timeline.today' | trans }}</small>
                                {% endif %}
                            </h2>
                        {% endif %}

                        {% if timelineItem.timelineType == 'message' %}
                            {{ include('tickets/_timeline_message.html.twig', { message: timelineItem }) }}
                        {% elseif timelineItem.timelineType == 'event' %}
                            {{ include('tickets/_timeline_event.html.twig', { event: timelineItem }) }}
                        {% endif %}
                    {% endfor %}

                    <div id="bottom">
                        {% if is_granted('orga:create:tickets:messages', organization) %}
                            <form
                                action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                                method="post"
                                class="timeline__editor flow"
                                data-controller="form-new-answer form-message-documents"
                                data-turbo-preserve-scroll
                                data-form-new-answer-ticket-status-value="{{ ticket.status }}"
                            >
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                                {% if error %}
                                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                                {% endif %}

                                <div class="flow flow--small">
                                    {% if errors.content is defined %}
                                        <p class="form__error" role="alert" id="message-error">
                                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                            {{ errors.content }}
                                        </p>
                                    {% endif %}

                                    <textarea
                                        id="message"
                                        name="message"
                                        data-controller="tinymce"
                                        data-tinymce-upload-url-value="{{ path('create message document') }}"
                                        data-tinymce-upload-csrf-value="{{ csrf_token('create message document') }}"
                                        data-form-new-answer-target="editor"
                                        data-action="new-document->form-new-answer#newDocument remove-document->tinymce#removeImage"
                                        {% if errors.content is defined %}
                                            autofocus
                                            aria-invalid="true"
                                            aria-errormessage="message-error"
                                        {% endif %}
                                    >{{ message }}</textarea>
                                </div>

                                <div>
                                    <turbo-frame
                                        id="message-documents"
                                        src="{{ path('message documents', { filter: 'unattached' }) }}"
                                        data-controller="message-documents"
                                        data-form-new-answer-target="messageDocuments"
                                        data-action="remove-document->form-new-answer#removeDocument new-document->message-documents#reload"
                                    >
                                    </turbo-frame>
                                </div>

                                {% set canCreateConfidential = is_granted('orga:create:tickets:messages:confidential', organization) %}
                                {% set canUpdateStatus = is_granted('orga:update:tickets:status', organization) %}

                                {% if canCreateConfidential or canUpdateStatus %}
                                    <div class="row flow">
                                        <label>
                                            {{ 'tickets.show.mark_as' | trans }}
                                        </label>

                                        <div class="row row--always flow">
                                            {% if canCreateConfidential %}
                                                <div>
                                                    <input
                                                        type="checkbox"
                                                        id="is-confidential"
                                                        name="isConfidential"
                                                        {{ isConfidential ? 'checked' }}
                                                        data-action="form-new-answer#refresh"
                                                        data-form-new-answer-target="confidentialCheckbox"
                                                        {% if errors.isConfidential is defined %}
                                                            aria-invalid="true"
                                                            aria-errormessage="is-confidential-error"
                                                        {% endif %}
                                                    />

                                                    <label for="is-confidential">
                                                        {{ 'tickets.show.mark_as.confidential' | trans }}
                                                    </label>
                                                </div>
                                            {% endif %}

                                            {% if canUpdateStatus %}
                                                <div>
                                                    <input
                                                        type="checkbox"
                                                        id="is-solution"
                                                        name="isSolution"
                                                        {{ isSolution ? 'checked' }}
                                                        {{ ticket.isFinished ? 'disabled' }}
                                                        data-action="form-new-answer#refresh"
                                                        data-form-new-answer-target="solutionCheckbox"
                                                    />

                                                    <label for="is-solution">
                                                        {{ 'tickets.show.mark_as.solution' | trans }}
                                                    </label>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if errors.isConfidential is defined %}
                                    <p class="form__error" role="alert" id="is-confidential-error">
                                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                        {{ errors.isConfidential }}
                                    </p>
                                {% endif %}

                                <div class="row flow">
                                    {% if not ticket.isFinished %}
                                        <div class="row__item--extend flow flow--small">
                                            {% if canUpdateStatus %}
                                                <div class="row row--center row--always flow">
                                                    <label for="status-to">
                                                        {{ 'tickets.show.status_to' | trans }}
                                                    </label>

                                                    <select
                                                        id="status-to"
                                                        name="status"
                                                        required
                                                        {{ ticket.isFinished ? 'disabled' }}
                                                        {% if errors.status is defined %}
                                                            autofocus
                                                            aria-invalid="true"
                                                            aria-errormessage="status-error"
                                                        {% endif %}
                                                        data-form-new-answer-target="statusSelect"
                                                    >
                                                        {% for value, label in statuses %}
                                                            <option value="{{ value }}" {{ value == status ? 'selected' }}>
                                                                {{ label | trans }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                {% if errors.status is defined %}
                                                    <p class="form__error" role="alert" id="status-error">
                                                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                                        {{ errors.status }}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% elseif ticket.status == 'resolved' %}
                                        <p class="row__item--extend text--success">
                                            {{ icon('check') }}
                                            {{ 'tickets.show.resolved' | trans }}
                                        </p>
                                    {% elseif ticket.status == 'closed' %}
                                        <p class="row__item--extend text--secondary">
                                            {{ icon('close') }}
                                            {{ 'tickets.show.closed' | trans }}
                                        </p>
                                    {% endif %}

                                    <button id="form-create-message-submit" class="button--primary row__item--extend" type="submit">
                                        {{ 'tickets.show.answer' | trans }}
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="ticket__info text--small row__item--noshrink flow flow--larger">
                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend">
                            {{ icon('user-group') }}
                            <strong>{{ 'tickets.actors' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:actors', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.actors.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.requester' | trans }}
                        </div>

                        <div>
                            {{ ticket.requester.displayName }}
                        </div>
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.assignee' | trans }}
                        </div>

                        <div>
                            {% if ticket.assignee %}
                                {{ ticket.assignee.displayName }}
                            {% elseif is_granted('orga:update:tickets:actors', organization) %}
                                <button
                                    class="button--anchor"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                                >
                                    <strong>{{ 'tickets.unassigned' | trans }}</strong>
                                </button>

                                <form
                                    action="{{ path('update ticket actors', { uid: ticket.uid }) }}"
                                    method="post"
                                    class="form--inline"
                                    data-turbo-preserve-scroll
                                >
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket actors') }}">
                                    <input type="hidden" name="assigneeUid" value="{{ app.user.uid }}">

                                    →
                                    <button id="form-self-assign-submit" class="button--anchor" type="submit">
                                        {{ 'tickets.show.assign_yourself' | trans }}
                                    </button>
                                </form>
                            {% else %}
                                <strong>{{ 'tickets.unassigned' | trans }}</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend">
                            {{ icon('priority') }}
                            <strong>{{ 'tickets.priority' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:priority', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.priority.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div class="ticket__priority badge badge--block badge--bold badge--{{ ticket.priorityBadgeColor }}">
                        {{ ticket.priorityLabel | trans }}
                    </div>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.urgency' | trans }}
                        </span>
                        {{ ticket.urgencyLabel | trans }}
                    </p>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.impact' | trans }}
                        </span>
                        {{ ticket.impactLabel | trans }}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
