{#
 # This file is part of Bileto.
 # Copyright 2022 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ "#{ticket.title} (##{ticket.id}) – #{organization.name}" }}{% endblock %}

{% block back %}
    <a href="{{ path('organization tickets', {'uid': organization.uid}) }}">
        {{ 'Back (tickets)' | trans }}
    </a>
{% endblock %}

{% block body %}
    <main class="layout__body flow-larger tickets-show">
        <div class="wrapper-large wrapper--center flow">
            <h1>
                {{ ticket.title }}
                <span class="ticket__id">#{{ ticket.id }}</span>
            </h1>

            <div class="text--center">
                {{ organization.name }}
            </div>

            <div class="text--center">
                <span class="ticket__status badge badge--bold badge--{{ ticket.statusBadgeColor }}" title="{{ 'Status' | trans }}">{{ icon('status') }} {{ ticket.statusLabel | trans }}</span>

                <span class="text--small">
                    <strong>{{ ticket.createdBy.email }}</strong>

                    {% if ticket.type == 'request' %}
                        {{ 'opened this <strong>request</strong>' | trans | raw }}
                    {% else %}
                        {{ 'opened this <strong>incident</strong>' | trans | raw }}
                    {% endif %}

                    <time datetime="{{ ticket.createdAt | dateIso }}">
                        {{ 'on %date%' | trans({ '%date%': ticket.createdAt | dateTrans }) }}
                    </time>
                </span>
            </div>
        </div>

        <div class="ticket__layout grid">
            <div class="ticket__timeline flow-large">
                <div class="flow-large timeline">
                    {% for message in messages %}
                        <article class="message">
                            <div class="message__avatar">
                                {{ icon('circle-user') }}
                                {% if message.createdBy == ticket.requester %}
                                    <span class="message__role" title="{{ 'Requester' | trans }}">
                                        {{ icon('user') }}
                                        <span class="sr-only">
                                            {{ 'Requester' | trans }}
                                        </span>
                                    </span>
                                {% elseif message.createdBy == ticket.assignee %}
                                    <span class="message__role" title="{{ 'Assignee' | trans }}">
                                        {{ icon('headset') }}
                                        <span class="sr-only">
                                            {{ 'Assignee' | trans }}
                                        </span>
                                    </span>
                                {% endif %}
                            </div>

                            <div class="message__box">
                                <div class="message__top">
                                    <div class="message__author">
                                        {{ message.createdBy.email }}
                                    </div>

                                    <div class="message__top-separator"></div>

                                    <time datetime="{{ message.createdAt | dateIso }}" class="message__date">
                                        {{ message.createdAt | dateTrans }}
                                    </time>
                                </div>

                                <div class="message__content">
                                    {{ message.content | raw }}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>

                <form
                    action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                    method="post"
                    class="ticket__editor flow"
                    data-turbo-preserve-scroll
                >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                    {% if error %}
                        <div class="alert alert--error" role="alert" data-turbo-cache="false" data-test="alert-error">
                            <div class="alert__title">{{ 'Error' | trans }}</div>

                            <p class="alert__message">
                                {{ error }}
                            </p>
                        </div>
                    {% endif %}

                    <div class="flow-small">
                        {% if errors.content is defined %}
                            <p class="form__error" role="alert" id="message-error">
                                <span class="sr-only">{{ 'Error' | trans }}</span>
                                {{ errors.content }}
                            </p>
                        {% endif %}

                        <textarea
                            id="message"
                            name="message"
                            data-controller="tinymce"
                            {% if errors.content is defined %}
                                autofocus
                                aria-invalid="true"
                                aria-errormessage="message-error"
                            {% endif %}
                        >{{ message }}</textarea>
                    </div>

                    <div class="grid grid--cols2">
                        <div class="form-group--inline">
                            <label for="status">
                                {{ 'Status to' | trans }}
                            </label>

                            <select
                                id="status"
                                name="status"
                                required
                                {% if errors.status is defined %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-errormessage="status-error"
                                {% endif %}
                            >
                                {% for value, label in statuses %}
                                    <option value="{{ value }}" {{ value == status ? 'selected' }}>
                                        {{ label | trans }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <button id="form-create-message-submit" class="button--primary" type="submit">
                            {{ 'Answer' | trans }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="ticket__info flow-larger">
                <div class="text--right">
                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside keydown->popup#closeOnEscape"
                    >
                        <summary class="popup__opener">
                            <span class="button">
                                {{ icon('ellipsis') }}
                                {{ 'Actions' | trans }}
                            </span>
                        </summary>

                        <nav
                            class="popup__container popup__container--left flow-small"
                            role="menu"
                        >
                            <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                {% if ticket.type == 'request' %}
                                    <input type="hidden" name="type" value="incident">
                                    <button id="form-update-type-submit" class="popup__item" type="submit" role="menuitem">
                                        {{ 'Turn into an incident' | trans }}
                                    </button>
                                {% else %}
                                    <input type="hidden" name="type" value="request">
                                    <button id="form-update-type-submit" class="popup__item" type="submit" role="menuitem">
                                        {{ 'Turn into a request' | trans }}
                                    </button>
                                {% endif %}
                            </form>
                        </nav>
                    </details>
                </div>

                <div class="flow">
                    <div class="row">
                        <span class="text--secondary">
                            {{ icon('user-group') }}
                            <strong>{{ 'Actors' | trans }}</strong>
                        </span>

                        <div class="row__extend"></div>

                        <button
                            class="button--icon"
                            data-controller="modal-opener"
                            data-action="modal-opener#fetch"
                            data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                            aria-haspopup="dialog"
                            aria-controls="modal"
                        >
                            {{ icon('gear') }}
                            <span class="sr-only">
                                {{ 'Edit the actors' | trans }}
                            </span>
                        </button>
                    </div>

                    <div>
                        <p class="text--secondary">
                            {{ 'Requester' | trans }}
                        </p>
                        <p>
                            {{ ticket.requester.email }}
                        </p>
                    </div>

                    <div>
                        <p class="text--secondary">
                            {{ 'Assignee' | trans }}
                        </p>
                        <p>
                            {% if ticket.assignee %}
                                {{ ticket.assignee.email }}
                            {% else %}
                                <button
                                    class="button--ghost"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                                    aria-haspopup="dialog"
                                    aria-controls="modal"
                                >
                                    <strong>{{ 'Unassigned' | trans }}</strong>
                                </button>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="flow">
                    <div class="row">
                        <span class="text--secondary">
                            {{ icon('priority') }}
                            <strong>{{ 'Priority' | trans }}</strong>
                        </span>

                        <div class="row__extend"></div>

                        <button
                            class="button--icon"
                            data-controller="modal-opener"
                            data-action="modal-opener#fetch"
                            data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                            aria-haspopup="dialog"
                            aria-controls="modal"
                        >
                            {{ icon('gear') }}
                            <span class="sr-only">
                                {{ 'Edit the priority' | trans }}
                            </span>
                        </button>
                    </div>
                    <div class="ticket__priority badge badge--bold badge--{{ ticket.priorityBadgeColor }}">
                        {{ ticket.priorityLabel | trans }}
                    </div>

                    <p>
                        <span class="text--secondary">
                            {{ 'Urgency:' | trans }}
                        </span>
                        {{ ticket.urgencyLabel | trans }}
                    </p>

                    <p>
                        <span class="text--secondary">
                            {{ 'Impact:' | trans }}
                        </span>
                        {{ ticket.impactLabel | trans }}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
