{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ "#{ticket.title} (##{ticket.id}) – #{organization.name}" }}{% endblock %}

{% block body %}
    <main class="layout__body flow-larger tickets-show">
        <div class="layout__breadcrumb wrapper-large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
            <h1>
                {{ ticket.title }}
                <span class="ticket__id">#{{ ticket.id }}</span>
            </h1>
        </div>

        <div class="wrapper-large wrapper--center row row--center row--middle flow text--center">
            <span class="ticket__status badge badge--bold badge--{{ ticket.statusBadgeColor }}" title="{{ 'tickets.status' | trans }}">{{ icon('status') }} {{ ticket.statusLabel | trans }}</span>

            <span class="text--small">
                <strong>{{ ticket.createdBy.displayName }}</strong>

                {% if ticket.type == 'request' %}
                    {{ 'tickets.show.opened_request' | trans | raw }}
                {% else %}
                    {{ 'tickets.show.opened_incident' | trans | raw }}
                {% endif %}

                <time datetime="{{ ticket.createdAt | dateIso }}">
                    {{ 'tickets.show.opened_on' | trans({ 'date': ticket.createdAt | dateTrans }) }}
                </time>

                · {{ 'tickets.show.number_messages' | trans({ 'count': timeline.countItems('message') }) }}
            </span>
        </div>

        <div class="wrapper-larger wrapper--center row flow-larger">
            <div class="ticket__timeline row__item--extend flow-larger">
                <div class="flow-larger timeline">
                    {% set timelineDate = null %}
                    {% for timelineItem in timeline.sortedItems %}
                        {% if timelineDate == null or timelineDate.format('Y-m-d') != timelineItem.createdAt.format('Y-m-d') %}
                            {% set diff = timelineDate ? timelineDate.diff(timelineItem.createdAt).d : 0 %}
                            {% if diff >= 7 %}
                                <div class="timeline__date-diff">
                                    {{ icon('ellipsis') }}
                                    {{ 'tickets.timeline.diff_days' | trans({ days: diff }) }}
                                    {{ icon('ellipsis') }}
                                </div>
                            {% endif %}

                            {% set timelineDate = timelineItem.createdAt %}

                            <h2 class="timeline__date">
                                <time datetime="{{ timelineDate | date('Y-m-d') }}">
                                    {{ timelineDate | dateShort(true) }}
                                </time>

                                {% if today.format('Y-m-d') == timelineItem.createdAt.format('Y-m-d') %}
                                    <small class="text--secondary">{{ 'tickets.timeline.today' | trans }}</small>
                                {% endif %}
                            </h2>
                        {% endif %}

                        {% if timelineItem.timelineType == 'message' %}
                            {{ include('tickets/_timeline_message.html.twig', { message: timelineItem }) }}
                        {% elseif timelineItem.timelineType == 'event' %}
                            {{ include('tickets/_timeline_event.html.twig', { event: timelineItem }) }}
                        {% endif %}
                    {% endfor %}

                    <form
                        class="timeline__events-visibility"
                        method="post"
                        action="{{ path('update hide events') }}"
                        data-turbo-preserve-scroll
                    >
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('update hide events') }}">
                        <input type="hidden" name="from" value="{{ path('ticket', { uid: ticket.uid }) }}">

                        {% if app.user.areEventsHidden %}
                            <button name="hideEvents" value="false">
                                {{ icon('eye') }}
                                {{ 'tickets.show.show_history' | trans }}
                            </button>
                        {% else %}
                            <button name="hideEvents" value="true">
                                {{ icon('eye-slash') }}
                                {{ 'tickets.show.hide_history' | trans }}
                            </button>
                        {% endif %}
                    </form>
                </div>

                {% if is_granted('orga:create:tickets:messages', organization) %}
                    <form
                        action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                        method="post"
                        class="ticket__editor flow"
                        data-controller="ticket-editor"
                        data-turbo-preserve-scroll
                        data-ticket-editor-ticket-status-value="{{ ticket.status }}"
                    >
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                        {% if error %}
                            {{ include('alerts/_error.html.twig', { message: error | trans }, with_context = false) }}
                        {% endif %}

                        <div class="flow-small">
                            {% if errors.content is defined %}
                                <p class="form__error" role="alert" id="message-error">
                                    <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                    {{ errors.content }}
                                </p>
                            {% endif %}

                            <textarea
                                id="message"
                                name="message"
                                data-controller="tinymce"
                                {% if errors.content is defined %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-errormessage="message-error"
                                {% endif %}
                            >{{ message }}</textarea>
                        </div>

                        <div class="row flow">
                            <label>
                                {{ 'tickets.show.mark_as' | trans }}
                            </label>

                            <div class="row row--always flow">
                                {% if is_granted('orga:create:tickets:messages:confidential', organization) %}
                                    <div>
                                        <input
                                            type="checkbox"
                                            id="is-confidential"
                                            name="isConfidential"
                                            {{ isConfidential ? 'checked' }}
                                            data-action="ticket-editor#refresh"
                                            data-ticket-editor-target="confidentialCheckbox"
                                            {% if errors.isConfidential is defined %}
                                                aria-invalid="true"
                                                aria-errormessage="is-confidential-error"
                                            {% endif %}
                                        />

                                        <label for="is-confidential">
                                            {{ 'tickets.show.mark_as.confidential' | trans }}
                                        </label>
                                    </div>
                                {% endif %}

                                <div>
                                    <input
                                        type="checkbox"
                                        id="is-solution"
                                        name="isSolution"
                                        {{ isSolution ? 'checked' }}
                                        {{ ticket.isFinished ? 'disabled' }}
                                        data-action="ticket-editor#refresh"
                                        data-ticket-editor-target="solutionCheckbox"
                                    />

                                    <label for="is-solution">
                                        {{ 'tickets.show.mark_as.solution' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        {% if errors.isConfidential is defined %}
                            <p class="form__error" role="alert" id="is-confidential-error">
                                <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                {{ errors.isConfidential }}
                            </p>
                        {% endif %}

                        <div class="row flow">
                            {% if not ticket.isFinished %}
                                <div class="row__item--extend flow-small">
                                    <div class="row row--center row--always flow">
                                        <label for="status">
                                            {{ 'tickets.show.status_to' | trans }}
                                        </label>

                                        <select
                                            id="status"
                                            name="status"
                                            required
                                            {{ ticket.isFinished ? 'disabled' }}
                                            {% if errors.status is defined %}
                                                autofocus
                                                aria-invalid="true"
                                                aria-errormessage="status-error"
                                            {% endif %}
                                            data-ticket-editor-target="statusSelect"
                                        >
                                            {% for value, label in statuses %}
                                                <option value="{{ value }}" {{ value == status ? 'selected' }}>
                                                    {{ label | trans }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    {% if errors.status is defined %}
                                        <p class="form__error" role="alert" id="status-error">
                                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                            {{ errors.status }}
                                        </p>
                                    {% endif %}
                                </div>
                            {% elseif ticket.status == 'resolved' %}
                                <p class="row__item--extend text--success">
                                    {{ icon('check') }}
                                    {{ 'tickets.show.resolved' | trans }}
                                </p>
                            {% elseif ticket.status == 'closed' %}
                                <p class="row__item--extend text--secondary">
                                    {{ icon('close') }}
                                    {{ 'tickets.show.closed' | trans }}
                                </p>
                            {% endif %}

                            <button id="form-create-message-submit" class="button--primary row__item--extend" type="submit">
                                {{ 'tickets.show.answer' | trans }}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>

            <div class="ticket__info row__item--noshrink flow-larger">
                {% set canUpdateType = is_granted('orga:update:tickets:type', organization) %}
                {% set canUpdateTitle = is_granted('orga:update:tickets:title', organization) %}
                {% set menuHasItem = canUpdateType or canUpdateTitle %}

                {% if menuHasItem %}
                    <div class="text--right">
                        <details
                            class="popup"
                            data-controller="popup"
                            data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                        >
                            <summary class="popup__opener">
                                <span class="button">
                                    {{ icon('ellipsis') }}
                                    {{ 'tickets.show.actions' | trans }}
                                    {{ icon('caret-down') }}
                                </span>
                            </summary>

                            <nav class="popup__container popup__container--left">
                                {% if canUpdateType %}
                                    <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                        {% if ticket.type == 'request' %}
                                            <input type="hidden" name="type" value="incident">
                                            <button id="form-update-type-submit" class="popup__item" type="submit">
                                                {{ 'tickets.show.actions.turn_into_incident' | trans }}
                                            </button>
                                        {% else %}
                                            <input type="hidden" name="type" value="request">
                                            <button id="form-update-type-submit" class="popup__item" type="submit">
                                                {{ 'tickets.show.actions.turn_into_request' | trans }}
                                            </button>
                                        {% endif %}
                                    </form>
                                {% endif %}

                                {% if canUpdateTitle %}
                                    <button
                                        class="popup__item"
                                        type="button"
                                        data-controller="modal-opener"
                                        data-action="modal-opener#fetch"
                                        data-modal-opener-href-value="{{ path('edit ticket title', { uid: ticket.uid }) }}"
                                    >
                                        {{ 'tickets.show.actions.rename' | trans }}
                                    </button>
                                {% endif %}
                            </nav>
                        </details>
                    </div>
                {% endif %}

                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend text--secondary">
                            {{ icon('user-group') }}
                            <strong>{{ 'tickets.actors' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:actors', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.actors.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.requester' | trans }}
                        </div>

                        <div>
                            {{ ticket.requester.displayName }}
                        </div>
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.assignee' | trans }}
                        </div>

                        <div>
                            {% if ticket.assignee %}
                                {{ ticket.assignee.displayName }}
                            {% else %}
                                <strong>{{ 'tickets.unassigned' | trans }}</strong>

                                {% if is_granted('orga:update:tickets:actors', organization) %}
                                    <form
                                        action="{{ path('update ticket actors', { uid: ticket.uid }) }}"
                                        method="post"
                                        class="form--inline"
                                        data-turbo-preserve-scroll
                                    >
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket actors') }}">
                                        <input type="hidden" name="assigneeId" value="{{ app.user.id }}">

                                        →
                                        <button id="form-self-assign-submit" class="button--anchor" type="submit">
                                            {{ 'tickets.show.assign_yourself' | trans }}
                                        </button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend text--secondary">
                            {{ icon('priority') }}
                            <strong>{{ 'tickets.priority' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:priority', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.priority.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div class="ticket__priority badge badge--block badge--bold badge--{{ ticket.priorityBadgeColor }}">
                        {{ ticket.priorityLabel | trans }}
                    </div>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.urgency' | trans }}
                        </span>
                        {{ ticket.urgencyLabel | trans }}
                    </p>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.impact' | trans }}
                        </span>
                        {{ ticket.impactLabel | trans }}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
