{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'tickets' %}

{% block title %}{{ "#{ticket.title} (##{ticket.id}) – #{organization.name}" }}{% endblock %}

{% block body %}
    <main class="layout__body flow flow--larger tickets-show">
        <div class="layout__breadcrumb wrapper wrapper--large wrapper--center">
            <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>

            <a href="{{ path('organization tickets', { uid: organization.uid }) }}">
                {{ 'tickets.index.title' | trans }}
            </a>

            <h1>
                {{ ticket.title }}
                <span class="ticket__id">#{{ ticket.id }}</span>
            </h1>
        </div>

        <div class="ticket__top wrapper wrapper--large wrapper--center flow text--small">
            <div class="row row--center row--middle flow">
                <span class="ticket__status badge badge--bold badge--{{ ticket.statusBadgeColor }}" title="{{ 'tickets.status' | trans }}">{{ icon('status') }} {{ ticket.statusLabel | trans }}</span>

                <span class="text--secondary text--small row__item--extend">
                    <strong>{{ ticket.createdBy.displayName }}</strong>

                    {% if ticket.type == 'request' %}
                        {{ 'tickets.show.opened_request' | trans | raw }}
                    {% else %}
                        {{ 'tickets.show.opened_incident' | trans | raw }}
                    {% endif %}

                    <time datetime="{{ ticket.createdAt | dateIso }}">
                        {{ 'tickets.show.opened_on' | trans({ 'date': ticket.createdAt | dateTrans }) }}
                    </time>

                    · {{ 'tickets.show.number_messages' | trans({ 'count': timeline.countItems('message') }) }}
                </span>

                {% set canUpdateType = is_granted('orga:update:tickets:type', organization) %}
                {% set canUpdateTitle = is_granted('orga:update:tickets:title', organization) %}
                {% set canUpdateStatus = is_granted('orga:update:tickets:status', organization) %}
                {% set menuHasItem = canUpdateType or canUpdateTitle or canUpdateStatus %}

                {% if menuHasItem %}
                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                    >
                        <summary class="popup__opener">
                            <span class="button button--caret">
                                {{ 'tickets.show.actions' | trans }}
                            </span>
                        </summary>

                        <nav class="popup__container popup__container--right">
                            {% if canUpdateType %}
                                <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                    {% if ticket.type == 'request' %}
                                        <input type="hidden" name="type" value="incident">
                                        <button id="form-update-type-submit" class="popup__item" type="submit">
                                            {{ 'tickets.show.actions.turn_into_incident' | trans }}
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="type" value="request">
                                        <button id="form-update-type-submit" class="popup__item" type="submit">
                                            {{ 'tickets.show.actions.turn_into_request' | trans }}
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}

                            {% if canUpdateTitle %}
                                <button
                                    class="popup__item"
                                    type="button"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket title', { uid: ticket.uid }) }}"
                                >
                                    {{ 'tickets.show.actions.rename' | trans }}
                                </button>
                            {% endif %}

                            {% if canUpdateStatus %}
                                <button
                                    class="popup__item"
                                    type="button"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket status', { uid: ticket.uid }) }}"
                                >
                                    {{ 'tickets.show.actions.update_status' | trans }}
                                </button>
                            {% endif %}
                        </nav>
                    </details>
                {% endif %}
            </div>

            <div class="row row--always row--center flow flow--small text--small">
                <form
                    method="post"
                    action="{{ path('update hide events') }}"
                    data-turbo-preserve-scroll
                >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update hide events') }}">
                    <input type="hidden" name="from" value="{{ path('ticket', { uid: ticket.uid }) }}">

                    {% if app.user.areEventsHidden %}
                        <button class="button--discreet" name="hideEvents" value="false">
                            {{ icon('eye') }}
                            {{ 'tickets.show.show_history' | trans }}
                        </button>
                    {% else %}
                        <button class="button--discreet" name="hideEvents" value="true">
                            {{ icon('eye-slash') }}
                            {{ 'tickets.show.hide_history' | trans }}
                        </button>
                    {% endif %}
                </form>

                <button
                    class="button--discreet"
                    data-controller="scroll-to"
                    data-scroll-to-target-value="#bottom"
                    data-action="scroll-to#scroll"
                >
                    {{ 'tickets.show.scroll_to_bottom' | trans }}
                </button>
            </div>
        </div>

        <div class="wrapper wrapper--large wrapper--center row flow flow--larger">
            <div class="ticket__timeline row__item--extend flow flow--larger">
                <div class="flow flow--larger timeline">
                    {% set timelineDate = null %}
                    {% for timelineItem in timeline.sortedItems %}
                        {% if timelineDate == null or timelineDate.format('Y-m-d') != timelineItem.createdAt.format('Y-m-d') %}
                            {% set diff = timelineDate ? timelineDate.diff(timelineItem.createdAt).d : 0 %}
                            {% set timelineDate = timelineItem.createdAt %}

                            <h2 class="timeline__date">
                                {% if diff >= 7 %}
                                    <small class="timeline__date-diff">
                                        {{ 'tickets.timeline.diff_days' | trans({ days: diff }) }}&nbsp;—
                                    </small>
                                {% endif %}

                                <time datetime="{{ timelineDate | date('Y-m-d') }}">
                                    {{ timelineDate | dateShort(true) }}
                                </time>

                                {% if today.format('Y-m-d') == timelineItem.createdAt.format('Y-m-d') %}
                                    <small class="text--secondary">{{ 'tickets.timeline.today' | trans }}</small>
                                {% endif %}
                            </h2>
                        {% endif %}

                        {% if timelineItem.timelineType == 'message' %}
                            {{ include('tickets/_timeline_message.html.twig', { message: timelineItem }) }}
                        {% elseif timelineItem.timelineType == 'event' %}
                            {{ include('tickets/_timeline_event.html.twig', { event: timelineItem }) }}
                        {% endif %}
                    {% endfor %}

                    <div id="bottom">
                        {% if is_granted('orga:create:tickets:messages', organization) %}
                            <form
                                action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                                method="post"
                                class="timeline__editor flow"
                                data-controller="form-message-documents"
                                data-turbo-preserve-scroll
                            >
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                                {% if error %}
                                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                                {% endif %}

                                {% if ticket.status == 'resolved' %}
                                    <p class="text--center text--success">
                                        {{ icon('check') }}
                                        {{ 'tickets.show.resolved' | trans }}
                                    </p>
                                {% elseif ticket.status == 'closed' %}
                                    <p class="text--center text--secondary">
                                        {{ icon('close') }}
                                        {{ 'tickets.show.closed' | trans }}
                                    </p>
                                {% endif %}

                                <div class="flow flow--small">
                                    {% if errors.content is defined %}
                                        <p class="form__error" role="alert" id="message-error">
                                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                            {{ errors.content }}
                                        </p>
                                    {% endif %}

                                    <div class="editor" data-controller="editor">
                                        <textarea
                                            id="message"
                                            name="message"
                                            data-controller="tinymce"
                                            data-tinymce-upload-url-value="{{ path('create message document') }}"
                                            data-tinymce-upload-csrf-value="{{ csrf_token('create message document') }}"
                                            data-editor-target="tinymce"
                                            data-action="new-document->editor#newDocument remove-document->tinymce#removeImage"
                                            {% if errors.content is defined %}
                                                autofocus
                                                aria-invalid="true"
                                                aria-errormessage="message-error"
                                            {% endif %}
                                        >{{ message }}</textarea>

                                        <div class="editor__documents">
                                            <turbo-frame
                                                id="message-documents"
                                                src="{{ path('message documents', { filter: 'unattached' }) }}"
                                                data-controller="message-documents"
                                                data-editor-target="messageDocuments"
                                                data-action="remove-document->editor#removeDocument new-document->message-documents#reload"
                                            >
                                            </turbo-frame>
                                        </div>
                                    </div>
                                </div>

                                <div class="flow flow--smaller">
                                    {% if is_granted('orga:create:tickets:messages:confidential', organization) %}
                                        <div>
                                            <input
                                                type="checkbox"
                                                id="is-confidential"
                                                name="isConfidential"
                                                {{ isConfidential ? 'checked' }}
                                                {% if errors.isConfidential is defined %}
                                                    aria-invalid="true"
                                                    aria-errormessage="is-confidential-error"
                                                {% endif %}
                                            />

                                            <label for="is-confidential">
                                                {{ 'tickets.show.confidential_answer' | trans }}
                                            </label>
                                        </div>
                                    {% endif %}

                                    {% if errors.isConfidential is defined %}
                                        <p class="form__error" role="alert" id="is-confidential-error">
                                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                            {{ errors.isConfidential }}
                                        </p>
                                    {% endif %}
                                </div>

                                <div class="text--right">
                                    <div class="answer-button button-group" data-controller="button-select">
                                        <button
                                            id="form-create-message-submit"
                                            class="button--primary button-group__item"
                                            type="submit"
                                            data-button-select-target="button"
                                        >
                                            {{ 'tickets.show.answer' | trans }}
                                        </button>

                                        {% if not ticket.isFinished and ticket.assignee == app.user %}
                                            <details
                                                class="popup"
                                                data-controller="popup"
                                                data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                                            >
                                                <summary class="popup__opener">
                                                    <span class="button button--primary button-group__item">
                                                        {{ icon('caret-down') }}
                                                        <span class="sr-only">
                                                            {{ 'tickets.show.answer.select_method' | trans }}
                                                        </span>
                                                    </span>
                                                </summary>

                                                <nav class="popup__container popup__container--right popup__container--top">
                                                    {% set checkedRadio = status == 'pending' or status == 'resolved' or status == 'closed' ? status : 'unchanged' %}
                                                    {% set checkedRadio = checkedRadio == ticket.status ? 'unchanged' : checkedRadio %}
                                                    <div>
                                                        <input
                                                            id="status-unchanged"
                                                            type="radio"
                                                            name="status"
                                                            value=""
                                                            data-action="button-select#update click->popup#close"
                                                            {{ checkedRadio == 'unchanged' ? 'checked' }}
                                                        />
                                                        <label class="popup__item" for="status-unchanged">
                                                            {{ 'tickets.show.answer' | trans }}
                                                        </label>
                                                    </div>

                                                    <div>
                                                        <input
                                                            id="status-pending"
                                                            type="radio"
                                                            name="status"
                                                            value="pending"
                                                            data-action="button-select#update click->popup#close"
                                                            {{ checkedRadio == 'pending' ? 'checked' }}
                                                        />
                                                        <label class="popup__item" for="status-pending">
                                                            {{ 'tickets.show.answer.and_pending' | trans }}
                                                        </label>
                                                    </div>

                                                    <div class="popup__separator"></div>

                                                    <div>
                                                        <input
                                                            id="status-resolved"
                                                            type="radio"
                                                            name="status"
                                                            value="resolved"
                                                            data-action="button-select#update click->popup#close"
                                                            {{ checkedRadio == 'resolved' ? 'checked' }}
                                                        />
                                                        <label class="popup__item" for="status-resolved">
                                                            {{ 'tickets.show.answer.and_resolve' | trans }}
                                                        </label>
                                                    </div>

                                                    <div>
                                                        <input
                                                            id="status-closed"
                                                            type="radio"
                                                            name="status"
                                                            value="closed"
                                                            data-action="button-select#update click->popup#close"
                                                            {{ checkedRadio == 'closed' ? 'checked' }}
                                                        />
                                                        <label class="popup__item" for="status-closed">
                                                            {{ 'tickets.show.answer.and_close' | trans }}
                                                        </label>
                                                    </div>
                                                </nav>
                                            </details>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="ticket__info text--small row__item--noshrink flow flow--larger">
                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend">
                            {{ icon('user-group') }}
                            <strong>{{ 'tickets.actors' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:actors', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.actors.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.requester' | trans }}
                        </div>

                        <div>
                            {{ ticket.requester.displayName }}
                        </div>
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'tickets.assignee' | trans }}
                        </div>

                        <div>
                            {% if ticket.assignee %}
                                {{ ticket.assignee.displayName }}
                            {% elseif is_granted('orga:update:tickets:actors', organization) %}
                                <button
                                    class="button--anchor"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                                >
                                    <strong>{{ 'tickets.unassigned' | trans }}</strong>
                                </button>

                                <form
                                    action="{{ path('update ticket actors', { uid: ticket.uid }) }}"
                                    method="post"
                                    class="form--inline"
                                    data-turbo-preserve-scroll
                                >
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket actors') }}">
                                    <input type="hidden" name="assigneeUid" value="{{ app.user.uid }}">

                                    →
                                    <button id="form-self-assign-submit" class="button--anchor" type="submit">
                                        {{ 'tickets.show.assign_yourself' | trans }}
                                    </button>
                                </form>
                            {% else %}
                                <strong>{{ 'tickets.unassigned' | trans }}</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flow">
                    <div class="row row--center row--always flow">
                        <span class="row__item--extend">
                            {{ icon('priority') }}
                            <strong>{{ 'tickets.priority' | trans }}</strong>
                        </span>

                        {% if is_granted('orga:update:tickets:priority', organization) %}
                            <button
                                class="button--icon"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                            >
                                {{ icon('gear') }}
                                <span class="sr-only">
                                    {{ 'tickets.priority.edit.title' | trans }}
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <div class="ticket__priority badge badge--block badge--bold badge--{{ ticket.priorityBadgeColor }}">
                        {{ ticket.priorityLabel | trans }}
                    </div>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.urgency' | trans }}
                        </span>
                        {{ ticket.urgencyLabel | trans }}
                    </p>

                    <p>
                        <span class="text--secondary">
                            {{ 'tickets.show.impact' | trans }}
                        </span>
                        {{ ticket.impactLabel | trans }}
                    </p>
                </div>

                {% if is_granted('orga:see:tickets:contracts', organization) %}
                    <div class="flow">
                        <div class="row row--center row--always flow">
                            <span class="row__item--extend">
                                {{ icon('contract') }}
                                <strong>{{ 'tickets.contract' | trans }}</strong>
                            </span>

                            {% if is_granted('orga:update:tickets:contracts', organization) %}
                                <button
                                    class="button--icon"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket contracts', { uid: ticket.uid }) }}"
                                >
                                    {{ icon('gear') }}
                                    <span class="sr-only">
                                        {{ 'tickets.contracts.edit.title' | trans }}
                                    </span>
                                </button>
                            {% endif %}
                        </div>

                        {% set ongoingContract = ticket.ongoingContract %}
                        {% if ongoingContract %}
                            <p>
                                {% if is_granted('orga:see:contracts', organization) %}
                                    <a class="anchor--noline" href="{{ path('organization contract', { uid: organization.uid, contract_uid: ongoingContract.uid }) }}">
                                        {{ ongoingContract.name }}
                                    </a>
                                {% else %}
                                    {{ ongoingContract.name }}
                                {% endif %}
                            </p>

                            <div>
                                <span class="text--small" id="contract-hours-consumed">
                                    {{ 'contracts.hours_consumed' | trans({ 'hours': 0, 'maxHours': ongoingContract.maxHours }) | raw }}
                                </span>

                                <progress value="0" max="{{ ongoingContract.maxHours }}" aria-labelledby="contract-hours-consumed">
                                </progress>
                            </div>
                        {% else %}
                            <p class="text--secondary">
                                {{ 'tickets.contracts.none' | trans }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
