{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ "#{ticket.title} (##{ticket.id}) – #{organization.name}" }}{% endblock %}

{% block back %}
    <a href="{{ path('organization tickets', {'uid': organization.uid}) }}">
        {{ 'Back (tickets)' | trans }}
    </a>
{% endblock %}

{% block body %}
    <main class="layout__body flow-larger tickets-show">
        <div class="wrapper-large wrapper--center flow">
            <h1>
                {{ ticket.title }}
                <span class="ticket__id">#{{ ticket.id }}</span>
            </h1>

            <div class="text--center">
                {{ organization.name }}
            </div>

            <div class="text--center">
                <span class="ticket__status badge badge--bold badge--{{ ticket.statusBadgeColor }}" title="{{ 'Status' | trans }}">{{ icon('status') }} {{ ticket.statusLabel | trans }}</span>

                <span class="text--small">
                    <strong>{{ ticket.createdBy.displayName }}</strong>

                    {% if ticket.type == 'request' %}
                        {{ 'opened this <strong>request</strong>' | trans | raw }}
                    {% else %}
                        {{ 'opened this <strong>incident</strong>' | trans | raw }}
                    {% endif %}

                    <time datetime="{{ ticket.createdAt | dateIso }}">
                        {{ 'on %date%' | trans({ '%date%': ticket.createdAt | dateTrans }) }}
                    </time>
                </span>
            </div>
        </div>

        <div class="wrapper-larger wrapper--center row">
            <div class="ticket__timeline row__item--extend flow-large">
                <div class="flow-large timeline">
                    {% for message in messages %}
                        <article class="message {{ ticket.solution == message ? 'message--solution' }} {{ message.isConfidential ? 'message--confidential' }}">
                            <div class="message__avatar">
                                {{ icon('circle-user') }}
                                {% if message.createdBy == ticket.requester %}
                                    <span class="message__role" title="{{ 'Requester' | trans }}">
                                        {{ icon('user') }}
                                        <span class="sr-only">
                                            {{ 'Requester' | trans }}
                                        </span>
                                    </span>
                                {% elseif message.createdBy == ticket.assignee %}
                                    <span class="message__role" title="{{ 'Assignee' | trans }}">
                                        {{ icon('headset') }}
                                        <span class="sr-only">
                                            {{ 'Assignee' | trans }}
                                        </span>
                                    </span>
                                {% endif %}
                            </div>

                            <div class="message__box">
                                <div class="message__top">
                                    {% if ticket.solution == message %}
                                        <div title="{{ 'This message resolved the ticket' | trans }}">
                                            {{ icon('check') }}
                                        </div>
                                    {% endif %}

                                    {% if message.isConfidential %}
                                        <div title="{{ 'This message is confidential' | trans }}">
                                            {{ icon('user-secret') }}
                                        </div>
                                    {% endif %}

                                    <div class="message__author">
                                        {{ message.createdBy.displayName }}
                                    </div>

                                    <div class="message__top-separator"></div>

                                    <time datetime="{{ message.createdAt | dateIso }}" class="message__date">
                                        {{ message.createdAt | dateTrans }}
                                    </time>
                                </div>

                                <div class="message__content">
                                    {{ message.content | raw }}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>

                <form
                    action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                    method="post"
                    class="ticket__editor flow"
                    data-controller="ticket-editor"
                    data-turbo-preserve-scroll
                    data-ticket-editor-ticket-status-value="{{ ticket.status }}"
                >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                    {% if error %}
                        {{ include('alerts/_error.html.twig', { message: error | trans }, with_context = false) }}
                    {% endif %}

                    <div class="flow-small">
                        {% if errors.content is defined %}
                            <p class="form__error" role="alert" id="message-error">
                                <span class="sr-only">{{ 'Error' | trans }}</span>
                                {{ errors.content }}
                            </p>
                        {% endif %}

                        <textarea
                            id="message"
                            name="message"
                            data-controller="tinymce"
                            {% if errors.content is defined %}
                                autofocus
                                aria-invalid="true"
                                aria-errormessage="message-error"
                            {% endif %}
                        >{{ message }}</textarea>
                    </div>

                    <div class="row">
                        <label>
                            {{ 'Mark as…' | trans }}
                        </label>

                        <div class="row row--always">
                            <div>
                                <input
                                    type="checkbox"
                                    id="is-confidential"
                                    name="isConfidential"
                                    {{ isConfidential ? 'checked' }}
                                    data-action="ticket-editor#refresh"
                                    data-ticket-editor-target="confidentialCheckbox"
                                />

                                <label for="is-confidential">
                                    {{ 'confidential' | trans }}
                                </label>
                            </div>

                            <div>
                                <input
                                    type="checkbox"
                                    id="is-solution"
                                    name="isSolution"
                                    {{ isSolution ? 'checked' }}
                                    {{ ticket.isFinished ? 'disabled' }}
                                    data-action="ticket-editor#refresh"
                                    data-ticket-editor-target="solutionCheckbox"
                                />

                                <label for="is-solution">
                                    {{ 'solution' | trans }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% if not ticket.isFinished %}
                            <div class="row__item--extend flow-small">
                                <div class="row row--center row--always">
                                    <label for="status">
                                        {{ 'Status to' | trans }}
                                    </label>

                                    <select
                                        id="status"
                                        name="status"
                                        required
                                        {{ ticket.isFinished ? 'disabled' }}
                                        {% if errors.status is defined %}
                                            autofocus
                                            aria-invalid="true"
                                            aria-errormessage="status-error"
                                        {% endif %}
                                        data-ticket-editor-target="statusSelect"
                                    >
                                        {% for value, label in statuses %}
                                            <option value="{{ value }}" {{ value == status ? 'selected' }}>
                                                {{ label | trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% if errors.status is defined %}
                                    <p class="form__error" role="alert" id="status-error">
                                        <span class="sr-only">{{ 'Error' | trans }}</span>
                                        {{ errors.status }}
                                    </p>
                                {% endif %}
                            </div>
                        {% elseif ticket.status == 'resolved' %}
                            <p class="row__item--extend text--success">
                                {{ icon('check') }}
                                {{ 'This ticket is resolved.' | trans }}
                            </p>
                        {% elseif ticket.status == 'closed' %}
                            <p class="row__item--extend text--secondary">
                                {{ icon('close') }}
                                {{ 'This ticket is closed.' | trans }}
                            </p>
                        {% endif %}

                        <button id="form-create-message-submit" class="button--primary row__item--extend" type="submit">
                            {{ 'Answer' | trans }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="ticket__info row__item--noshrink flow-larger">
                <div class="text--right">
                    <details
                        class="popup"
                        data-controller="popup"
                        data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                    >
                        <summary class="popup__opener">
                            <span class="button">
                                {{ icon('ellipsis') }}
                                {{ 'Actions' | trans }}
                                {{ icon('caret-down') }}
                            </span>
                        </summary>

                        <nav class="popup__container popup__container--left">
                            <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                {% if ticket.type == 'request' %}
                                    <input type="hidden" name="type" value="incident">
                                    <button id="form-update-type-submit" class="popup__item" type="submit">
                                        {{ 'Turn into an incident' | trans }}
                                    </button>
                                {% else %}
                                    <input type="hidden" name="type" value="request">
                                    <button id="form-update-type-submit" class="popup__item" type="submit">
                                        {{ 'Turn into a request' | trans }}
                                    </button>
                                {% endif %}
                            </form>

                            <button
                                class="popup__item"
                                type="button"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket title', { uid: ticket.uid }) }}"
                            >
                                {{ 'Rename the ticket' | trans }}
                            </button>
                        </nav>
                    </details>
                </div>

                <div class="flow">
                    <div class="row row--center row--always">
                        <span class="row__item--extend text--secondary">
                            {{ icon('user-group') }}
                            <strong>{{ 'Actors' | trans }}</strong>
                        </span>

                        <button
                            class="button--icon"
                            data-controller="modal-opener"
                            data-action="modal-opener#fetch"
                            data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                        >
                            {{ icon('gear') }}
                            <span class="sr-only">
                                {{ 'Edit the actors' | trans }}
                            </span>
                        </button>
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'Requester' | trans }}
                        </div>

                        <div>
                            {{ ticket.requester.displayName }}
                        </div>
                    </div>

                    <div>
                        <div class="text--secondary">
                            {{ 'Assignee' | trans }}
                        </div>

                        <div>
                            {% if ticket.assignee %}
                                {{ ticket.assignee.displayName }}
                            {% else %}
                                <strong>{{ 'Unassigned' | trans }}</strong>

                                <form
                                    action="{{ path('update ticket actors', { uid: ticket.uid }) }}"
                                    method="post"
                                    class="form--inline"
                                    data-turbo-preserve-scroll
                                >
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket actors') }}">
                                    <input type="hidden" name="assigneeId" value="{{ app.user.id }}">

                                    →
                                    <button id="form-self-assign-submit" class="button--anchor" type="submit">
                                        {{ 'assign yourself' | trans }}
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flow">
                    <div class="row row--center row--always">
                        <span class="row__item--extend text--secondary">
                            {{ icon('priority') }}
                            <strong>{{ 'Priority' | trans }}</strong>
                        </span>

                        <button
                            class="button--icon"
                            data-controller="modal-opener"
                            data-action="modal-opener#fetch"
                            data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                        >
                            {{ icon('gear') }}
                            <span class="sr-only">
                                {{ 'Edit the priority' | trans }}
                            </span>
                        </button>
                    </div>

                    <div class="ticket__priority badge badge--bold badge--{{ ticket.priorityBadgeColor }}">
                        {{ ticket.priorityLabel | trans }}
                    </div>

                    <p>
                        <span class="text--secondary">
                            {{ 'Urgency:' | trans }}
                        </span>
                        {{ ticket.urgencyLabel | trans }}
                    </p>

                    <p>
                        <span class="text--secondary">
                            {{ 'Impact:' | trans }}
                        </span>
                        {{ ticket.impactLabel | trans }}
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
