{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'organization.html.twig' %}

{% set currentMenu = 'tickets' %}

{% block title %}{{ "##{ticket.id} #{ticket.title} – #{organization.name}" }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('organizations') }}">
            {{ 'organizations.index.title' | trans }}
        </a>

        <a href="{{ path('organization', { uid: organization.uid }) }}">
            {{ organization.name }}
        </a>

        <a href="{{ path('organization tickets', { uid: organization.uid }) }}">
            {{ 'tickets.index.title' | trans }}
        </a>

        <span aria-current="page">
            #{{ ticket.id }} {{ ticket.title }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body layout__body--extend tickets-show">
        <div class="flow flow--small text--center">
            <div class="cols cols--center text--center flow flow--small">
                <h1>
                    #{{ ticket.id }} {{ ticket.title }}
                </h1>

                <span class="ticket__status badge badge--{{ ticket.statusBadgeColor }}" title="{{ 'tickets.status' | trans }}">
                    {{ icon('status') }} {{ ticket.statusLabel | trans }}
                </span>
            </div>

            <p>
                <strong>{{ ticket.createdBy.displayName }}</strong>

                {% if ticket.type == 'request' %}
                    {{ 'tickets.show.opened_request' | trans | raw }}
                {% else %}
                    {{ 'tickets.show.opened_incident' | trans | raw }}
                {% endif %}

                <time datetime="{{ ticket.createdAt | dateIso }}">
                    {{ 'tickets.show.opened_on' | trans({ 'date': ticket.createdAt | dateTrans }) }}
                </time>
            </p>

            <p class="text--secondary">
                {{ 'tickets.show.number_messages' | trans({ 'count': timeline.countItems('message') }) }}
            </p>

            {% set canUpdateType = is_granted('orga:update:tickets:type', organization) and not ticket.isClosed %}
            {% set canUpdateTitle = is_granted('orga:update:tickets:title', organization) and not ticket.isClosed %}
            {% set canUpdateStatus = is_granted('orga:update:tickets:status', organization) %}
            {% set menuHasItem = canUpdateType or canUpdateTitle or canUpdateStatus %}

            <div class="text--right">
                <details
                    class="popup"
                    data-controller="popup"
                    data-action="toggle->popup#update click@window->popup#closeOnClickOutside"
                >
                    <summary class="popup__opener">
                        <span class="button button--discreet">
                            {{ 'common.actions' | trans }}
                            {{ icon('angle-down') }}
                        </span>
                    </summary>

                    <nav class="popup__container popup__container--right">
                        {% if canUpdateType %}
                            <form action="{{ path('update ticket type', { uid: ticket.uid }) }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('update ticket type') }}">
                                {% if ticket.type == 'request' %}
                                    <input type="hidden" name="type" value="incident">
                                    <button id="form-update-type-submit" class="popup__item" type="submit">
                                        {{ 'tickets.show.actions.turn_into_incident' | trans }}
                                    </button>
                                {% else %}
                                    <input type="hidden" name="type" value="request">
                                    <button id="form-update-type-submit" class="popup__item" type="submit">
                                        {{ 'tickets.show.actions.turn_into_request' | trans }}
                                    </button>
                                {% endif %}
                            </form>
                        {% endif %}

                        {% if canUpdateTitle %}
                            <button
                                class="popup__item"
                                type="button"
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ path('edit ticket title', { uid: ticket.uid }) }}"
                            >
                                {{ 'tickets.show.actions.rename' | trans }}
                            </button>
                        {% endif %}

                        {% if canUpdateStatus %}
                            {% if ticket.isClosed %}
                                <form action="{{ path('reopen ticket', { uid: ticket.uid }) }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('reopen ticket') }}">

                                    <button
                                        class="popup__item"
                                        type="submit"
                                        data-turbo-confirm="{{ 'tickets.show.actions.reopen.confirm' | trans }}"
                                    >
                                        {{ 'tickets.show.actions.reopen' | trans }}
                                    </button>
                                </form>
                            {% else %}
                                <button
                                    class="popup__item"
                                    type="button"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket status', { uid: ticket.uid }) }}"
                                >
                                    {{ 'tickets.show.actions.update_status' | trans }}
                                </button>
                            {% endif %}
                        {% endif %}

                        {% if menuHasItem %}
                            <div class="popup__separator"></div>
                        {% endif %}

                        <form
                            method="post"
                            action="{{ path('update hide events') }}"
                            data-turbo-preserve-scroll
                        >
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('update hide events') }}">
                            <input type="hidden" name="from" value="{{ path('ticket', { uid: ticket.uid }) }}">

                            {% if app.user.areEventsHidden %}
                                <button class="popup__item" name="hideEvents" value="false">
                                    {{ 'tickets.show.show_history' | trans }}
                                </button>
                            {% else %}
                                <button class="popup__item" name="hideEvents" value="true">
                                    {{ 'tickets.show.hide_history' | trans }}
                                </button>
                            {% endif %}
                        </form>
                    </nav>
                </details>
            </div>
        </div>

        <div class="cols flow flow--larger">
            <div class="ticket__info text--small col--size3">
                <div class="panel flow flow--large">
                    <div class="flow">
                        <div class="cols cols--center cols--always flow">
                            <h2 class="col--extend">
                                {{ 'tickets.actors' | trans }}
                            </h2>

                            {% if is_granted('orga:update:tickets:actors', organization) and not ticket.isClosed %}
                                <button
                                    class="button--icon button--discreet"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                                >
                                    {{ icon('pen-to-square') }}
                                    <span class="sr-only">
                                        {{ 'tickets.actors.edit.title' | trans }}
                                    </span>
                                </button>
                            {% endif %}
                        </div>

                        <p>
                            <span class="text--secondary">
                                {{ 'tickets.show.requester' | trans }}
                            </span>

                            <strong>
                                {{ ticket.requester.displayName }}
                            </strong>
                        </p>

                        <p>
                            <span class="text--secondary">
                                {{ 'tickets.show.observers' | trans }}
                            </span>

                            <strong>
                                {% if ticket.observers | length > 0 %}
                                    {{ ticket.observers | map(user => user.displayName) | join('common.join.glue' | trans, 'common.join.and' | trans) }}
                                {% else %}
                                    {{ 'tickets.show.observers.none' | trans }}
                                {% endif %}
                            </strong>
                        </p>

                        <p>
                            <span class="text--secondary">
                                {{ 'tickets.show.assignee' | trans }}
                            </span>

                            <strong>
                                {% if ticket.team %}
                                    {{ ticket.team.name }} /
                                {% endif %}

                                {% if ticket.assignee %}
                                    {{ ticket.assignee.displayName }}
                                {% elseif is_granted('orga:update:tickets:actors', organization) %}
                                    <button
                                        class="button--anchor"
                                        data-controller="modal-opener"
                                        data-action="modal-opener#fetch"
                                        data-modal-opener-href-value="{{ path('edit ticket actors', { uid: ticket.uid }) }}"
                                    >
                                        <strong>{{ 'tickets.unassigned' | trans }}</strong>
                                    </button>

                                    {% if is_agent(organization) and (not ticket.team or ticket.team.hasAgent(app.user)) %}
                                        <form
                                            action="{{ path('update ticket actors', { uid: ticket.uid }) }}"
                                            method="post"
                                            class="form--inline"
                                            data-turbo-preserve-scroll
                                        >
                                            <input type="hidden" name="ticket_actors[_token]" value="{{ csrf_token('ticket actors') }}">
                                            <input type="hidden" name="ticket_actors[requester]" value="{{ ticket.requester.id }}">
                                            <input type="hidden" name="ticket_actors[team]" value="{{ ticket.team ? ticket.team.id }}">
                                            <input type="hidden" name="ticket_actors[assignee]" value="{{ app.user.id }}">

                                            →
                                            <button id="form-self-assign-submit" class="button--anchor" type="submit">
                                                {{ 'tickets.show.assign_yourself' | trans }}
                                            </button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <strong>{{ 'tickets.unassigned' | trans }}</strong>
                                {% endif %}
                            </strong>
                        </p>
                    </div>

                    <div class="ticket__info-separator"></div>

                    <div class="flow">
                        <div class="cols cols--center cols--always flow">
                            <h2 class="col--extend">
                                {{ 'tickets.priority' | trans }}
                            </h2>

                            {% if is_granted('orga:update:tickets:priority', organization) and not ticket.isClosed %}
                                <button
                                    class="button--icon button--discreet"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket priority', { uid: ticket.uid }) }}"
                                >
                                    {{ icon('pen-to-square') }}
                                    <span class="sr-only">
                                        {{ 'tickets.priority.edit.title' | trans }}
                                    </span>
                                </button>
                            {% endif %}
                        </div>

                        <div class="ticket__priority badge badge--big badge--{{ ticket.priorityBadgeColor }}">
                            {{ ticket.priorityLabel | trans }}
                        </div>

                        <p>
                            <span class="text--secondary">
                                {{ 'tickets.show.urgency' | trans }}
                            </span>

                            <strong>
                                {{ ticket.urgencyLabel | trans }}
                            </strong>
                        </p>

                        <p>
                            <span class="text--secondary">
                                {{ 'tickets.show.impact' | trans }}
                            </span>

                            <strong>
                                {{ ticket.impactLabel | trans }}
                            </strong>
                        </p>
                    </div>

                    <div class="ticket__info-separator"></div>

                    <div class="flow">
                        <div class="cols cols--center cols--always flow">
                            <h2 class="col--extend">
                                {{ 'tickets.labels' | trans }}
                            </h2>

                            {% if is_granted('orga:update:tickets:labels', organization) and not ticket.isClosed %}
                                <button
                                    class="button--icon button--discreet"
                                    data-controller="modal-opener"
                                    data-action="modal-opener#fetch"
                                    data-modal-opener-href-value="{{ path('edit ticket labels', { uid: ticket.uid }) }}"
                                >
                                    {{ icon('pen-to-square') }}

                                    <span class="sr-only">
                                        {{ 'tickets.labels.edit.title' | trans }}
                                    </span>
                                </button>
                            {% endif %}
                        </div>

                        {% if ticket.labels is not empty %}
                            <ul class="list--nostyle flow flow--inline flow--smaller">
                                {% for label in ticket.labels %}
                                    <li class="badge badge--{{ label.color }}">
                                        {{ label.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text--secondary">
                                {{ 'tickets.labels.none' | trans }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="ticket__info-separator"></div>

                    {% if is_granted('orga:see:tickets:contracts', organization) %}
                        <div class="flow">
                            <div class="cols cols--center cols--always flow">
                                <h2 class="col--extend">
                                    {{ 'tickets.contracts.ongoing' | trans }}
                                </h2>

                                {% if is_granted('orga:update:tickets:contracts', organization) and not ticket.isClosed %}
                                    <button
                                        class="button--icon button--discreet"
                                        data-controller="modal-opener"
                                        data-action="modal-opener#fetch"
                                        data-modal-opener-href-value="{{ path('edit ticket contracts', { uid: ticket.uid }) }}"
                                    >
                                        {{ icon('pen-to-square') }}
                                        <span class="sr-only">
                                            {{ 'tickets.contracts.edit.title' | trans }}
                                        </span>
                                    </button>
                                {% endif %}
                            </div>

                            {% set ongoingContract = ticket.ongoingContract %}
                            {% if ongoingContract %}
                                <p>
                                    {% if is_granted('orga:see:contracts', organization) %}
                                        <a href="{{ path('contract', { uid: ongoingContract.uid }) }}">
                                            {{ ongoingContract.name }}
                                        </a>
                                    {% else %}
                                        {{ ongoingContract.name }}
                                    {% endif %}
                                </p>

                                <div class="flow flow--smaller">
                                    <span class="text--small" id="contract-hours-consumed">
                                        {{ 'contracts.hours_consumed' | trans({
                                            'hours': ongoingContract.consumedMinutes | formatMinutes,
                                            'maxHours': ongoingContract.maxHours,
                                            'percentage': ongoingContract.consumedPercentage,
                                        }) | raw }}
                                    </span>

                                    <progress value="{{ ongoingContract.consumedHours }}" max="{{ ongoingContract.maxHours }}" aria-labelledby="contract-hours-consumed">
                                    </progress>
                                </div>
                            {% else %}
                                <p class="text--secondary">
                                    {{ 'tickets.contracts.none' | trans }}
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="ticket__timeline panel col--size9 flow flow--larger">
                <div class="flow flow--larger timeline wrapper" data-controller="timeline">
                    {% set timelineDate = null %}
                    {% for timelineItem in timeline.sortedItems %}
                        {% if timelineDate == null or timelineDate.format('Y-m-d') != timelineItem.createdAt.format('Y-m-d') %}
                            {# On the next line, "0 + numerical string" converts the string to an integer. #}
                            {% set diff = timelineDate ? 0 + timelineDate.diff(timelineItem.createdAt).format('%a') : 0 %}
                            {% set timelineDate = timelineItem.createdAt %}

                            <div class="timeline__date">
                                <h2 class="text--inline">
                                    <time datetime="{{ timelineDate | date('Y-m-d') }}">
                                        {{ timelineDate | dateShort(true) }}
                                    </time>
                                </h2>

                                    {% if today.format('Y-m-d') == timelineItem.createdAt.format('Y-m-d') %}
                                        <span class="text--secondary">
                                            {{ 'tickets.timeline.today' | trans }}
                                        </span>
                                    {% endif %}

                                {% if diff >= 7 %}
                                    <p class="text--inline text--secondary">
                                        —&nbsp;{{ 'tickets.timeline.diff_days' | trans({ days: diff }) }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if timelineItem.timelineType == 'message' %}
                            {{ include('tickets/_timeline_message.html.twig', { message: timelineItem }) }}
                        {% elseif timelineItem.timelineType == 'time_spent' %}
                            {{ include('tickets/_timeline_time_spent.html.twig', { timeSpent: timelineItem }) }}
                        {% elseif timelineItem.timelineType == 'event' %}
                            {{ include('tickets/_timeline_event.html.twig', { event: timelineItem }) }}
                        {% endif %}
                    {% endfor %}

                    <div id="bottom">
                        {% if is_granted('orga:create:tickets:messages', organization) and not ticket.isClosed %}
                            <form
                                action="{{ path('create ticket message', {'uid': ticket.uid}) }}"
                                method="post"
                                class="timeline__editor flow"
                                data-controller="form-message-documents"
                                data-turbo-preserve-scroll
                            >
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create ticket message') }}">

                                {% if error %}
                                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                                {% endif %}

                                {% if errors.answerType is defined %}
                                    <p class="form__error" role="alert" id="answer-type-error">
                                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                        {{ errors.answerType }}
                                    </p>
                                {% endif %}

                                {% if ticket.status == 'resolved' %}
                                    <p class="text--center text--success">
                                        {{ icon('check') }}
                                        {{ 'tickets.show.resolved' | trans }}
                                    </p>
                                {% endif %}

                                {% set canPostSolutionApprovement = ticket.status == 'resolved' and ticket.requester == app.user %}
                                {% set canSeeAgentMenu = not canPostSolutionApprovement and is_agent(organization) %}

                                {% if canSeeAgentMenu %}
                                    {% set canPostSolution = not ticket.isFinished and not ticket.hasSolution and ticket.assignee == app.user %}
                                    {% set canPostTimeSpent = is_granted('orga:create:tickets:time_spent', organization) %}

                                    <div class="cols flow">
                                        <div class="col--extend">
                                            <select
                                                name="answerType"
                                                class="answer__select-answer-type widget--small"
                                                required
                                                aria-label="{{ 'tickets.show.answer_type' | trans }}"
                                                {% if errors.answerType is defined %}
                                                    aria-invalid="true"
                                                    aria-errormessage="answer-type-error"
                                                {% endif %}
                                            >
                                                <option value="normal" {{ answerType == 'normal' ? 'selected' }}>
                                                    {{ 'tickets.show.answer_type.normal' | trans }}
                                                </option>

                                                {% if is_granted('orga:create:tickets:messages:confidential', organization) %}
                                                    <option value="confidential" {{ answerType == 'confidential' ? 'selected' }}>
                                                        {{ 'tickets.show.answer_type.confidential' | trans }}
                                                    </option>
                                                {% endif %}

                                                {% if canPostSolution %}
                                                    <option value="solution" {{ answerType == 'solution' ? 'selected' }}>
                                                        {{ 'tickets.show.answer_type.solution' | trans }}
                                                    </option>
                                                {% endif %}
                                            </select>
                                        </div>

                                        {% if canPostTimeSpent %}
                                            <div
                                                data-controller="switch"
                                                data-action="keydown.esc->switch#change"
                                                data-switch-for-param="time-spent-button"
                                            >
                                                <div data-switch-target="panel" id="time-spent-button" {{ minutesSpent > 0 ? 'hidden' }}>
                                                    <button
                                                        class="button--discreet text--small"
                                                        type="button"
                                                        data-action="switch#change"
                                                        data-switch-for-param="time-spent-input"
                                                    >
                                                        {{ icon('clock') }}
                                                        {{ 'tickets.time_spent' | trans }}
                                                    </button>
                                                </div>

                                                <div data-switch-target="panel" id="time-spent-input" {{ minutesSpent == 0 ? 'hidden' }}>
                                                    <label>
                                                        <input
                                                            class="input--size2 widget--small"
                                                            name="timeSpent"
                                                            type="number"
                                                            value="{{ minutesSpent }}"
                                                            min="0"
                                                        />

                                                        {{ 'tickets.show.minutes' | trans }}
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <div class="flow flow--small">
                                    {% if errors.content is defined %}
                                        <p class="form__error" role="alert" id="message-error">
                                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                                            {{ errors.content }}
                                        </p>
                                    {% endif %}

                                    <div class="editor" data-controller="editor">
                                        <textarea
                                            id="message"
                                            name="message"
                                            data-controller="tinymce"
                                            data-tinymce-upload-url-value="{{ path('create message document') }}"
                                            data-tinymce-upload-csrf-value="{{ csrf_token('create message document') }}"
                                            data-editor-target="tinymce"
                                            data-action="new-document->editor#newDocument remove-document->tinymce#removeImage"
                                            {% if errors.content is defined %}
                                                autofocus
                                                aria-invalid="true"
                                                aria-errormessage="message-error"
                                            {% endif %}
                                        >{{ message }}</textarea>

                                        <div class="editor__documents">
                                            <turbo-frame
                                                id="message-documents"
                                                src="{{ path('message documents', { filter: 'unattached' }) }}"
                                                data-controller="message-documents"
                                                data-editor-target="messageDocuments"
                                                data-action="remove-document->editor#removeDocument new-document->message-documents#reload"
                                            >
                                            </turbo-frame>
                                        </div>
                                    </div>
                                </div>

                                <div class="text--center">
                                    {% if canPostSolutionApprovement %}
                                        <div class="cols cols--always flow flow--small text--center">
                                            <button
                                                type="submit"
                                                name="answerType"
                                                value="solution refusal"
                                            >
                                                {{ icon('close') }}

                                                {{ 'tickets.show.refuse' | trans }}
                                            </button>

                                            <button
                                                class="button--primary"
                                                type="submit"
                                                name="answerType"
                                                value="solution approval"
                                            >
                                                {{ icon('check') }}

                                                {{ 'tickets.show.approve' | trans }}
                                            </button>
                                        </div>
                                    {% else %}
                                        <button
                                            id="form-create-message-submit"
                                            class="button--primary button--animated-icon"
                                            type="submit"
                                        >
                                            {{ 'tickets.show.answer' | trans }}
                                            {{ icon('arrow-right') }}
                                        </button>
                                    {% endif %}
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
