{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'admin.html.twig' %}

{% set currentMenu = 'users' %}

{% block title %}{{ 'users.edit.title' | trans }} - {{ user.displayName }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('admin') }}">
            {{ 'admin.index.title' | trans }}
        </a>

        <a href="{{ path('users') }}">
            {{ 'users.index.title' | trans }}
        </a>

        <a href="{{ path('user', { uid: user.uid }) }}">
            {{ user.displayName }}
        </a>

        <span aria-current="page">
            {{ 'users.edit.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'users.edit.title' | trans }}</h1>

        <div class="panel">
            {{ include('users/_form.html.twig', { 'form': form }) }}
        </div>

        {% if user != app.user %}
            <div class="panel">
                <form action="{{ path('delete user', { uid: user.uid }) }}" method="post" class="form--standard">
                    <h2>{{ 'users.deletion.title' | trans }}</h2>

                    {{ include('alerts/_alert.html.twig', {
                        type: 'warning',
                        title: 'common.caution' | trans,
                        message: 'users.deletion.going_delete' | trans({ user: user.displayName }),
                    }, with_context = false) }}

                    <div class="form__actions">
                        <button
                            class="button--primary"
                            type="submit"
                            data-turbo-confirm="{{ 'users.deletion.confirm' | trans }}"
                        >
                            {{ 'users.deletion.submit' | trans }}
                        </button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete user') }}">
                </form>
            </div>
        {% endif %}
    </main>
{% endblock %}
