{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'users.new.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'users' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__breadcrumb">
            <a href="{{ path('users') }}">{{ 'users.index.title' | trans }}</a>
            <h1>{{ 'users.new.title' | trans }}</h1>
        </div>

        <form action="{{ path('create user') }}" method="post" class="wrapper wrapper--small flow">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create user') }}">

            {% if error %}
                {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
            {% endif %}

            <div class="flow flow--small">
                <label for="email">
                    {{ 'users.email' | trans }}
                </label>

                {% if errors.email is defined %}
                    <p class="form__error" role="alert" id="email-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.email }}
                    </p>
                {% endif %}

                <input
                    type="email"
                    id="email"
                    name="email"
                    value="{{ email }}"
                    required
                    autofocus
                    {% if errors.email is defined %}
                        aria-invalid="true"
                        aria-errormessage="email-error"
                    {% endif %}
                />
            </div>

            <div class="flow flow--small">
                <label for="name">
                    {{ 'users.name' | trans }}
                    <span class="text--secondary">
                        {{ 'forms.optional_max_chars' | trans({ number: 100 }) }}
                    </span>
                </label>

                {% if errors.name is defined %}
                    <p class="form__error" role="alert" id="name-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.name }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="name"
                    name="name"
                    value="{{ name }}"
                    maxlength="100"
                    autocomplete="name"
                    {% if errors.name is defined %}
                        aria-invalid="true"
                        aria-errormessage="name-error"
                    {% endif %}
                />
            </div>

            <div class="flow flow--small">
                <label for="password">
                    {{ 'users.password' | trans }}
                    <span class="text--secondary">
                        {{ 'users.new.leave_password_empty' | trans }}
                    </span>
                </label>

                <div class="input-container" data-controller="password">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="new-password"
                        data-password-target="input"
                    />

                    <button
                        type="button"
                        role="switch"
                        data-action="password#toggle"
                        data-password-target="button"
                    >
                        {{ icon('eye') }}
                        {{ icon('eye-slash') }}
                        <span class="sr-only">
                            {{ 'forms.show_password' | trans }}
                        </span>
                    </button>
                </div>
            </div>

            <div class="flow flow--small">
                <label for="organization">
                    {{ 'users.organization' | trans }}
                </label>

                <p class="form__caption" id="organization-caption">
                    {{ 'users.new.organization_caption' | trans }}
                </p>

                {% if errors.organization is defined %}
                    <p class="form__error" role="alert" id="organization-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.organization }}
                    </p>
                {% endif %}

                <select
                    id="organization"
                    name="organization"
                    aria-describedby="organization-caption"
                    {% if errors.organization is defined %}
                        aria-invalid="true"
                        aria-errormessage="organization-error"
                    {% endif %}
                >
                    <option value="">
                        {{ 'users.no_organization' | trans }}
                    </option>

                    {{ include(
                        'organizations/_organizations_as_options.html.twig',
                        {
                            organizations: organizations,
                            selected: organizationUid,
                        },
                        with_context = false
                    ) }}
                </select>
            </div>

            <div class="form__actions">
                <button id="form-create-user-submit" class="button--primary" type="submit">
                    {{ 'users.new.submit' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
