{#
 # This file is part of Bileto.
 # Copyright 2022-2025 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'errors.404.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'errors.404.title' | trans }}</h1>

        <div class="text--center wrapper wrapper--small wrapper--center flow flow--large">
            <p class="text--big">
                {{ 'errors.404.description' | trans }}
            </p>

            <p>
                <a class="button button--primary button--uppercase" href="{{ path('home') }}">
                    {{ 'errors.back_home' | trans }}
                </a>
            </p>
        </div>
    </main>
{% endblock %}
