{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

 {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    <div class="flow flow--small">
        {{ form_label(form.domains) }}

        {{ form_help(form.domains) }}

        {% for childField in form.domains %}
            {{ form_errors(childField) }}
        {% endfor %}

        {{ include('form/_input_texts.html.twig', {
            field: form.domains,
            inputAttrs: {
                'aria-describedby': field_id(form.domains, 'caption'),
            }
        }, with_context = false) }}
    </div>

    {% if form.responsibleTeam.vars.choices is not empty %}
        {{ form_row(form.responsibleTeam) }}
    {% else %}
        <!-- {{ field_name(form.responsibleTeam) }} -->
    {% endif %}
{{ form_end(form) }}
