{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{{ form_start(form, { attr: {
    'class': 'form--standard',
}}) }}
    {{ form_errors(form) }}

    <div class="flow flow--small">
        <label for="{{ field_id(form.name) }}">
            {{ 'organizations.name' | trans }}

            <small class="text--secondary">
                {{ 'forms.max_chars' | trans({ number: 255 }) }}
            </small>
        </label>

        {{ form_errors(form.name) }}

        <input
            type="text"
            id="{{ field_id(form.name) }}"
            name="{{ field_name(form.name) }}"
            value="{{ field_value(form.name) }}"
            required
            maxlength="255"
            {% if field_has_errors(form.name) %}
                aria-invalid="true"
                aria-errormessage="{{ field_id(form.name, 'error') }}"
            {% endif %}
        />
    </div>

    <div class="flow flow--small">
        <label for="{{ field_id(form.domains) }}">
            {{ 'organizations.domains' | trans }}

            <small class="text--secondary">
                {{ 'forms.optional' | trans }}
            </small>
        </label>

        <p id="domains-caption" class="form__caption">
            {{ 'organizations.domains.caption' | trans }}
        </p>

        {% for childField in form.domains %}
            {{ form_errors(childField) }}
        {% endfor %}

        {{ include('form/_input_texts.html.twig', {
            field: form.domains,
            inputAttrs: {
                'aria-describedby': 'domains-caption',
            }
        }, with_context = false) }}
    </div>

    {% if form.responsibleTeam.vars.choices is not empty %}
        <div class="flow flow--small">
            <label for="{{ field_id(form.responsibleTeam) }}">
                {{ 'organizations.responsible_team' | trans }}

                <small class="text--secondary">
                    {{ 'forms.optional' | trans }}
                </small>
            </label>

            {{ form_errors(form.responsibleTeam) }}

            <p id="{{ field_id(form.responsibleTeam, 'caption') }}" class="form__caption">
                {{ 'organizations.responsible_team.caption' | trans }}
            </p>

            <select
                id="{{ field_id(form.responsibleTeam) }}"
                name="{{ field_name(form.responsibleTeam) }}"
                aria-describedby="{{ field_id(form.responsibleTeam, 'caption') }}"
                {% if field_has_errors(form.responsibleTeam) %}
                    aria-invalid="true"
                    aria-errormessage="{{ field_id(form.responsibleTeam, 'error') }}"
                {% endif %}
            >
                <option value="">
                    {{ 'organizations.responsible_team.auto' | trans }}
                </option>

                {% for choice in form.responsibleTeam.vars.choices %}
                    <option
                        value="{{ choice.value }}"
                        {{ choice.value == field_value(form.responsibleTeam) ? 'selected' }}
                    >
                        {{ choice.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <!-- {{ field_name(form.responsibleTeam) }} -->
    {% endif %}

    <div class="form__actions">
        <button class="button--primary" type="submit">
            {{ submit_label }}
        </button>
    </div>
{{ form_end(form) }}
