{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% if depth is not defined %}
    {% set depth = 0 %}
{% endif %}

{% if selected is not defined %}
    {% set selected = null %}
{% endif %}

{% for organization in organizations %}
    <option value="{{ organization.uid }}" {{ organization.uid == selected ? 'selected' }}>
        {{ ' ' | repeat(depth * 4) }}{{ organization.name }}
    </option>

    {{ include(
        'organizations/_organizations_as_options.html.twig',
        {
            organizations: organization.subOrganizations,
            selected: selected,
            depth: depth + 1,
        },
        with_context = false
    ) }}
{% endfor %}
