{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% for organization in organizations %}
    <li class="row" data-test="organization-item">
        <span class="row__item--extend">
            {% if parentName is defined %}
                <span class="text--secondary">
                    {{ parentName }}&nbsp;/
                </span>
            {% endif %}

            {{ organization.name }}
        </span>

        <div class="row__item--noshrink row row--always row--center flow flow--small">
            <a href="{{ path('edit organization', { uid: organization.uid }) }}">
                {{ 'organizations.index.edit' | trans }}
            </a>

            <a href="{{ path('deletion organization', { uid: organization.uid }) }}">
                {{ 'organizations.index.delete' | trans }}
            </a>
        </div>
    </li>

    {{ include(
        'organizations/_organizations_as_admin_list.html.twig',
        {
            organizations: organization.subOrganizations,
            parentName: organization.name,
        },
        with_context = false
    ) }}
{% endfor %}
