{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'settings' %}

{% block title %}{{ 'organizations.index.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('settings/_sidebar.html.twig', { current: 'organizations' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow organizations-index">
        <div class="layout__breadcrumb">
            <h1>{{ 'organizations.index.title' | trans }}</h1>
        </div>

        <div class="wrapper wrapper--large flow">
            <div class="row row--center row--always flow">
                <a href="{{ path('new organization') }}" class="anchor--action">
                    {{ icon('plus') }}
                    {{ 'organizations.index.new_organization' | trans }}
                </a>

                <p class="text--secondary">
                    {{ 'organizations.index.number' | trans({ count: countOrganizations }) }}
                </p>
            </div>

            <ul class="list--padded list--border list--nostyle">
                {% for organization in organizations %}
                    <li class="flow flow--small" data-test="organization-item">
                        <div class="row">
                            <span class="row__item--extend">
                                {{ organization.name }}
                            </span>

                            <div class="row__item--noshrink row row--always row--center flow flow--small">
                                <a href="{{ path('edit organization', { uid: organization.uid }) }}">
                                    {{ 'organizations.index.edit' | trans }}
                                </a>

                                <a href="{{ path('deletion organization', { uid: organization.uid }) }}">
                                    {{ 'organizations.index.delete' | trans }}
                                </a>
                            </div>
                        </div>

                        <ul class="list--padded list--nostyle list--strip text--small">
                            {{ include(
                                'organizations/_organizations_as_admin_list.html.twig',
                                { organizations: organization.subOrganizations },
                                with_context = false
                            ) }}
                        </ul>

                        {# Disabled while we are considering a better solution.
                         # See https://github.com/Probesys/bileto/issues/516

                        <div class="text--small">
                            <a href="{{ path('new organization', { parent: organization.uid }) }}">
                                {{ icon('plus') }}
                                {{ 'organizations.index.new_sub_organization' | trans }}
                            </a>
                        </div>
                        #}
                    </li>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
