{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Organizations' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <h1>{{ 'Organizations' | trans }}</h1>

        <div class="wrapper-large wrapper--center flow">
            {% if organizations %}
                <a class="anchor--action" href="{{ path('new organization') }}">
                    {{ icon('plus') }}
                    {{ 'New organization' | trans }}
                </a>

                <div class="grid">
                    {% for organization in organizations %}
                        <div class="card flow" data-test="organization-item">
                            <a class="card__title" href="{{ path('organization', { uid: organization.uid }) }}">
                                {{ organization.name }}
                            </a>

                            <div class="card__body">
                            </div>

                            <div class="text--center text--small">
                                <a href="{{ path('new organization', { parent: organization.uid }) }}">
                                    {{ icon('plus') }}
                                    {{ '<span class="sr-only">New</span> sub-organization' | trans | raw }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text--center flow-large">
                    <p class="placeholder" data-test="organizations-placeholder">
                        {{ icon('organization') }}
                        {{ 'No organization' | trans }}
                    </p>

                    <p class="text--big">
                        <a class="anchor--action" href="{{ path('new organization') }}">
                            {{ icon('plus') }}
                            {{ 'New organization' | trans }}
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
