{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'organizations' %}

{% block title %}{{ 'organizations.index.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow wrapper wrapper--large wrapper--center">
        <div class="layout__breadcrumb">
            <h1>{{ 'organizations.index.title' | trans }}</h1>
        </div>

        <div class="flow">
            <div class="row row--center row--always flow">
                {% if is_granted('admin:create:organizations') %}
                    <a href="{{ path('new organization') }}" class="anchor--action">
                        {{ icon('plus') }}
                        {{ 'organizations.index.new_organization' | trans }}
                    </a>
                {% endif %}

                <p class="text--secondary">
                    {{ 'organizations.index.number' | trans({ count: organizations|length }) }}
                </p>
            </div>

            <ul class="list--padded list--border list--nostyle">
                {% for organization in organizations %}
                    <li class="flow flow--small" data-test="organization-item">
                        <a href="{{ path('organization', { uid: organization.uid }) }}">
                            {{ organization.name }}
                        </a>
                    </li>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
