{#
 # This file is part of Bileto.
 # Copyright 2022-2023 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'organizations.new.title' | trans }}{% endblock %}

{% block sidebar %}
    {{ include('_sidebar_settings.html.twig', { current: 'organizations' }, with_context = false) }}
{% endblock %}

{% block body %}
    <main class="layout__body flow">
        <div class="layout__body-header">
            <a href="{{ path('organizations') }}">{{ 'organizations.index.title' | trans }}</a>
            <h1>{{ 'organizations.new.title' | trans }}</h1>
        </div>

        <form action="{{ path('create organization', { parent: parentOrganization.uid ?? null }) }}" method="post" class="wrapper-small flow">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create organization') }}">

            {% if error %}
                {{ include('alerts/_error.html.twig', { message: error | trans }, with_context = false) }}
            {% endif %}

            <div class="flow-small">
                <label for="name">
                    {{ 'organizations.name' | trans }}
                    <small class="text--secondary">
                        {{ 'forms.max_chars' | trans({ number: 255 }) }}
                    </small>
                </label>

                {% if errors.name is defined %}
                    <p class="form__error" role="alert" id="name-error">
                        <span class="sr-only">{{ 'forms.error' | trans }}</span>
                        {{ errors.name }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    id="name"
                    name="name"
                    value="{{ name }}"
                    required
                    autofocus
                    maxlength="255"
                    {% if errors.name is defined %}
                        aria-invalid="true"
                        aria-errormessage="name-error"
                    {% endif %}
                />
            </div>

            {% if parentOrganization %}
                <div class="flow-small" data-test="form-group-parent-organization">
                    <label for="parent">
                        {{ 'organizations.parent_orga' | trans }}
                    </label>

                    {% if errors.parentsPath is defined %}
                        <p class="form__error" role="alert" id="parent-error">
                            <span class="sr-only">{{ 'forms.error' | trans }}</span>
                            {{ errors.parentsPath }}
                        </p>
                    {% endif %}

                    <select
                        id="parent"
                        name="selectedParent"
                        required
                        {% if errors.parentsPath is defined %}
                            autofocus
                            aria-invalid="true"
                            aria-errormessage="parent-error"
                        {% endif %}
                    >
                        {{ include(
                            'organizations/_organizations_as_options.html.twig',
                            {
                                organizations: [parentOrganization],
                                selectedParentUid: selectedParentUid,
                            },
                            with_context = false
                        ) }}
                    </select>
                </div>
            {% endif %}

            <div class="form__actions">
                <button id="form-create-organization-submit" class="button--primary" type="submit">
                    {{ 'organizations.new.submit' | trans }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
