{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'organizations' %}

{% block title %}{{ 'organizations.new.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow wrapper wrapper--large wrapper--center">
        <div class="layout__breadcrumb">
            <a href="{{ path('organizations') }}">{{ 'organizations.index.title' | trans }}</a>
            <h1>{{ 'organizations.new.title' | trans }}</h1>
        </div>

        {{ include('organizations/_form.html.twig', {
            'form': form,
            'submit_label': 'organizations.new.submit' | trans,
        }) }}
    </main>
{% endblock %}
