{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'organization.html.twig' %}

{% set currentMenu = 'settings' %}

{% block title %}{{ 'organizations.settings.title' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav class="layout__breadcrumb" aria-label="{{ 'layout.breadcrumb' | trans }}">
        <a href="{{ path('home') }}">
            {{ 'layout.home' | trans }}
        </a>

        <a href="{{ path('organizations') }}">
            {{ 'organizations.index.title' | trans }}
        </a>

        <a href="{{ path('organization', { uid: organization.uid }) }}">
            {{ organization.name }}
        </a>

        <span aria-current="page">
            {{ 'organizations.settings.title' | trans }}
        </span>
    </nav>
{% endblock %}

{% block body %}
    <main class="layout__body">
        <h1>{{ 'organizations.settings.title' | trans }}</h1>

        <div class="panel">
            {{ include('organizations/_form.html.twig', {
                'form': form,
                'submit_label': 'forms.save_changes' | trans,
            }) }}
        </div>

        <div class="panel">
            <form action="{{ path('delete organization', { uid: organization.uid }) }}" method="post" class="form--standard">
                <h2>{{ 'organizations.settings.deletion.title' | trans }}</h2>

                {{ include('alerts/_alert.html.twig', {
                    type: 'warning',
                    title: 'common.caution' | trans,
                    message: 'organizations.settings.deletion.going_delete' | trans({ organization: organization.name }),
                }, with_context = false) }}

                {% if error %}
                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                {% endif %}

                <div class="form__actions">
                    <button
                        id="form-delete-organization-submit"
                        class="button--primary"
                        type="submit"
                        data-turbo-confirm="{{ 'organizations.settings.deletion.confirm' | trans }}"
                    >
                        {{ 'organizations.settings.deletion.submit' | trans }}
                    </button>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete organization') }}">
            </form>
        </div>
    </main>
{% endblock %}
