{#
 # This file is part of Bileto.
 # Copyright 2022-2024 Probesys
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #}

{% extends 'base.html.twig' %}

{% set currentPage = 'organizations' %}

{% block title %}{{ 'organizations.settings.title' | trans }}{% endblock %}

{% block body %}
    <main class="layout__body flow flow--larger wrapper wrapper--large wrapper--center">
        <div class="flow">
            <div class="layout__breadcrumb">
                <a href="{{ path('organization', { uid: organization.uid }) }}">{{ organization.name }}</a>
                <h1>{{ 'organizations.settings.title' | trans }}</h1>
            </div>

            {{ include('organizations/_form.html.twig', {
                'form': form,
                'submit_label': 'forms.save_changes' | trans,
            }) }}
        </div>

        <div class="flow">
            <h2>{{ 'organizations.settings.deletion.title' | trans }}</h2>

            <form action="{{ path('delete organization', { uid: organization.uid }) }}" method="post" class="wrapper wrapper--small flow">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete organization') }}">

                {{ include('alerts/_alert.html.twig', {
                    type: 'warning',
                    title: 'common.caution' | trans,
                    message: 'organizations.settings.deletion.going_delete' | trans({ organization: organization.name }),
                }, with_context = false) }}

                {% if error %}
                    {{ include('alerts/_error.html.twig', { message: error }, with_context = false) }}
                {% endif %}

                <div class="form__actions">
                    <button
                        id="form-delete-organization-submit"
                        class="button--primary"
                        type="submit"
                        data-turbo-confirm="{{ 'organizations.settings.deletion.confirm' | trans }}"
                    >
                        {{ 'organizations.settings.deletion.submit' | trans }}
                    </button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
